Extract_mail
{
  "updatedAt": "2026-02-18T07:14:44.507Z",
  "createdAt": "2026-02-11T04:14:30.198Z",
  "id": "NKSgZKDRvHVY9U9VBm5mz",
  "name": "Extract_mail",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Task: Extract Load Details from the provided email {{ $json.text_content }}\n\nExtraction Requirements:\nPlease identify and extract the following fields. If a field is not mentioned in the text, return null.\n\nLoad_details:\n\nEmail Received Date (MM-DD-YYYY),\nEmail Received Time (HH:MM:SS),\n(if there are no email_received_date and email_recieved_time in text_content then extract information from alternative email timings{{ $json.email_timing }})\nLoad ID,\nShipper Name,\nTotal Miles,\nWeight,\nTruck Type(If there is no Truck type in the mail search for similar fields llike TM Equipment Type and etc),\nTeam Required (Yes if Total Miles >=500 else No),\nNumber of Stops,\nPickup Date and Time (MM-DD-YYYY HH:MM),\nDelivery Date and Time (MM-DD-YYYY HH:MM).\nOrigin (City, State, Zip, Location ID), \nDestination (City, State, Zip, Location ID).\n\nStop Details: > extract data of all stops\n\nStop number,\nType:(Pickup if stop1 elif stop3 Delivery else Stop),\nCity, \nState, \nZip, \nCountry.\n\nOutput Format: \nProvide the data in a clean,JSON format matching these headers.\nOutput should in the below format only, without the text field\nFollow this exact structure:\n[\n  {\n    \"text\": \"```\\n{\\n  \\\"load_details\\\": {\\n    \\\"email_received_date\\\": \\\"DATE\\\",\\n    \\\"email_received_time\\\": \\\"TIME\\\",\\n    \\\"load_id\\\": \\\"STRING\\\",\\n    \\\"shipper_name\\\": \\\"STRING\\\",\\n    \\\"total_miles\\\": FLOAT,\\n    \\\"weight\\\": FLOAT,\\n    \\\"truck_type\\\": \\\"STRING\\\",\\n    \\\"team_required\\\": \\\"Yes/No\\\",\\n    \\\"number_of_stops\\\": INT,\\n    \\\"pickup_date_time\\\": \\\"DATE AND TIME\\\",\\n    \\\"delivery_date_time\\\": \\\"DATE AND TIME\\\",\\n    \\\"origin_city\\\": \\\"STRING\\\",\\n    \\\"origin_state\\\": \\\"STRING\\\",\\n    \\\"origin_zip\\\": \\\"INT\\\",\\n    \\\"origin_location_id\\\": \\\"STRING\\\",\\n    \\\"destination_city\\\": \\\"STIRNG\\\",\\n    \\\"destination_state\\\": \\\"STRING\\\",\\n    \\\"destination_zip\\\": \\\"INT\\\",\\n    \\\"destination_location_id\\\": \\\"INT\\\"\\n  },\\n  \\\"all_stop_details\\\": [\\n    {\\n      \\\"stop_number\\\": INT,\\n      \\\"stop_type\\\": \\\"Pickup Or Stop OR Delivery\\\",\\n      \\\"city\\\": \\\"STRING\\\",\\n      \\\"state\\\": \\\"STRING\\\",\\n      \\\"zip\\\": \\\"INT\\\",\\n      \\\"country\\\": \\\"INT\\\"\\n    },\\n```\"\n  }\n]\n\nINSTRUCTIONS:\n\n*DO NOT CONSIDER THE Service Requirements,KEY PERFORMANCE METRICS, Work Requirements,VEHICLE REQUIREMENTS AND SPECIFICATIONS, and LICENSE IN THE MAIL.\n*DO NOT CONSIDER ANY EXTERNAL LINKS IN THE MAIL\n*DO NOT CONSIDER ANY ACKNOWLEDGEMENT MESSAGES AND INSTRUCTIONS IN THE MAIL.\n*DO CONSIDER THE FROM AND TO MESSAGES IN THE MAIL.",
        "messages": {
          "messageValues": [
            {
              "message": "Role: You are a specialized Logistics Data Extraction Assistant.\n Your goal is to parse unstructured email text and extract \"Load Data\"  and \"Stops Data\" into a structured JSON format.\n  Instructions:  Identify Entities: Locate the Origin, Destination, Pickup Date, Delivery Date, Equipment Type, and Rate.  \nStandardization: Convert all dates to YYYY-MM-DD format. \nValidation: If a piece of information is missing, set the value to null. Do not guess.  \nOutput: Return only a valid JSON object. No conversational filler or prose."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -352,
        144
      ],
      "id": "8980a887-46e7-4e6f-a7e8-e98a1a589a05",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  try {\n    // 1. CLEAN THE DATA: Remove markdown backticks and the \"json\" label\n    // This regex looks for ```json (case insensitive) and the closing ```\n    const cleanedText = item.json.text\n      .replace(/```json/gi, \"\")\n      .replace(/```/g, \"\")\n      .trim();\n\n    // 2. Parse the now-clean string\n    const data = JSON.parse(cleanedText);\n    \n    // Note: In your example data, the object is NOT wrapped in an array [ ], \n    // it's a direct object { }. So we don't need rawData[0].\n    \n    // 3. Extract load and stop objects\n    const load = data.load_details || {};\n    const stopsArray = data.all_stop_details || [];\n\n    // 4. Map the stops\n    const formattedStops = stopsArray.map((stop) => ({\n      ...stop,\n      country: stop.country || \"USA\",\n      load_id: load.load_id \n    }));\n\n    return {\n      json: {\n        load_id: load.load_id,\n        load_details: load,\n        all_stop_details: formattedStops\n      }\n    };\n\n  } catch (e) {\n    return { \n      json: { \n        error: \"Parsing Failed\", \n        message: e.message, \n        original_data: item.json.text.substring(0, 50) + \"...\" \n      } \n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        144
      ],
      "id": "632cee62-19d1-47ba-8690-3cccb6e24c06",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "load_details",
          "mode": "list",
          "cachedResultName": "load_details"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_miles": "={{ $json.load_details.total_miles }}",
            "weight": "={{ $json.load_details.weight }}",
            "number_of_stops": "={{ $json.load_details.number_of_stops }}",
            "load_id": "={{ $json.load_details.load_id }}",
            "email_received_date": "={{ $json.load_details.email_received_date }}",
            "email_received_time": "={{ $json.load_details.email_received_time }}",
            "shipper_name": "={{ $json.load_details.shipper_name }}",
            "truck_type": "={{ $json.load_details.truck_type }}",
            "team_required": "={{ $json.load_details.team_required }}",
            "pickup_date_time": "={{ $json.load_details.pickup_date_time }}",
            "delivery_date_time": "={{ $json.load_details.delivery_date_time }}",
            "origin_city": "={{ $json.load_details.origin_city }}",
            "origin_state": "={{ $json.load_details.origin_state }}",
            "origin_zip": "={{ $json.load_details.origin_zip }}",
            "origin_location_id": "={{ $json.load_details.origin_location_id }}",
            "destination_city": "={{ $json.load_details.destination_city }}",
            "destination_state": "={{ $json.load_details.destination_state }}",
            "destination_zip": "={{ $json.load_details.destination_zip }}",
            "destination_location_id": "={{ $json.load_details.destination_location_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "load_id",
              "displayName": "load_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_received_date",
              "displayName": "email_received_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_received_time",
              "displayName": "email_received_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true
            },
            {
              "id": "shipper_name",
              "displayName": "shipper_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_miles",
              "displayName": "total_miles",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "weight",
              "displayName": "weight",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "truck_type",
              "displayName": "truck_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "team_required",
              "displayName": "team_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "number_of_stops",
              "displayName": "number_of_stops",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "pickup_date_time",
              "displayName": "pickup_date_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_date_time",
              "displayName": "delivery_date_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "origin_city",
              "displayName": "origin_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "origin_state",
              "displayName": "origin_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "origin_zip",
              "displayName": "origin_zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "origin_location_id",
              "displayName": "origin_location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination_city",
              "displayName": "destination_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination_state",
              "displayName": "destination_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination_zip",
              "displayName": "destination_zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "destination_location_id",
              "displayName": "destination_location_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        240
      ],
      "id": "18b03b34-8b34-4abb-8777-d128ea60b82b",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "CnUfmV48bOkEYfhg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "stop_details",
          "mode": "list",
          "cachedResultName": "stop_details"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "stop_number": "={{ $json.stop_number }}",
            "city": "={{ $json.city }}",
            "state": "={{ $json.state }}",
            "zip": "={{ $json.zip }}",
            "country": "={{ $json.country }}",
            "load_id": "={{ $('Code in JavaScript').item.json.load_details.load_id }}",
            "stop_type": "={{ $json.stop_type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "load_id",
              "displayName": "load_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stop_number",
              "displayName": "stop_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "stop_type",
              "displayName": "stop_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "zip",
              "displayName": "zip",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        560,
        80
      ],
      "id": "03bfecf4-ba94-4ea0-883c-599f5f9f8390",
      "name": "Insert rows in a table1",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "CnUfmV48bOkEYfhg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Extracting the details from the mail\n1)Exttract the mail using gmail api\n2)Used LLM to filter the required info from the mail",
        "height": 656,
        "width": 960,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -992,
        -48
      ],
      "typeVersion": 1,
      "id": "5a65e8a3-c325-4e2b-a652-423b818e4516",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Storing the details into Postgres db\n1)Processed the output by the LLM\n2)stored the details of loads and stops into different tables",
        "height": 656,
        "width": 912,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -48
      ],
      "typeVersion": 1,
      "id": "9c50cabd-d672-47d7-98c4-e71ecf2f41f8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "// Get the first item from the input array\nreturn $input.all().map(item => {\n  const emailText = item.json.text;\n  // Note: item.json.date is the parsed ISO date from n8n's Gmail node\n  // item.json.headers.date is the raw string from the email header\n  const emailTime = item.json.headers.date;\n\n  return {\n    json: {\n      text_content: emailText,\n      email_timing: emailTime\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        144
      ],
      "id": "2190447e-c028-47f9-b8c0-3f513df8fab5",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "all_stop_details",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        80
      ],
      "id": "7e7bb021-28e6-49da-951c-53dd8d24f9ce",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -848,
        144
      ],
      "id": "2bd7f2b6-165c-4628-9aaa-43365218fbae",
      "name": "Get many messages",
      "webhookId": "d9a4c553-8ed4-4ce7-a2d9-458aac08aaef",
      "credentials": {
        "gmailOAuth2": {
          "id": "vwUPAWu522xp6Bny",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "path": "ad16361a-8392-4ad5-b27f-dd96b2e9cdc7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        144
      ],
      "id": "30014ca4-ca3b-4fb6-acad-ab24fe7b0c0a",
      "name": "Webhook",
      "webhookId": "ad16361a-8392-4ad5-b27f-dd96b2e9cdc7"
    },
    {
      "parameters": {
        "events": [
          "activate",
          "update"
        ]
      },
      "type": "n8n-nodes-base.n8nTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        656
      ],
      "id": "dbe31058-b625-44d3-991e-23fd2b843b59",
      "name": "n8n Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Xf6LDtnYGZml6Iwz",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 3",
          "cachedResultUrl": "/workflow/Xf6LDtnYGZml6Iwz"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -352,
        656
      ],
      "id": "a3ee56a2-1795-4619-907c-4d44562cf94e",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -576,
        384
      ],
      "id": "e1408b19-c2ff-4b42-b446-611535fcdd62",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "QYLHsZYZCnpLyrql",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Trigger": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2474f40c-7bec-4456-8dbb-c064332e04fe",
  "activeVersionId": "2474f40c-7bec-4456-8dbb-c064332e04fe",
  "triggerCount": 2,
  "shared": [
    {
      "updatedAt": "2026-02-11T04:14:30.204Z",
      "createdAt": "2026-02-11T04:14:30.204Z",
      "role": "workflow:owner",
      "workflowId": "NKSgZKDRvHVY9U9VBm5mz",
      "projectId": "xYFaUA8eDj6pQBYB"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-18T07:14:47.000Z",
    "createdAt": "2026-02-18T07:14:44.508Z",
    "versionId": "2474f40c-7bec-4456-8dbb-c064332e04fe",
    "workflowId": "NKSgZKDRvHVY9U9VBm5mz",
    "nodes": [
      {
        "parameters": {
          "promptType": "define",
          "text": "=Task: Extract Load Details from the provided email {{ $json.text_content }}\n\nExtraction Requirements:\nPlease identify and extract the following fields. If a field is not mentioned in the text, return null.\n\nLoad_details:\n\nEmail Received Date (MM-DD-YYYY),\nEmail Received Time (HH:MM:SS),\n(if there are no email_received_date and email_recieved_time in text_content then extract information from alternative email timings{{ $json.email_timing }})\nLoad ID,\nShipper Name,\nTotal Miles,\nWeight,\nTruck Type(If there is no Truck type in the mail search for similar fields llike TM Equipment Type and etc),\nTeam Required (Yes if Total Miles >=500 else No),\nNumber of Stops,\nPickup Date and Time (MM-DD-YYYY HH:MM),\nDelivery Date and Time (MM-DD-YYYY HH:MM).\nOrigin (City, State, Zip, Location ID), \nDestination (City, State, Zip, Location ID).\n\nStop Details: > extract data of all stops\n\nStop number,\nType:(Pickup if stop1 elif stop3 Delivery else Stop),\nCity, \nState, \nZip, \nCountry.\n\nOutput Format: \nProvide the data in a clean,JSON format matching these headers.\nOutput should in the below format only, without the text field\nFollow this exact structure:\n[\n  {\n    \"text\": \"```\\n{\\n  \\\"load_details\\\": {\\n    \\\"email_received_date\\\": \\\"DATE\\\",\\n    \\\"email_received_time\\\": \\\"TIME\\\",\\n    \\\"load_id\\\": \\\"STRING\\\",\\n    \\\"shipper_name\\\": \\\"STRING\\\",\\n    \\\"total_miles\\\": FLOAT,\\n    \\\"weight\\\": FLOAT,\\n    \\\"truck_type\\\": \\\"STRING\\\",\\n    \\\"team_required\\\": \\\"Yes/No\\\",\\n    \\\"number_of_stops\\\": INT,\\n    \\\"pickup_date_time\\\": \\\"DATE AND TIME\\\",\\n    \\\"delivery_date_time\\\": \\\"DATE AND TIME\\\",\\n    \\\"origin_city\\\": \\\"STRING\\\",\\n    \\\"origin_state\\\": \\\"STRING\\\",\\n    \\\"origin_zip\\\": \\\"INT\\\",\\n    \\\"origin_location_id\\\": \\\"STRING\\\",\\n    \\\"destination_city\\\": \\\"STIRNG\\\",\\n    \\\"destination_state\\\": \\\"STRING\\\",\\n    \\\"destination_zip\\\": \\\"INT\\\",\\n    \\\"destination_location_id\\\": \\\"INT\\\"\\n  },\\n  \\\"all_stop_details\\\": [\\n    {\\n      \\\"stop_number\\\": INT,\\n      \\\"stop_type\\\": \\\"Pickup Or Stop OR Delivery\\\",\\n      \\\"city\\\": \\\"STRING\\\",\\n      \\\"state\\\": \\\"STRING\\\",\\n      \\\"zip\\\": \\\"INT\\\",\\n      \\\"country\\\": \\\"INT\\\"\\n    },\\n```\"\n  }\n]\n\nINSTRUCTIONS:\n\n*DO NOT CONSIDER THE Service Requirements,KEY PERFORMANCE METRICS, Work Requirements,VEHICLE REQUIREMENTS AND SPECIFICATIONS, and LICENSE IN THE MAIL.\n*DO NOT CONSIDER ANY EXTERNAL LINKS IN THE MAIL\n*DO NOT CONSIDER ANY ACKNOWLEDGEMENT MESSAGES AND INSTRUCTIONS IN THE MAIL.\n*DO CONSIDER THE FROM AND TO MESSAGES IN THE MAIL.",
          "messages": {
            "messageValues": [
              {
                "message": "Role: You are a specialized Logistics Data Extraction Assistant.\n Your goal is to parse unstructured email text and extract \"Load Data\"  and \"Stops Data\" into a structured JSON format.\n  Instructions:  Identify Entities: Locate the Origin, Destination, Pickup Date, Delivery Date, Equipment Type, and Rate.  \nStandardization: Convert all dates to YYYY-MM-DD format. \nValidation: If a piece of information is missing, set the value to null. Do not guess.  \nOutput: Return only a valid JSON object. No conversational filler or prose."
              }
            ]
          },
          "batching": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          -352,
          144
        ],
        "id": "8980a887-46e7-4e6f-a7e8-e98a1a589a05",
        "name": "Basic LLM Chain"
      },
      {
        "parameters": {
          "jsCode": "return $input.all().map(item => {\n  try {\n    // 1. CLEAN THE DATA: Remove markdown backticks and the \"json\" label\n    // This regex looks for ```json (case insensitive) and the closing ```\n    const cleanedText = item.json.text\n      .replace(/```json/gi, \"\")\n      .replace(/```/g, \"\")\n      .trim();\n\n    // 2. Parse the now-clean string\n    const data = JSON.parse(cleanedText);\n    \n    // Note: In your example data, the object is NOT wrapped in an array [ ], \n    // it's a direct object { }. So we don't need rawData[0].\n    \n    // 3. Extract load and stop objects\n    const load = data.load_details || {};\n    const stopsArray = data.all_stop_details || [];\n\n    // 4. Map the stops\n    const formattedStops = stopsArray.map((stop) => ({\n      ...stop,\n      country: stop.country || \"USA\",\n      load_id: load.load_id \n    }));\n\n    return {\n      json: {\n        load_id: load.load_id,\n        load_details: load,\n        all_stop_details: formattedStops\n      }\n    };\n\n  } catch (e) {\n    return { \n      json: { \n        error: \"Parsing Failed\", \n        message: e.message, \n        original_data: item.json.text.substring(0, 50) + \"...\" \n      } \n    };\n  }\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          32,
          144
        ],
        "id": "632cee62-19d1-47ba-8690-3cccb6e24c06",
        "name": "Code in JavaScript"
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "load_details",
            "mode": "list",
            "cachedResultName": "load_details"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "total_miles": "={{ $json.load_details.total_miles }}",
              "weight": "={{ $json.load_details.weight }}",
              "number_of_stops": "={{ $json.load_details.number_of_stops }}",
              "load_id": "={{ $json.load_details.load_id }}",
              "email_received_date": "={{ $json.load_details.email_received_date }}",
              "email_received_time": "={{ $json.load_details.email_received_time }}",
              "shipper_name": "={{ $json.load_details.shipper_name }}",
              "truck_type": "={{ $json.load_details.truck_type }}",
              "team_required": "={{ $json.load_details.team_required }}",
              "pickup_date_time": "={{ $json.load_details.pickup_date_time }}",
              "delivery_date_time": "={{ $json.load_details.delivery_date_time }}",
              "origin_city": "={{ $json.load_details.origin_city }}",
              "origin_state": "={{ $json.load_details.origin_state }}",
              "origin_zip": "={{ $json.load_details.origin_zip }}",
              "origin_location_id": "={{ $json.load_details.origin_location_id }}",
              "destination_city": "={{ $json.load_details.destination_city }}",
              "destination_state": "={{ $json.load_details.destination_state }}",
              "destination_zip": "={{ $json.load_details.destination_zip }}",
              "destination_location_id": "={{ $json.load_details.destination_location_id }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "load_id",
                "displayName": "load_id",
                "required": true,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "email_received_date",
                "displayName": "email_received_date",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "email_received_time",
                "displayName": "email_received_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "time",
                "canBeUsedToMatch": true
              },
              {
                "id": "shipper_name",
                "displayName": "shipper_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "total_miles",
                "displayName": "total_miles",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "weight",
                "displayName": "weight",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "truck_type",
                "displayName": "truck_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "team_required",
                "displayName": "team_required",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "number_of_stops",
                "displayName": "number_of_stops",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "pickup_date_time",
                "displayName": "pickup_date_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "delivery_date_time",
                "displayName": "delivery_date_time",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": true
              },
              {
                "id": "origin_city",
                "displayName": "origin_city",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "origin_state",
                "displayName": "origin_state",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "origin_zip",
                "displayName": "origin_zip",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "origin_location_id",
                "displayName": "origin_location_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "destination_city",
                "displayName": "destination_city",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "destination_state",
                "displayName": "destination_state",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "destination_zip",
                "displayName": "destination_zip",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "destination_location_id",
                "displayName": "destination_location_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "skipOnConflict": true
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          304,
          240
        ],
        "id": "18b03b34-8b34-4abb-8777-d128ea60b82b",
        "name": "Insert rows in a table",
        "credentials": {
          "postgres": {
            "id": "CnUfmV48bOkEYfhg",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "value": "public",
            "mode": "list",
            "cachedResultName": "public"
          },
          "table": {
            "__rl": true,
            "value": "stop_details",
            "mode": "list",
            "cachedResultName": "stop_details"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "stop_number": "={{ $json.stop_number }}",
              "city": "={{ $json.city }}",
              "state": "={{ $json.state }}",
              "zip": "={{ $json.zip }}",
              "country": "={{ $json.country }}",
              "load_id": "={{ $('Code in JavaScript').item.json.load_details.load_id }}",
              "stop_type": "={{ $json.stop_type }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "load_id",
                "displayName": "load_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "stop_number",
                "displayName": "stop_number",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true
              },
              {
                "id": "stop_type",
                "displayName": "stop_type",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "city",
                "displayName": "city",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "state",
                "displayName": "state",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "zip",
                "displayName": "zip",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "country",
                "displayName": "country",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "skipOnConflict": true
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          560,
          80
        ],
        "id": "03bfecf4-ba94-4ea0-883c-599f5f9f8390",
        "name": "Insert rows in a table1",
        "executeOnce": false,
        "credentials": {
          "postgres": {
            "id": "CnUfmV48bOkEYfhg",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Extracting the details from the mail\n1)Exttract the mail using gmail api\n2)Used LLM to filter the required info from the mail",
          "height": 656,
          "width": 960,
          "color": 2
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -992,
          -48
        ],
        "typeVersion": 1,
        "id": "5a65e8a3-c325-4e2b-a652-423b818e4516",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "content": "## Storing the details into Postgres db\n1)Processed the output by the LLM\n2)stored the details of loads and stops into different tables",
          "height": 656,
          "width": 912,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          -48
        ],
        "typeVersion": 1,
        "id": "9c50cabd-d672-47d7-98c4-e71ecf2f41f8",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "jsCode": "// Get the first item from the input array\nreturn $input.all().map(item => {\n  const emailText = item.json.text;\n  // Note: item.json.date is the parsed ISO date from n8n's Gmail node\n  // item.json.headers.date is the raw string from the email header\n  const emailTime = item.json.headers.date;\n\n  return {\n    json: {\n      text_content: emailText,\n      email_timing: emailTime\n    }\n  };\n});"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -608,
          144
        ],
        "id": "2190447e-c028-47f9-b8c0-3f513df8fab5",
        "name": "Code in JavaScript2"
      },
      {
        "parameters": {
          "fieldToSplitOut": "all_stop_details",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          304,
          80
        ],
        "id": "7e7bb021-28e6-49da-951c-53dd8d24f9ce",
        "name": "Split Out"
      },
      {
        "parameters": {
          "operation": "getAll",
          "limit": 1,
          "simple": false,
          "filters": {},
          "options": {}
        },
        "type": "n8n-nodes-base.gmail",
        "typeVersion": 2.2,
        "position": [
          -848,
          144
        ],
        "id": "2bd7f2b6-165c-4628-9aaa-43365218fbae",
        "name": "Get many messages",
        "webhookId": "d9a4c553-8ed4-4ce7-a2d9-458aac08aaef",
        "credentials": {
          "gmailOAuth2": {
            "id": "vwUPAWu522xp6Bny",
            "name": "Gmail account"
          }
        }
      },
      {
        "parameters": {
          "path": "ad16361a-8392-4ad5-b27f-dd96b2e9cdc7",
          "options": {}
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -1136,
          144
        ],
        "id": "30014ca4-ca3b-4fb6-acad-ab24fe7b0c0a",
        "name": "Webhook",
        "webhookId": "ad16361a-8392-4ad5-b27f-dd96b2e9cdc7"
      },
      {
        "parameters": {
          "events": [
            "activate",
            "update"
          ]
        },
        "type": "n8n-nodes-base.n8nTrigger",
        "typeVersion": 1,
        "position": [
          -560,
          656
        ],
        "id": "dbe31058-b625-44d3-991e-23fd2b843b59",
        "name": "n8n Trigger"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "Xf6LDtnYGZml6Iwz",
            "mode": "list",
            "cachedResultName": "My Sub-Workflow 3",
            "cachedResultUrl": "/workflow/Xf6LDtnYGZml6Iwz"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          -352,
          656
        ],
        "id": "a3ee56a2-1795-4619-907c-4d44562cf94e",
        "name": "Execute Workflow"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          -576,
          384
        ],
        "id": "e1408b19-c2ff-4b42-b446-611535fcdd62",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "QYLHsZYZCnpLyrql",
            "name": "Google Gemini(PaLM) Api account"
          }
        }
      }
    ],
    "connections": {
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Code in JavaScript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code in JavaScript": {
        "main": [
          [
            {
              "node": "Insert rows in a table",
              "type": "main",
              "index": 0
            },
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert rows in a table1": {
        "main": [
          []
        ]
      },
      "Code in JavaScript2": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Insert rows in a table1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert rows in a table": {
        "main": [
          []
        ]
      },
      "Get many messages": {
        "main": [
          [
            {
              "node": "Code in JavaScript2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Get many messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "n8n Trigger": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Veneeth Batchu",
    "name": "Version 2474f40c",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "existsInGitHub": true,
  "githubSha": "399c44eacc9e057ede06a9de31bcd386de527a78"
}