GitHub Workflow Sync (v5)
{
  "updatedAt": "2026-02-18T09:49:22.043Z",
  "createdAt": "2026-02-11T15:54:16.658Z",
  "id": "DRkxG3Wzq9tqxVXr-AOhW",
  "name": "GitHub Workflow Sync (v5)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/IAMVENEETH",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $('If').item.json.name}}",
        "fileContent": "={{ JSON.stringify($node[\"When Executed by Another Workflow\"].json, null, 2) }}",
        "commitMessage": "=edited {{ $('If').item.json.name}} file "
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1216,
        -1248
      ],
      "id": "7ef75e71-2270-413e-9230-5dcd416927ed",
      "name": "Edit a file",
      "webhookId": "ed9f3689-631c-4e1f-a578-307818c2e424",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "914c1dca-2c8d-4f96-9f07-52d36f35e275",
              "leftValue": "={{ $('If1').item.json.updatedAt }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.updatedAt }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1440,
        -1248
      ],
      "id": "6542dd8a-49ec-4fc4-aaeb-ee9ed9e8c783",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f520e750-f468-4ad7-a0cc-411e84dec5d5",
              "leftValue": "={{ $json.id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1664,
        -1152
      ],
      "id": "1d91067b-5e05-4cb3-995d-31686f198ca1",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $('When Executed by Another Workflow').item.json.name }}",
        "fileContent": "={{ JSON.stringify($node[\"When Executed by Another Workflow\"].json, null, 2) }}",
        "commitMessage": "=\"created a new file-{{ $('When Executed by Another Workflow').item.json.name }}\""
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -1056
      ],
      "id": "bf0f6520-11eb-4ba7-b49a-b06757599bc7",
      "name": "Create a file",
      "webhookId": "4a9249cb-5830-4a05-80f8-c46c76afe071",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "d1c3f480-3012-46ab-8b8e-54f8891a7f71",
      "name": "Get Workflows from GitHub1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2336,
        -1152
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ .download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1888,
        -1152
      ],
      "id": "4645b03d-1669-4133-8f39-6864892aee1b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4904dcba-7ea8-4d9b-b9cd-af04b20a2068",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Filter1').item.json.name }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "f6d25b26-68f8-4588-80a2-837cde440f15",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2112,
        -1152
      ],
      "id": "a5f186d7-8afa-4794-9fef-f586bff7af60",
      "name": "Filter"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3008,
        -1152
      ],
      "id": "3744283e-a342-4860-aa86-26c1e33811ba",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2784,
        -1152
      ],
      "id": "0aa23e7e-601a-4ed8-8a62-b28f5d0fb17e",
      "name": "Get many workflows",
      "credentials": {
        "n8nApi": {
          "id": "K4Gqcoe79LwYQSN3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "13963dda-3ac2-4074-a78e-68e97e95da2b",
              "leftValue": "={{ $json.active }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "92aefa5f-ee23-41a6-8b82-3915d0e76478",
              "leftValue": "={{ $json.updatedAt}}",
              "rightValue": "={{ $now.toUTC().minus(60,'minutes')}}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            },
            {
              "id": "382f3b87-29ab-42e3-b425-0f0ba875355f",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=\"git_push_sync\"",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "1341dfd3-efd5-4a53-99ca-9e01cd9ba508",
              "leftValue": "={{ $json.name }}",
              "rightValue": "=\"monitoring_workflow\"",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -2560,
        -1152
      ],
      "id": "e6a46350-2ef7-44c9-9170-894820e2944f",
      "name": "Filter1"
    },
    {
      "parameters": {
        "jsCode": "// Exclude list — add any workflow names you want to skip\nconst excludeList = ['git_push_sync', 'monitoring_workflow', 'GitHub Workflow Sync (Fixed)'];\n\nconst items = $input.all();\nconst filtered = items.filter(item => {\n  const json = item.json;\n  const isActive = json.active === true;\n  const notExcluded = !excludeList.includes(json.name);\n  return isActive && notExcluded;\n});\n\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        -832
      ],
      "id": "52407ec9-be7e-44b4-a4cd-2723c4f3963c",
      "name": "Filter Active Workflows"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "10b03119-d9d6-450b-a55b-a0dc9bf66104",
      "name": "Get GitHub File List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2784,
        -640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Build a lookup map: filename -> { name, download_url, sha }\n// This avoids repeated GitHub API calls per workflow\nconst githubFiles = $input.all();\nconst fileMap = {};\n\nfor (const item of githubFiles) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      name: f.name,\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\n// Store the map as a single item so it can be referenced downstream\nreturn [{ json: { fileMap } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        -640
      ],
      "id": "ce442ab6-6b34-460e-a7de-917dd871558d",
      "name": "Build GitHub File Map"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2336,
        -736
      ],
      "id": "1d2d46fa-4714-4902-aa78-74523a6d50fd",
      "name": "Combine Workflows + GitHub Map"
    },
    {
      "parameters": {
        "jsCode": "// For each n8n workflow, check if a matching file exists in GitHub\n// Output two fields: existsInGitHub (bool) and githubDownloadUrl (string|null)\n\nconst item = $input.item.json;\nconst workflowName = item.name;\nconst fileMap = item.fileMap || {};\n\nconst match = fileMap[workflowName];\n\nreturn [{\n  json: {\n    ...item,\n    existsInGitHub: !!match,\n    githubDownloadUrl: match ? match.download_url : null,\n    githubSha: match ? match.sha : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        -736
      ],
      "id": "92e76aec-44e7-40a1-80f1-2fb7289c2976",
      "name": "Check If File Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f520e750-f468-4ad7-a0cc-411e84dec5d5",
              "leftValue": "={{ $json.existsInGitHub }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1888,
        -736
      ],
      "id": "39dbb14a-c8a8-4e2d-bda8-5163352810b7",
      "name": "File Exists in GitHub?"
    },
    {
      "parameters": {
        "url": "={{ $json.githubDownloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1664,
        -832
      ],
      "id": "99fd39eb-48b5-4a99-ba84-19a5e01e43c1",
      "name": "Fetch GitHub File Content"
    },
    {
      "parameters": {
        "jsCode": "// Compare updatedAt timestamps to decide if we need to overwrite\nconst item = $input.item.json;\n\n// updatedAt from n8n workflow (current)\nconst n8nUpdatedAt = new Date(item.updatedAt);\n\n// updatedAt stored inside the GitHub file (previously synced)\nconst githubUpdatedAt = item.updatedAt ? new Date(item.updatedAt) : null;\n\n// If GitHub file has no updatedAt or n8n is newer, we should update\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{ json: { ...item, shouldUpdate } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        -832
      ],
      "id": "47466bbf-5b52-4de6-b34e-9133d858caee",
      "name": "Compare Timestamps"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "914c1dca-2c8d-4f96-9f07-52d36f35e275",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1216,
        -832
      ],
      "id": "27d5cdbd-dd3f-430f-9e08-5e836e7197f2",
      "name": "Should Update?"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -992,
        -832
      ],
      "id": "cf168e13-ab58-4cd5-ad20-361cdc536af0",
      "name": "Edit Existing File",
      "webhookId": "f523767a-2b18-4f58-8f62-703e02f4b18e",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1664,
        -640
      ],
      "id": "188a0d09-0098-4543-a81f-7fa2293e1537",
      "name": "Create New File",
      "webhookId": "5b70ad6f-768a-4459-b665-d0a728c6919e",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3008,
        -832
      ],
      "id": "ebf5fb54-93cc-4c1a-8fcf-394308155678",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2784,
        -832
      ],
      "id": "6a84d632-65b3-419a-b970-d237ea599171",
      "name": "Get many workflows1",
      "credentials": {
        "n8nApi": {
          "id": "K4Gqcoe79LwYQSN3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2784,
        -320
      ],
      "id": "b8bcbade-3f38-40d9-ad1f-ca1573564084",
      "name": "Get All n8n Workflows",
      "credentials": {
        "n8nApi": {
          "id": "K4Gqcoe79LwYQSN3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// STEP 2: Fetch GitHub file list and tag each workflow\n// ─────────────────────────────────────────────────────────────\n// Fetch the GitHub repo contents once, build a lookup map,\n// then annotate each incoming workflow with GitHub match info.\n// This completely avoids needing a Merge node.\n// ─────────────────────────────────────────────────────────────\n\n// 1. Fetch GitHub repo contents\nconst githubResponse = await $http.request({\n  method: 'GET',\n  url: 'https://api.github.com/repos/IAMVENEETH/n8n/contents',\n  headers: {\n    'Authorization': `token ${$credentials.githubApi.accessToken}`,\n    'Accept': 'application/vnd.github.v3+json'\n  }\n});\n\n// 2. Build a lookup map: filename -> { download_url, sha }\nconst fileMap = {};\nconst files = Array.isArray(githubResponse) ? githubResponse : [];\nfor (const file of files) {\n  if (file && file.name) {\n    fileMap[file.name] = {\n      download_url: file.download_url,\n      sha: file.sha\n    };\n  }\n}\n\n// 3. Annotate each workflow with its GitHub match\nconst workflows = $input.all();\nconst output = [];\n\nfor (const item of workflows) {\n  const wfName = item.json.name;\n  const match = fileMap[wfName] || null;\n  output.push({\n    json: {\n      ...item.json,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        -320
      ],
      "id": "3b447bbf-135e-4858-8e18-4ed371feabee",
      "name": "Fetch GitHub File List & Tag"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3008,
        -320
      ],
      "id": "4cef3a94-5213-4a2c-8607-be36db6dcff7",
      "name": "Schedule Trigger2"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// STEP 1: Filter n8n workflows\n// ─────────────────────────────────────────────────────────────\n// Add any workflow names here that should NEVER be synced to GitHub\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v2)'\n];\n\nconst allWorkflows = $input.all();\n\nconst filtered = allWorkflows.filter(item => {\n  const isActive = item.json.active === true;\n  const notExcluded = !excludeList.includes(item.json.name);\n  return isActive && notExcluded;\n});\n\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2560,
        -320
      ],
      "id": "767f8bd0-29f9-49c0-bb4e-0b3ff9667e71",
      "name": "Filter Active Workflows1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-exists",
              "leftValue": "={{ $json.existsInGitHub }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2112,
        -320
      ],
      "id": "fafe3b8a-da86-42d1-b231-be3986635408",
      "name": "File Exists in GitHub?1"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// STEP 3a: Fetch the existing GitHub file and compare timestamps\n// ─────────────────────────────────────────────────────────────\n// Download the file from GitHub, read its stored updatedAt,\n// and compare against the current n8n workflow's updatedAt.\n// Only pass through if n8n is newer (i.e., needs a sync).\n// ─────────────────────────────────────────────────────────────\n\nconst item = $input.item.json;\n\n// Fetch the file content from GitHub\nconst fileContent = await $http.request({\n  method: 'GET',\n  url: item.githubDownloadUrl\n});\n\n// The file was saved as JSON — parse updatedAt from it\nlet githubUpdatedAt = null;\ntry {\n  const parsed = typeof fileContent === 'string' ? JSON.parse(fileContent) : fileContent;\n  githubUpdatedAt = parsed.updatedAt ? new Date(parsed.updatedAt) : null;\n} catch (e) {\n  // If we can't parse it, always overwrite\n  githubUpdatedAt = null;\n}\n\nconst n8nUpdatedAt = new Date(item.updatedAt);\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{ json: { ...item, shouldUpdate, githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        -224
      ],
      "id": "b00968f8-d3b7-4087-8a20-15d98505aa98",
      "name": "Compare Timestamps1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-should-update",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1664,
        -224
      ],
      "id": "4d3a403f-ec6b-4d38-92b2-def3d4311add",
      "name": "Should Update?1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1440,
        -224
      ],
      "id": "97d2ad94-380d-4fae-a4f9-ade83bbe407b",
      "name": "Edit Existing File1",
      "webhookId": "6440af67-956f-4605-9261-ea9800969b83",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1888,
        -416
      ],
      "id": "92854bca-5567-4f85-ad74-97f6a64349bf",
      "name": "Create New File1",
      "webhookId": "3e5cbd68-a152-42be-8a23-2e23f3eb2c80",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Pull the fileMap from the previous node and the full\n// workflow list from the Filter node, then annotate each\n// workflow with its GitHub match info.\n// ─────────────────────────────────────────────────────────────\n\n// The fileMap comes in as the single item from this node's input\nconst fileMap = $input.first().json.fileMap || {};\n\n// Grab all filtered workflows from the earlier node\nconst workflows = $('Filter Active Workflows2').all();\n\nconst output = [];\nfor (const item of workflows) {\n  const wfName = item.json.name;\n  const match = fileMap[wfName] || null;\n  output.push({\n    json: {\n      ...item.json,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1824,
        160
      ],
      "id": "a68fc90b-9d89-463f-9bca-f0a725d3f0ba",
      "name": "Tag Workflows with GitHub Info"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -3024,
        160
      ],
      "id": "4c1ec654-019b-43dd-81f6-25a6230a99e3",
      "name": "Schedule Trigger3"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2784,
        160
      ],
      "id": "763d3c30-a75d-4842-a6f8-c79c49d2d4e7",
      "name": "Get All n8n Workflows1",
      "credentials": {
        "n8nApi": {
          "id": "K4Gqcoe79LwYQSN3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Add any workflow names here that should NEVER be synced to GitHub\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v3)'\n];\n\nconst allWorkflows = $input.all();\n\nconst filtered = allWorkflows.filter(item => {\n  const isActive = item.json.active === true;\n  const notExcluded = !excludeList.includes(item.json.name);\n  return isActive && notExcluded;\n});\n\nreturn filtered;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        160
      ],
      "id": "93c3b8f1-6199-4068-bd3a-7f743fdaff4c",
      "name": "Filter Active Workflows2"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2304,
        160
      ],
      "id": "5ba2a75b-e2ce-4480-a3d3-d42667f7d0a9",
      "name": "Get GitHub File List1",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Build a GitHub filename -> { download_url, sha } lookup map\n// from ALL items returned by the GitHub file list node,\n// then output it as a SINGLE item for use in the next node.\n// ─────────────────────────────────────────────────────────────\nconst files = $input.all();\nconst fileMap = {};\n\nfor (const item of files) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\nreturn [{ json: { fileMap } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2064,
        160
      ],
      "id": "ff80a6b8-022c-4ee7-94d3-5cc38b9eef48",
      "name": "Build GitHub File Map1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-exists",
              "leftValue": "={{ $json.existsInGitHub }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1584,
        160
      ],
      "id": "d26b833d-b95d-4b7b-86f6-5193765e0752",
      "name": "File Exists in GitHub?2"
    },
    {
      "parameters": {
        "url": "={{ $json.githubDownloadUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1344,
        272
      ],
      "id": "3c1a8e95-cf85-4877-bf62-b20eedbc48c8",
      "name": "Fetch GitHub File Content1"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Compare the updatedAt stored inside the GitHub file\n// against the current n8n workflow's updatedAt.\n// Pass through only if n8n version is newer.\n// ─────────────────────────────────────────────────────────────\n\n// The GitHub file content is the current item (parsed JSON)\nconst githubFile = $input.item.json;\n\n// The original workflow data is still accessible from the Tag node\n// We match by name to get the right workflow's updatedAt\nconst workflowName = githubFile.name;\nconst allTagged = $('Tag Workflows with GitHub Info').all();\nconst matchedWorkflow = allTagged.find(w => w.json.name === workflowName);\n\nif (!matchedWorkflow) {\n  // Safety fallback: if we can't find it, skip\n  return [];\n}\n\nconst n8nUpdatedAt = new Date(matchedWorkflow.json.updatedAt);\nconst githubUpdatedAt = githubFile.updatedAt ? new Date(githubFile.updatedAt) : null;\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{\n  json: {\n    ...matchedWorkflow.json,\n    shouldUpdate,\n    githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        272
      ],
      "id": "38b695d4-2591-4f8a-9255-6273f7f8ee7b",
      "name": "Compare Timestamps2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-should-update",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -864,
        272
      ],
      "id": "f216483c-85c5-492e-92fa-e4f67b5667a3",
      "name": "Should Update?2"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -608,
        160
      ],
      "id": "c7aea24b-988c-4fa4-9f2d-eb5c7f1f7763",
      "name": "Edit Existing File2",
      "webhookId": "709664f6-f6c9-4b77-b500-dc9385d80742",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1344,
        16
      ],
      "id": "ce42aa0a-2568-49d9-a0c2-e3f660995602",
      "name": "Create New File2",
      "webhookId": "89b4b3fc-93f4-4129-9a12-2933efd1cf85",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v4)'\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows2').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1936,
        1248
      ],
      "id": "5c74758f-a87e-47a9-9637-218ae4eadcb9",
      "name": "Filter & Tag Workflows"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2736,
        1152
      ],
      "id": "e79b3597-8d9b-4514-a95a-b1592e8dfa4d",
      "name": "Schedule Trigger4"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2400,
        1024
      ],
      "id": "c4fcd80d-525c-42d8-b5a3-95219ad7cb99",
      "name": "Get All n8n Workflows2",
      "credentials": {
        "n8nApi": {
          "id": "K4Gqcoe79LwYQSN3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2400,
        1248
      ],
      "id": "816382ca-ca87-4a85-9e50-c043fc280c5c",
      "name": "Get GitHub File List2",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE after the GitHub file list is fetched.\n// Collapses all GitHub file items into a single fileMap object.\n// ─────────────────────────────────────────────────────────────\nconst files = $input.all();\nconst fileMap = {};\n\nfor (const item of files) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\nreturn [{ json: { fileMap } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2160,
        1248
      ],
      "id": "5380f7aa-32e2-4913-ab8f-a425db73fd2d",
      "name": "Build GitHub File Map2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-exists",
              "leftValue": "={{ $json.existsInGitHub }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1696,
        1248
      ],
      "id": "4f9cd2d1-2e64-4af7-8414-9fa63e319c0b",
      "name": "File Exists in GitHub?3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Compare the updatedAt inside the GitHub file against\n// the current n8n workflow's updatedAt.\n// Only pass through if n8n is newer.\n// ─────────────────────────────────────────────────────────────\nconst githubFile = $input.item.json;\nconst workflowName = githubFile.name;\n\n// Find matching workflow from the tagged list\nconst allTagged = $('Filter & Tag Workflows').all();\nconst matchedWorkflow = allTagged.find(w => w.json.name === workflowName);\n\nif (!matchedWorkflow) return [];\n\nconst n8nUpdatedAt = new Date(matchedWorkflow.json.updatedAt);\nconst githubUpdatedAt = githubFile.updatedAt ? new Date(githubFile.updatedAt) : null;\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{\n  json: {\n    ...matchedWorkflow.json,\n    shouldUpdate,\n    githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        1344
      ],
      "id": "38eb9670-4ad1-49a8-b3f3-79ea4179f5c2",
      "name": "Compare Timestamps3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-should-update",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1232,
        1344
      ],
      "id": "21bae5b3-9936-49d9-812b-70d652ac375f",
      "name": "Should Update?3"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -976,
        1200
      ],
      "id": "2b95349e-4251-4c64-82d3-7adade59377b",
      "name": "Edit Existing File3",
      "webhookId": "aebae5f6-7bdd-4d8c-b912-dcc02c1cf63b",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1440,
        1136
      ],
      "id": "c8abd706-f7ba-4360-868f-8aa16471e1e8",
      "name": "Create New File3",
      "webhookId": "3dcb8158-779c-49fd-88c4-ddd17e880aa0",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2576,
        2000
      ],
      "id": "9bf1c7e2-334f-4961-881a-2c302975b6af",
      "name": "Schedule Trigger5"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2336,
        2000
      ],
      "id": "a8eb8c2a-83ac-4037-8dff-cee2cd206881",
      "name": "Get All n8n Workflows3",
      "credentials": {
        "n8nApi": {
          "id": "K4Gqcoe79LwYQSN3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2336,
        2240
      ],
      "id": "275d1de1-576e-4103-a885-4de1b104c4be",
      "name": "Get GitHub File List3",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE after the GitHub file list is fetched.\n// Collapses all GitHub file items into a single fileMap object.\n// ─────────────────────────────────────────────────────────────\nconst files = $input.all();\nconst fileMap = {};\n\nfor (const item of files) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\nreturn [{ json: { fileMap } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        2240
      ],
      "id": "d33a517c-799c-45b3-8d18-e6dd2e991e3d",
      "name": "Build GitHub File Map3"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v5)'\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows3').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Trim name for safe matching (handles any trailing spaces)\n  const wfNameTrimmed = (wf.name || '').trim();\n  const match = fileMap[wfNameTrimmed] || null;\n\n  output.push({\n    json: {\n      ...wf,\n      name: wfNameTrimmed,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null,\n      _debug_fileMapKeys: Object.keys(fileMap) // remove after confirming match works\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        2240
      ],
      "id": "1e99dbba-7b95-4141-bb2d-69e67a3d22fd",
      "name": "Filter & Tag Workflows1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-exists",
              "leftValue": "={{ $json.existsInGitHub }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1616,
        2240
      ],
      "id": "730a7061-2e36-4f05-9a7e-29889cb36a09",
      "name": "File Exists in GitHub?4"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Fetch the GitHub file content AND carry the n8n workflow\n// metadata (name, updatedAt, id) forward in the same item.\n// This avoids needing to look anything up downstream.\n// ─────────────────────────────────────────────────────────────\nconst item = $input.item.json;\n\n// Stash the n8n workflow fields we need before the HTTP call\nconst n8nName = item.name;\nconst n8nUpdatedAt = item.updatedAt;\nconst n8nId = item.id;\nconst downloadUrl = item.githubDownloadUrl;\nconst githubSha = item.githubSha;\n\n// Fetch the raw file content from GitHub\nconst githubFileContent = await $helpers.httpRequest({\n  method: 'GET',\n  url: downloadUrl\n});\n\n// The file was stored as JSON — parse updatedAt from it\nlet githubUpdatedAt = null;\ntry {\n  const parsed = typeof githubFileContent === 'string'\n    ? JSON.parse(githubFileContent)\n    : githubFileContent;\n  githubUpdatedAt = parsed.updatedAt || null;\n} catch (e) {\n  // Can't parse — force an update\n  githubUpdatedAt = null;\n}\n\nreturn [{\n  json: {\n    ...item,\n    _n8nName: n8nName,\n    _n8nUpdatedAt: n8nUpdatedAt,\n    _githubUpdatedAt: githubUpdatedAt,\n    _githubSha: githubSha\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        2352
      ],
      "id": "4331b501-d8f4-466f-8b0b-5973b2c88f9a",
      "name": "Fetch GitHub File Content3"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Compare timestamps — all data is already on the item,\n// no need to look anything up from other nodes.\n// ─────────────────────────────────────────────────────────────\nconst item = $input.item.json;\n\nconst n8nUpdatedAt = new Date(item._n8nUpdatedAt);\nconst githubUpdatedAt = item._githubUpdatedAt ? new Date(item._githubUpdatedAt) : null;\n\n// Sync if GitHub has no record, or n8n version is newer\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{\n  json: {\n    ...item,\n    shouldUpdate,\n    githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        2352
      ],
      "id": "bb02acd9-7635-4af3-b08a-81efe8340d37",
      "name": "Compare Timestamps4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-should-update",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        2352
      ],
      "id": "4dcd3c55-65ed-443c-aa17-58ed8d9a0022",
      "name": "Should Update?4"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -656,
        2352
      ],
      "id": "02765992-a806-47b2-b99f-114218f48d12",
      "name": "Edit Existing File4",
      "webhookId": "8aabb8f3-a57b-4c6c-88d3-ec399aa2ecfc",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1376,
        2096
      ],
      "id": "bf1b8297-87a1-49be-b252-bf015136223e",
      "name": "Create New File4",
      "webhookId": "ee2cccde-ebee-4a18-80d0-ec19fff2690b",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v4)'\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows4').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        3296
      ],
      "id": "7c09efe3-f3d0-4545-ba77-5f0d7aafc107",
      "name": "Filter & Tag Workflows2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2720,
        3200
      ],
      "id": "51d606be-ea28-476b-a591-40a70ac53ced",
      "name": "Schedule Trigger6"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2384,
        3072
      ],
      "id": "b55fef97-a085-475c-a47c-93905783ebe9",
      "name": "Get All n8n Workflows4",
      "credentials": {
        "n8nApi": {
          "id": "K4Gqcoe79LwYQSN3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2384,
        3296
      ],
      "id": "1549810e-252b-4de2-8fd5-6eb7901e0fa8",
      "name": "Get GitHub File List4",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE after the GitHub file list is fetched.\n// Collapses all GitHub file items into a single fileMap object.\n// ─────────────────────────────────────────────────────────────\nconst files = $input.all();\nconst fileMap = {};\n\nfor (const item of files) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\nreturn [{ json: { fileMap } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        3296
      ],
      "id": "4a1e4cc5-e62b-4d80-a062-bd114c6831a2",
      "name": "Build GitHub File Map4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-exists",
              "leftValue": "={{ $json.existsInGitHub }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1680,
        3296
      ],
      "id": "7d06dd57-3a8d-4131-b349-c76a3fdf512f",
      "name": "File Exists in GitHub?5"
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// $input.item.json = the n8n workflow item (with githubDownloadUrl)\n// We fetch the GitHub file content here to get its stored updatedAt,\n// then compare against the n8n workflow's updatedAt.\n// ─────────────────────────────────────────────────────────────\n\nconst workflow = $input.item.json;\nconst n8nUpdatedAt = new Date(workflow.updatedAt);\n\n// Fetch the actual file content stored in GitHub\nlet githubUpdatedAt = null;\ntry {\n  const response = await $helpers.httpRequest({\n    method: 'GET',\n    url: workflow.githubDownloadUrl,\n    returnFullResponse: false\n  });\n\n  // The file was saved as JSON — parse updatedAt from it\n  const parsed = typeof response === 'string' ? JSON.parse(response) : response;\n  githubUpdatedAt = parsed.updatedAt ? new Date(parsed.updatedAt) : null;\n\n} catch (e) {\n  // If fetch or parse fails, force an update to be safe\n  githubUpdatedAt = null;\n}\n\n// n8n is newer if GitHub has no date, or n8n updatedAt is after GitHub's\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{\n  json: {\n    ...workflow,\n    shouldUpdate,\n    n8nUpdatedAt: n8nUpdatedAt.toISOString(),\n    githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1216,
        3392
      ],
      "id": "9b10a954-af11-4052-b7c2-8144ab860385",
      "name": "Compare Timestamps5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-should-update",
              "leftValue": "={{ $json.shouldUpdate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -992,
        3392
      ],
      "id": "b3ca1b77-0e4f-4192-8c2d-0b9b14756daf",
      "name": "Should Update?5"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -736,
        3264
      ],
      "id": "7f2a72fd-ce69-4856-bd29-cc3a7e02f159",
      "name": "Edit Existing File5",
      "webhookId": "aebae5f6-7bdd-4d8c-b912-dcc02c1cf63b",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($json, null, 2) }}",
        "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -1424,
        3184
      ],
      "id": "6f82405f-7c76-4b86-af0d-7bdf7cf6851d",
      "name": "Create New File5",
      "webhookId": "3dcb8158-779c-49fd-88c4-ddd17e880aa0",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/IAMVENEETH/n8n/main/{{ $json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1424,
        3392
      ],
      "id": "bce698c2-791a-4848-abc9-48e1d91af1be",
      "name": "HTTP Request",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows5').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        4064
      ],
      "id": "494b2baa-e6e9-46e8-971a-79833faa3c00",
      "name": "Filter & Tag Workflows3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1312,
        3968
      ],
      "id": "7a9a7c85-e4d5-4b37-b87e-47f168f1a5f0",
      "name": "Schedule Trigger7"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -976,
        3840
      ],
      "id": "1910c34d-83f2-4bcf-9433-a1973924aadf",
      "name": "Get All n8n Workflows5",
      "credentials": {
        "n8nApi": {
          "id": "K4Gqcoe79LwYQSN3",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst fileMap = {};\n\nfor (const item of items) {\n  const tree = item.json.tree;\n  \n  if (Array.isArray(tree)) {\n    for (const f of tree) {\n      if (f.type === \"blob\") {  // only files, skip folders\n        fileMap[f.path] = {\n          sha: f.sha,\n          url: f.url,\n          size: f.size\n        };\n      }\n    }\n  }\n}\n\nreturn [{ json: { fileMap } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        4064
      ],
      "id": "c0e87f0d-5bab-47db-991f-46d24a2e6e90",
      "name": "Build GitHub File Map5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-exists",
              "leftValue": "={{ $json.existsInGitHub }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -272,
        4064
      ],
      "id": "9025c9c8-3b60-4520-b7ce-1c6cc67ae54f",
      "name": "File Exists in GitHub?6"
    },
    {
      "parameters": {
        "url": "=https://raw.githubusercontent.com/IAMVENEETH/n8n/main/{{ $json.name }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        4272
      ],
      "id": "312ff9d9-2b9a-4c8e-b143-a73dbf776e09",
      "name": "HTTP Request2",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-should-update",
              "leftValue": "={{ $json.updatedAt.toDateTime()}}",
              "rightValue": "={{ $('Filter & Tag Workflows3').item.json.updatedAt.toDateTime()}}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        432,
        4272
      ],
      "id": "427957c9-d9d0-41f0-aacd-5e609dd3547e",
      "name": "Should Update?6"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($('Filter & Tag Workflows3').item.json, null, 2) }}",
        "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}",
        "additionalParameters": {
          "branch": {
            "branch": "dev"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        736,
        4256
      ],
      "id": "559bf9ac-f1fd-40e5-b330-870a450c1fcd",
      "name": "Edit Existing File6",
      "webhookId": "aebae5f6-7bdd-4d8c-b912-dcc02c1cf63b",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "={{ $json.name }}",
        "fileContent": "={{ JSON.stringify($('Filter & Tag Workflows3').item.json, null, 2) }}",
        "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}",
        "additionalParameters": {
          "branch": {
            "branch": "dev"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -16,
        3952
      ],
      "id": "ff60e701-52dd-4a95-816f-32c9fb3303ce",
      "name": "Create New File6",
      "webhookId": "3dcb8158-779c-49fd-88c4-ddd17e880aa0",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/IAMVENEETH/n8n/git/trees/dev?recursive=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -976,
        4064
      ],
      "id": "8461b3b0-4c21-46b3-87d7-d6085fdeb30c",
      "name": "HTTP Request3",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": "={{ $input.all().length}}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -64,
        4256
      ],
      "id": "af4fd7f0-0b4a-433c-b037-87a6542165a3",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Xf6LDtnYGZml6Iwz",
          "mode": "list",
          "cachedResultUrl": "/workflow/Xf6LDtnYGZml6Iwz",
          "cachedResultName": "spreadsheet"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        336,
        4000
      ],
      "id": "a0b01259-f973-4ccb-bd81-97cac4cbfda4",
      "name": "Call 'My Sub-Workflow 3'"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows from GitHub1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit a file": {
      "main": [
        []
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get Workflows from GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Workflows": {
      "main": [
        [
          {
            "node": "Combine Workflows + GitHub Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub File List": {
      "main": [
        [
          {
            "node": "Build GitHub File Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GitHub File Map": {
      "main": [
        [
          {
            "node": "Combine Workflows + GitHub Map",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Workflows + GitHub Map": {
      "main": [
        [
          {
            "node": "Check If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If File Exists": {
      "main": [
        [
          {
            "node": "File Exists in GitHub?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists in GitHub?": {
      "main": [
        [
          {
            "node": "Fetch GitHub File Content",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GitHub File Content": {
      "main": [
        [
          {
            "node": "Compare Timestamps",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Timestamps": {
      "main": [
        [
          {
            "node": "Should Update?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?": {
      "main": [
        [
          {
            "node": "Edit Existing File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many workflows1": {
      "main": [
        [
          {
            "node": "Filter Active Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All n8n Workflows": {
      "main": [
        [
          {
            "node": "Filter Active Workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GitHub File List & Tag": {
      "main": [
        [
          {
            "node": "File Exists in GitHub?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Get All n8n Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Workflows1": {
      "main": [
        [
          {
            "node": "Fetch GitHub File List & Tag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists in GitHub?1": {
      "main": [
        [
          {
            "node": "Compare Timestamps1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Timestamps1": {
      "main": [
        [
          {
            "node": "Should Update?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?1": {
      "main": [
        [
          {
            "node": "Edit Existing File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag Workflows with GitHub Info": {
      "main": [
        [
          {
            "node": "File Exists in GitHub?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "Get All n8n Workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All n8n Workflows1": {
      "main": [
        [
          {
            "node": "Filter Active Workflows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Active Workflows2": {
      "main": [
        [
          {
            "node": "Get GitHub File List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub File List1": {
      "main": [
        [
          {
            "node": "Build GitHub File Map1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GitHub File Map1": {
      "main": [
        [
          {
            "node": "Tag Workflows with GitHub Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists in GitHub?2": {
      "main": [
        [
          {
            "node": "Fetch GitHub File Content1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GitHub File Content1": {
      "main": [
        [
          {
            "node": "Compare Timestamps2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Timestamps2": {
      "main": [
        [
          {
            "node": "Should Update?2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?2": {
      "main": [
        [
          {
            "node": "Edit Existing File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Tag Workflows": {
      "main": [
        [
          {
            "node": "File Exists in GitHub?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger4": {
      "main": [
        [
          {
            "node": "Get All n8n Workflows2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get GitHub File List2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub File List2": {
      "main": [
        [
          {
            "node": "Build GitHub File Map2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GitHub File Map2": {
      "main": [
        [
          {
            "node": "Filter & Tag Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists in GitHub?3": {
      "main": [
        [
          {
            "node": "Compare Timestamps3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Timestamps3": {
      "main": [
        [
          {
            "node": "Should Update?3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?3": {
      "main": [
        [
          {
            "node": "Edit Existing File3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger5": {
      "main": [
        [
          {
            "node": "Get All n8n Workflows3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get GitHub File List3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub File List3": {
      "main": [
        [
          {
            "node": "Build GitHub File Map3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GitHub File Map3": {
      "main": [
        [
          {
            "node": "Filter & Tag Workflows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Tag Workflows1": {
      "main": [
        [
          {
            "node": "File Exists in GitHub?4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists in GitHub?4": {
      "main": [
        [
          {
            "node": "Fetch GitHub File Content3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GitHub File Content3": {
      "main": [
        [
          {
            "node": "Compare Timestamps4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Timestamps4": {
      "main": [
        [
          {
            "node": "Should Update?4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?4": {
      "main": [
        [
          {
            "node": "Edit Existing File4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Tag Workflows2": {
      "main": [
        [
          {
            "node": "File Exists in GitHub?5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger6": {
      "main": [
        [
          {
            "node": "Get All n8n Workflows4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get GitHub File List4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get GitHub File List4": {
      "main": [
        [
          {
            "node": "Build GitHub File Map4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GitHub File Map4": {
      "main": [
        [
          {
            "node": "Filter & Tag Workflows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists in GitHub?5": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Timestamps5": {
      "main": [
        [
          {
            "node": "Should Update?5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?5": {
      "main": [
        [
          {
            "node": "Edit Existing File5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Compare Timestamps5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Tag Workflows3": {
      "main": [
        [
          {
            "node": "File Exists in GitHub?6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger7": {
      "main": [
        [
          {
            "node": "Get All n8n Workflows5",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GitHub File Map5": {
      "main": [
        [
          {
            "node": "Filter & Tag Workflows3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Exists in GitHub?6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create New File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Should Update?6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Update?6": {
      "main": [
        [
          {
            "node": "Edit Existing File6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Build GitHub File Map5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Existing File6": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Call 'My Sub-Workflow 3'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New File6": {
      "main": [
        [
          {
            "node": "Call 'My Sub-Workflow 3'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "436d5057-1e8b-4202-98db-6fd620e98aae",
  "activeVersionId": "fc24041c-72fa-42f3-b981-96fb78b42cd5",
  "triggerCount": 8,
  "shared": [
    {
      "updatedAt": "2026-02-11T15:54:16.663Z",
      "createdAt": "2026-02-11T15:54:16.663Z",
      "role": "workflow:owner",
      "workflowId": "DRkxG3Wzq9tqxVXr-AOhW",
      "projectId": "xYFaUA8eDj6pQBYB"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-18T09:01:58.000Z",
    "createdAt": "2026-02-18T09:00:21.111Z",
    "versionId": "fc24041c-72fa-42f3-b981-96fb78b42cd5",
    "workflowId": "DRkxG3Wzq9tqxVXr-AOhW",
    "nodes": [
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "https://github.com/IAMVENEETH",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $('If').item.json.name}}",
          "fileContent": "={{ JSON.stringify($node[\"When Executed by Another Workflow\"].json, null, 2) }}",
          "commitMessage": "=edited {{ $('If').item.json.name}} file "
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1216,
          -1248
        ],
        "id": "7ef75e71-2270-413e-9230-5dcd416927ed",
        "name": "Edit a file",
        "webhookId": "ed9f3689-631c-4e1f-a578-307818c2e424",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "914c1dca-2c8d-4f96-9f07-52d36f35e275",
                "leftValue": "={{ $('If1').item.json.updatedAt }}",
                "rightValue": "={{ $('When Executed by Another Workflow').item.json.updatedAt }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1440,
          -1248
        ],
        "id": "6542dd8a-49ec-4fc4-aaeb-ee9ed9e8c783",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f520e750-f468-4ad7-a0cc-411e84dec5d5",
                "leftValue": "={{ $json.id}}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1664,
          -1152
        ],
        "id": "1d91067b-5e05-4cb3-995d-31686f198ca1",
        "name": "If1"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $('When Executed by Another Workflow').item.json.name }}",
          "fileContent": "={{ JSON.stringify($node[\"When Executed by Another Workflow\"].json, null, 2) }}",
          "commitMessage": "=\"created a new file-{{ $('When Executed by Another Workflow').item.json.name }}\""
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1440,
          -1056
        ],
        "id": "bf0f6520-11eb-4ba7-b49a-b06757599bc7",
        "name": "Create a file",
        "webhookId": "4a9249cb-5830-4a05-80f8-c46c76afe071",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "id": "d1c3f480-3012-46ab-8b8e-54f8891a7f71",
        "name": "Get Workflows from GitHub1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2336,
          -1152
        ],
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ .download_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1888,
          -1152
        ],
        "id": "4645b03d-1669-4133-8f39-6864892aee1b",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4904dcba-7ea8-4d9b-b9cd-af04b20a2068",
                "leftValue": "={{ $json.name }}",
                "rightValue": "={{ $('Filter1').item.json.name }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              },
              {
                "id": "f6d25b26-68f8-4588-80a2-837cde440f15",
                "leftValue": "={{ $json.id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -2112,
          -1152
        ],
        "id": "a5f186d7-8afa-4794-9fef-f586bff7af60",
        "name": "Filter"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -3008,
          -1152
        ],
        "id": "3744283e-a342-4860-aa86-26c1e33811ba",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -2784,
          -1152
        ],
        "id": "0aa23e7e-601a-4ed8-8a62-b28f5d0fb17e",
        "name": "Get many workflows",
        "credentials": {
          "n8nApi": {
            "id": "K4Gqcoe79LwYQSN3",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 3
            },
            "conditions": [
              {
                "id": "13963dda-3ac2-4074-a78e-68e97e95da2b",
                "leftValue": "={{ $json.active }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              },
              {
                "id": "92aefa5f-ee23-41a6-8b82-3915d0e76478",
                "leftValue": "={{ $json.updatedAt}}",
                "rightValue": "={{ $now.toUTC().minus(60,'minutes')}}",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                }
              },
              {
                "id": "382f3b87-29ab-42e3-b425-0f0ba875355f",
                "leftValue": "={{ $json.name }}",
                "rightValue": "=\"git_push_sync\"",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "1341dfd3-efd5-4a53-99ca-9e01cd9ba508",
                "leftValue": "={{ $json.name }}",
                "rightValue": "=\"monitoring_workflow\"",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "looseTypeValidation": true,
          "options": {
            "ignoreCase": false
          }
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -2560,
          -1152
        ],
        "id": "e6a46350-2ef7-44c9-9170-894820e2944f",
        "name": "Filter1"
      },
      {
        "parameters": {
          "jsCode": "// Exclude list — add any workflow names you want to skip\nconst excludeList = ['git_push_sync', 'monitoring_workflow', 'GitHub Workflow Sync (Fixed)'];\n\nconst items = $input.all();\nconst filtered = items.filter(item => {\n  const json = item.json;\n  const isActive = json.active === true;\n  const notExcluded = !excludeList.includes(json.name);\n  return isActive && notExcluded;\n});\n\nreturn filtered;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2560,
          -832
        ],
        "id": "52407ec9-be7e-44b4-a4cd-2723c4f3963c",
        "name": "Filter Active Workflows"
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "id": "10b03119-d9d6-450b-a55b-a0dc9bf66104",
        "name": "Get GitHub File List",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2784,
          -640
        ],
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Build a lookup map: filename -> { name, download_url, sha }\n// This avoids repeated GitHub API calls per workflow\nconst githubFiles = $input.all();\nconst fileMap = {};\n\nfor (const item of githubFiles) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      name: f.name,\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\n// Store the map as a single item so it can be referenced downstream\nreturn [{ json: { fileMap } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2560,
          -640
        ],
        "id": "ce442ab6-6b34-460e-a7de-917dd871558d",
        "name": "Build GitHub File Map"
      },
      {
        "parameters": {
          "mode": "combine",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          -2336,
          -736
        ],
        "id": "1d2d46fa-4714-4902-aa78-74523a6d50fd",
        "name": "Combine Workflows + GitHub Map"
      },
      {
        "parameters": {
          "jsCode": "// For each n8n workflow, check if a matching file exists in GitHub\n// Output two fields: existsInGitHub (bool) and githubDownloadUrl (string|null)\n\nconst item = $input.item.json;\nconst workflowName = item.name;\nconst fileMap = item.fileMap || {};\n\nconst match = fileMap[workflowName];\n\nreturn [{\n  json: {\n    ...item,\n    existsInGitHub: !!match,\n    githubDownloadUrl: match ? match.download_url : null,\n    githubSha: match ? match.sha : null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2112,
          -736
        ],
        "id": "92e76aec-44e7-40a1-80f1-2fb7289c2976",
        "name": "Check If File Exists"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f520e750-f468-4ad7-a0cc-411e84dec5d5",
                "leftValue": "={{ $json.existsInGitHub }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1888,
          -736
        ],
        "id": "39dbb14a-c8a8-4e2d-bda8-5163352810b7",
        "name": "File Exists in GitHub?"
      },
      {
        "parameters": {
          "url": "={{ $json.githubDownloadUrl }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1664,
          -832
        ],
        "id": "99fd39eb-48b5-4a99-ba84-19a5e01e43c1",
        "name": "Fetch GitHub File Content"
      },
      {
        "parameters": {
          "jsCode": "// Compare updatedAt timestamps to decide if we need to overwrite\nconst item = $input.item.json;\n\n// updatedAt from n8n workflow (current)\nconst n8nUpdatedAt = new Date(item.updatedAt);\n\n// updatedAt stored inside the GitHub file (previously synced)\nconst githubUpdatedAt = item.updatedAt ? new Date(item.updatedAt) : null;\n\n// If GitHub file has no updatedAt or n8n is newer, we should update\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{ json: { ...item, shouldUpdate } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1440,
          -832
        ],
        "id": "47466bbf-5b52-4de6-b34e-9133d858caee",
        "name": "Compare Timestamps"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "914c1dca-2c8d-4f96-9f07-52d36f35e275",
                "leftValue": "={{ $json.shouldUpdate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1216,
          -832
        ],
        "id": "27d5cdbd-dd3f-430f-9e08-5e836e7197f2",
        "name": "Should Update?"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -992,
          -832
        ],
        "id": "cf168e13-ab58-4cd5-ad20-361cdc536af0",
        "name": "Edit Existing File",
        "webhookId": "f523767a-2b18-4f58-8f62-703e02f4b18e",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1664,
          -640
        ],
        "id": "188a0d09-0098-4543-a81f-7fa2293e1537",
        "name": "Create New File",
        "webhookId": "5b70ad6f-768a-4459-b665-d0a728c6919e",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -3008,
          -832
        ],
        "id": "ebf5fb54-93cc-4c1a-8fcf-394308155678",
        "name": "Schedule Trigger1"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -2784,
          -832
        ],
        "id": "6a84d632-65b3-419a-b970-d237ea599171",
        "name": "Get many workflows1",
        "credentials": {
          "n8nApi": {
            "id": "K4Gqcoe79LwYQSN3",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -2784,
          -320
        ],
        "id": "b8bcbade-3f38-40d9-ad1f-ca1573564084",
        "name": "Get All n8n Workflows",
        "credentials": {
          "n8nApi": {
            "id": "K4Gqcoe79LwYQSN3",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// STEP 2: Fetch GitHub file list and tag each workflow\n// ─────────────────────────────────────────────────────────────\n// Fetch the GitHub repo contents once, build a lookup map,\n// then annotate each incoming workflow with GitHub match info.\n// This completely avoids needing a Merge node.\n// ─────────────────────────────────────────────────────────────\n\n// 1. Fetch GitHub repo contents\nconst githubResponse = await $http.request({\n  method: 'GET',\n  url: 'https://api.github.com/repos/IAMVENEETH/n8n/contents',\n  headers: {\n    'Authorization': `token ${$credentials.githubApi.accessToken}`,\n    'Accept': 'application/vnd.github.v3+json'\n  }\n});\n\n// 2. Build a lookup map: filename -> { download_url, sha }\nconst fileMap = {};\nconst files = Array.isArray(githubResponse) ? githubResponse : [];\nfor (const file of files) {\n  if (file && file.name) {\n    fileMap[file.name] = {\n      download_url: file.download_url,\n      sha: file.sha\n    };\n  }\n}\n\n// 3. Annotate each workflow with its GitHub match\nconst workflows = $input.all();\nconst output = [];\n\nfor (const item of workflows) {\n  const wfName = item.json.name;\n  const match = fileMap[wfName] || null;\n  output.push({\n    json: {\n      ...item.json,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2336,
          -320
        ],
        "id": "3b447bbf-135e-4858-8e18-4ed371feabee",
        "name": "Fetch GitHub File List & Tag"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -3008,
          -320
        ],
        "id": "4cef3a94-5213-4a2c-8607-be36db6dcff7",
        "name": "Schedule Trigger2"
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// STEP 1: Filter n8n workflows\n// ─────────────────────────────────────────────────────────────\n// Add any workflow names here that should NEVER be synced to GitHub\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v2)'\n];\n\nconst allWorkflows = $input.all();\n\nconst filtered = allWorkflows.filter(item => {\n  const isActive = item.json.active === true;\n  const notExcluded = !excludeList.includes(item.json.name);\n  return isActive && notExcluded;\n});\n\nreturn filtered;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2560,
          -320
        ],
        "id": "767f8bd0-29f9-49c0-bb4e-0b3ff9667e71",
        "name": "Filter Active Workflows1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-exists",
                "leftValue": "={{ $json.existsInGitHub }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -2112,
          -320
        ],
        "id": "fafe3b8a-da86-42d1-b231-be3986635408",
        "name": "File Exists in GitHub?1"
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// STEP 3a: Fetch the existing GitHub file and compare timestamps\n// ─────────────────────────────────────────────────────────────\n// Download the file from GitHub, read its stored updatedAt,\n// and compare against the current n8n workflow's updatedAt.\n// Only pass through if n8n is newer (i.e., needs a sync).\n// ─────────────────────────────────────────────────────────────\n\nconst item = $input.item.json;\n\n// Fetch the file content from GitHub\nconst fileContent = await $http.request({\n  method: 'GET',\n  url: item.githubDownloadUrl\n});\n\n// The file was saved as JSON — parse updatedAt from it\nlet githubUpdatedAt = null;\ntry {\n  const parsed = typeof fileContent === 'string' ? JSON.parse(fileContent) : fileContent;\n  githubUpdatedAt = parsed.updatedAt ? new Date(parsed.updatedAt) : null;\n} catch (e) {\n  // If we can't parse it, always overwrite\n  githubUpdatedAt = null;\n}\n\nconst n8nUpdatedAt = new Date(item.updatedAt);\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{ json: { ...item, shouldUpdate, githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1888,
          -224
        ],
        "id": "b00968f8-d3b7-4087-8a20-15d98505aa98",
        "name": "Compare Timestamps1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-should-update",
                "leftValue": "={{ $json.shouldUpdate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1664,
          -224
        ],
        "id": "4d3a403f-ec6b-4d38-92b2-def3d4311add",
        "name": "Should Update?1"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1440,
          -224
        ],
        "id": "97d2ad94-380d-4fae-a4f9-ade83bbe407b",
        "name": "Edit Existing File1",
        "webhookId": "6440af67-956f-4605-9261-ea9800969b83",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1888,
          -416
        ],
        "id": "92854bca-5567-4f85-ad74-97f6a64349bf",
        "name": "Create New File1",
        "webhookId": "3e5cbd68-a152-42be-8a23-2e23f3eb2c80",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Pull the fileMap from the previous node and the full\n// workflow list from the Filter node, then annotate each\n// workflow with its GitHub match info.\n// ─────────────────────────────────────────────────────────────\n\n// The fileMap comes in as the single item from this node's input\nconst fileMap = $input.first().json.fileMap || {};\n\n// Grab all filtered workflows from the earlier node\nconst workflows = $('Filter Active Workflows2').all();\n\nconst output = [];\nfor (const item of workflows) {\n  const wfName = item.json.name;\n  const match = fileMap[wfName] || null;\n  output.push({\n    json: {\n      ...item.json,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1824,
          160
        ],
        "id": "a68fc90b-9d89-463f-9bca-f0a725d3f0ba",
        "name": "Tag Workflows with GitHub Info"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -3024,
          160
        ],
        "id": "4c1ec654-019b-43dd-81f6-25a6230a99e3",
        "name": "Schedule Trigger3"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -2784,
          160
        ],
        "id": "763d3c30-a75d-4842-a6f8-c79c49d2d4e7",
        "name": "Get All n8n Workflows1",
        "credentials": {
          "n8nApi": {
            "id": "K4Gqcoe79LwYQSN3",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Add any workflow names here that should NEVER be synced to GitHub\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v3)'\n];\n\nconst allWorkflows = $input.all();\n\nconst filtered = allWorkflows.filter(item => {\n  const isActive = item.json.active === true;\n  const notExcluded = !excludeList.includes(item.json.name);\n  return isActive && notExcluded;\n});\n\nreturn filtered;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2544,
          160
        ],
        "id": "93c3b8f1-6199-4068-bd3a-7f743fdaff4c",
        "name": "Filter Active Workflows2"
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2304,
          160
        ],
        "id": "5ba2a75b-e2ce-4480-a3d3-d42667f7d0a9",
        "name": "Get GitHub File List1",
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Build a GitHub filename -> { download_url, sha } lookup map\n// from ALL items returned by the GitHub file list node,\n// then output it as a SINGLE item for use in the next node.\n// ─────────────────────────────────────────────────────────────\nconst files = $input.all();\nconst fileMap = {};\n\nfor (const item of files) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\nreturn [{ json: { fileMap } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2064,
          160
        ],
        "id": "ff80a6b8-022c-4ee7-94d3-5cc38b9eef48",
        "name": "Build GitHub File Map1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-exists",
                "leftValue": "={{ $json.existsInGitHub }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1584,
          160
        ],
        "id": "d26b833d-b95d-4b7b-86f6-5193765e0752",
        "name": "File Exists in GitHub?2"
      },
      {
        "parameters": {
          "url": "={{ $json.githubDownloadUrl }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -1344,
          272
        ],
        "id": "3c1a8e95-cf85-4877-bf62-b20eedbc48c8",
        "name": "Fetch GitHub File Content1"
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Compare the updatedAt stored inside the GitHub file\n// against the current n8n workflow's updatedAt.\n// Pass through only if n8n version is newer.\n// ─────────────────────────────────────────────────────────────\n\n// The GitHub file content is the current item (parsed JSON)\nconst githubFile = $input.item.json;\n\n// The original workflow data is still accessible from the Tag node\n// We match by name to get the right workflow's updatedAt\nconst workflowName = githubFile.name;\nconst allTagged = $('Tag Workflows with GitHub Info').all();\nconst matchedWorkflow = allTagged.find(w => w.json.name === workflowName);\n\nif (!matchedWorkflow) {\n  // Safety fallback: if we can't find it, skip\n  return [];\n}\n\nconst n8nUpdatedAt = new Date(matchedWorkflow.json.updatedAt);\nconst githubUpdatedAt = githubFile.updatedAt ? new Date(githubFile.updatedAt) : null;\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{\n  json: {\n    ...matchedWorkflow.json,\n    shouldUpdate,\n    githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1104,
          272
        ],
        "id": "38b695d4-2591-4f8a-9255-6273f7f8ee7b",
        "name": "Compare Timestamps2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-should-update",
                "leftValue": "={{ $json.shouldUpdate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -864,
          272
        ],
        "id": "f216483c-85c5-492e-92fa-e4f67b5667a3",
        "name": "Should Update?2"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -608,
          160
        ],
        "id": "c7aea24b-988c-4fa4-9f2d-eb5c7f1f7763",
        "name": "Edit Existing File2",
        "webhookId": "709664f6-f6c9-4b77-b500-dc9385d80742",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1344,
          16
        ],
        "id": "ce42aa0a-2568-49d9-a0c2-e3f660995602",
        "name": "Create New File2",
        "webhookId": "89b4b3fc-93f4-4129-9a12-2933efd1cf85",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v4)'\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows2').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1936,
          1248
        ],
        "id": "5c74758f-a87e-47a9-9637-218ae4eadcb9",
        "name": "Filter & Tag Workflows"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -2736,
          1152
        ],
        "id": "e79b3597-8d9b-4514-a95a-b1592e8dfa4d",
        "name": "Schedule Trigger4"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -2400,
          1024
        ],
        "id": "c4fcd80d-525c-42d8-b5a3-95219ad7cb99",
        "name": "Get All n8n Workflows2",
        "credentials": {
          "n8nApi": {
            "id": "K4Gqcoe79LwYQSN3",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2400,
          1248
        ],
        "id": "816382ca-ca87-4a85-9e50-c043fc280c5c",
        "name": "Get GitHub File List2",
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE after the GitHub file list is fetched.\n// Collapses all GitHub file items into a single fileMap object.\n// ─────────────────────────────────────────────────────────────\nconst files = $input.all();\nconst fileMap = {};\n\nfor (const item of files) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\nreturn [{ json: { fileMap } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2160,
          1248
        ],
        "id": "5380f7aa-32e2-4913-ab8f-a425db73fd2d",
        "name": "Build GitHub File Map2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-exists",
                "leftValue": "={{ $json.existsInGitHub }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1696,
          1248
        ],
        "id": "4f9cd2d1-2e64-4af7-8414-9fa63e319c0b",
        "name": "File Exists in GitHub?3"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Compare the updatedAt inside the GitHub file against\n// the current n8n workflow's updatedAt.\n// Only pass through if n8n is newer.\n// ─────────────────────────────────────────────────────────────\nconst githubFile = $input.item.json;\nconst workflowName = githubFile.name;\n\n// Find matching workflow from the tagged list\nconst allTagged = $('Filter & Tag Workflows').all();\nconst matchedWorkflow = allTagged.find(w => w.json.name === workflowName);\n\nif (!matchedWorkflow) return [];\n\nconst n8nUpdatedAt = new Date(matchedWorkflow.json.updatedAt);\nconst githubUpdatedAt = githubFile.updatedAt ? new Date(githubFile.updatedAt) : null;\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{\n  json: {\n    ...matchedWorkflow.json,\n    shouldUpdate,\n    githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1440,
          1344
        ],
        "id": "38eb9670-4ad1-49a8-b3f3-79ea4179f5c2",
        "name": "Compare Timestamps3"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-should-update",
                "leftValue": "={{ $json.shouldUpdate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1232,
          1344
        ],
        "id": "21bae5b3-9936-49d9-812b-70d652ac375f",
        "name": "Should Update?3"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -976,
          1200
        ],
        "id": "2b95349e-4251-4c64-82d3-7adade59377b",
        "name": "Edit Existing File3",
        "webhookId": "aebae5f6-7bdd-4d8c-b912-dcc02c1cf63b",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1440,
          1136
        ],
        "id": "c8abd706-f7ba-4360-868f-8aa16471e1e8",
        "name": "Create New File3",
        "webhookId": "3dcb8158-779c-49fd-88c4-ddd17e880aa0",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -2576,
          2000
        ],
        "id": "9bf1c7e2-334f-4961-881a-2c302975b6af",
        "name": "Schedule Trigger5"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -2336,
          2000
        ],
        "id": "a8eb8c2a-83ac-4037-8dff-cee2cd206881",
        "name": "Get All n8n Workflows3",
        "credentials": {
          "n8nApi": {
            "id": "K4Gqcoe79LwYQSN3",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2336,
          2240
        ],
        "id": "275d1de1-576e-4103-a885-4de1b104c4be",
        "name": "Get GitHub File List3",
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE after the GitHub file list is fetched.\n// Collapses all GitHub file items into a single fileMap object.\n// ─────────────────────────────────────────────────────────────\nconst files = $input.all();\nconst fileMap = {};\n\nfor (const item of files) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\nreturn [{ json: { fileMap } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2096,
          2240
        ],
        "id": "d33a517c-799c-45b3-8d18-e6dd2e991e3d",
        "name": "Build GitHub File Map3"
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v5)'\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows3').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Trim name for safe matching (handles any trailing spaces)\n  const wfNameTrimmed = (wf.name || '').trim();\n  const match = fileMap[wfNameTrimmed] || null;\n\n  output.push({\n    json: {\n      ...wf,\n      name: wfNameTrimmed,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null,\n      _debug_fileMapKeys: Object.keys(fileMap) // remove after confirming match works\n    }\n  });\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1856,
          2240
        ],
        "id": "1e99dbba-7b95-4141-bb2d-69e67a3d22fd",
        "name": "Filter & Tag Workflows1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-exists",
                "leftValue": "={{ $json.existsInGitHub }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1616,
          2240
        ],
        "id": "730a7061-2e36-4f05-9a7e-29889cb36a09",
        "name": "File Exists in GitHub?4"
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Fetch the GitHub file content AND carry the n8n workflow\n// metadata (name, updatedAt, id) forward in the same item.\n// This avoids needing to look anything up downstream.\n// ─────────────────────────────────────────────────────────────\nconst item = $input.item.json;\n\n// Stash the n8n workflow fields we need before the HTTP call\nconst n8nName = item.name;\nconst n8nUpdatedAt = item.updatedAt;\nconst n8nId = item.id;\nconst downloadUrl = item.githubDownloadUrl;\nconst githubSha = item.githubSha;\n\n// Fetch the raw file content from GitHub\nconst githubFileContent = await $helpers.httpRequest({\n  method: 'GET',\n  url: downloadUrl\n});\n\n// The file was stored as JSON — parse updatedAt from it\nlet githubUpdatedAt = null;\ntry {\n  const parsed = typeof githubFileContent === 'string'\n    ? JSON.parse(githubFileContent)\n    : githubFileContent;\n  githubUpdatedAt = parsed.updatedAt || null;\n} catch (e) {\n  // Can't parse — force an update\n  githubUpdatedAt = null;\n}\n\nreturn [{\n  json: {\n    ...item,\n    _n8nName: n8nName,\n    _n8nUpdatedAt: n8nUpdatedAt,\n    _githubUpdatedAt: githubUpdatedAt,\n    _githubSha: githubSha\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1376,
          2352
        ],
        "id": "4331b501-d8f4-466f-8b0b-5973b2c88f9a",
        "name": "Fetch GitHub File Content3"
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Compare timestamps — all data is already on the item,\n// no need to look anything up from other nodes.\n// ─────────────────────────────────────────────────────────────\nconst item = $input.item.json;\n\nconst n8nUpdatedAt = new Date(item._n8nUpdatedAt);\nconst githubUpdatedAt = item._githubUpdatedAt ? new Date(item._githubUpdatedAt) : null;\n\n// Sync if GitHub has no record, or n8n version is newer\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{\n  json: {\n    ...item,\n    shouldUpdate,\n    githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1136,
          2352
        ],
        "id": "bb02acd9-7635-4af3-b08a-81efe8340d37",
        "name": "Compare Timestamps4"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-should-update",
                "leftValue": "={{ $json.shouldUpdate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -896,
          2352
        ],
        "id": "4dcd3c55-65ed-443c-aa17-58ed8d9a0022",
        "name": "Should Update?4"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -656,
          2352
        ],
        "id": "02765992-a806-47b2-b99f-114218f48d12",
        "name": "Edit Existing File4",
        "webhookId": "8aabb8f3-a57b-4c6c-88d3-ec399aa2ecfc",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1376,
          2096
        ],
        "id": "bf1b8297-87a1-49be-b252-bf015136223e",
        "name": "Create New File4",
        "webhookId": "ee2cccde-ebee-4a18-80d0-ec19fff2690b",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v4)'\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows4').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1920,
          3296
        ],
        "id": "7c09efe3-f3d0-4545-ba77-5f0d7aafc107",
        "name": "Filter & Tag Workflows2"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -2720,
          3200
        ],
        "id": "51d606be-ea28-476b-a591-40a70ac53ced",
        "name": "Schedule Trigger6"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -2384,
          3072
        ],
        "id": "b55fef97-a085-475c-a47c-93905783ebe9",
        "name": "Get All n8n Workflows4",
        "credentials": {
          "n8nApi": {
            "id": "K4Gqcoe79LwYQSN3",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -2384,
          3296
        ],
        "id": "1549810e-252b-4de2-8fd5-6eb7901e0fa8",
        "name": "Get GitHub File List4",
        "alwaysOutputData": true,
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE after the GitHub file list is fetched.\n// Collapses all GitHub file items into a single fileMap object.\n// ─────────────────────────────────────────────────────────────\nconst files = $input.all();\nconst fileMap = {};\n\nfor (const item of files) {\n  const f = item.json;\n  if (f && f.name) {\n    fileMap[f.name] = {\n      download_url: f.download_url,\n      sha: f.sha\n    };\n  }\n}\n\nreturn [{ json: { fileMap } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2144,
          3296
        ],
        "id": "4a1e4cc5-e62b-4d80-a062-bd114c6831a2",
        "name": "Build GitHub File Map4"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-exists",
                "leftValue": "={{ $json.existsInGitHub }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1680,
          3296
        ],
        "id": "7d06dd57-3a8d-4131-b349-c76a3fdf512f",
        "name": "File Exists in GitHub?5"
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// $input.item.json = the n8n workflow item (with githubDownloadUrl)\n// We fetch the GitHub file content here to get its stored updatedAt,\n// then compare against the n8n workflow's updatedAt.\n// ─────────────────────────────────────────────────────────────\n\nconst workflow = $input.item.json;\nconst n8nUpdatedAt = new Date(workflow.updatedAt);\n\n// Fetch the actual file content stored in GitHub\nlet githubUpdatedAt = null;\ntry {\n  const response = await $helpers.httpRequest({\n    method: 'GET',\n    url: workflow.githubDownloadUrl,\n    returnFullResponse: false\n  });\n\n  // The file was saved as JSON — parse updatedAt from it\n  const parsed = typeof response === 'string' ? JSON.parse(response) : response;\n  githubUpdatedAt = parsed.updatedAt ? new Date(parsed.updatedAt) : null;\n\n} catch (e) {\n  // If fetch or parse fails, force an update to be safe\n  githubUpdatedAt = null;\n}\n\n// n8n is newer if GitHub has no date, or n8n updatedAt is after GitHub's\nconst shouldUpdate = !githubUpdatedAt || n8nUpdatedAt > githubUpdatedAt;\n\nreturn [{\n  json: {\n    ...workflow,\n    shouldUpdate,\n    n8nUpdatedAt: n8nUpdatedAt.toISOString(),\n    githubUpdatedAt: githubUpdatedAt ? githubUpdatedAt.toISOString() : null\n  }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1216,
          3392
        ],
        "id": "9b10a954-af11-4052-b7c2-8144ab860385",
        "name": "Compare Timestamps5"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-should-update",
                "leftValue": "={{ $json.shouldUpdate }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -992,
          3392
        ],
        "id": "b3ca1b77-0e4f-4192-8c2d-0b9b14756daf",
        "name": "Should Update?5"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -736,
          3264
        ],
        "id": "7f2a72fd-ce69-4856-bd29-cc3a7e02f159",
        "name": "Edit Existing File5",
        "webhookId": "aebae5f6-7bdd-4d8c-b912-dcc02c1cf63b",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($json, null, 2) }}",
          "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -1424,
          3184
        ],
        "id": "6f82405f-7c76-4b86-af0d-7bdf7cf6851d",
        "name": "Create New File5",
        "webhookId": "3dcb8158-779c-49fd-88c4-ddd17e880aa0",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/IAMVENEETH/n8n/main/{{ $json.name }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -1424,
          3392
        ],
        "id": "bce698c2-791a-4848-abc9-48e1d91af1be",
        "name": "HTTP Request",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n  'GitHub Workflow Sync (v4)'\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows5').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -512,
          4064
        ],
        "id": "494b2baa-e6e9-46e8-971a-79833faa3c00",
        "name": "Filter & Tag Workflows3"
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -1312,
          3968
        ],
        "id": "7a9a7c85-e4d5-4b37-b87e-47f168f1a5f0",
        "name": "Schedule Trigger7"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          -976,
          3840
        ],
        "id": "1910c34d-83f2-4bcf-9433-a1973924aadf",
        "name": "Get All n8n Workflows5",
        "credentials": {
          "n8nApi": {
            "id": "K4Gqcoe79LwYQSN3",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst fileMap = {};\n\nfor (const item of items) {\n  const tree = item.json.tree;\n  \n  if (Array.isArray(tree)) {\n    for (const f of tree) {\n      if (f.type === \"blob\") {  // only files, skip folders\n        fileMap[f.path] = {\n          sha: f.sha,\n          url: f.url,\n          size: f.size\n        };\n      }\n    }\n  }\n}\n\nreturn [{ json: { fileMap } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -736,
          4064
        ],
        "id": "c0e87f0d-5bab-47db-991f-46d24a2e6e90",
        "name": "Build GitHub File Map5"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-exists",
                "leftValue": "={{ $json.existsInGitHub }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -272,
          4064
        ],
        "id": "9025c9c8-3b60-4520-b7ce-1c6cc67ae54f",
        "name": "File Exists in GitHub?6"
      },
      {
        "parameters": {
          "url": "=https://raw.githubusercontent.com/IAMVENEETH/n8n/main/{{ $json.name }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {
            "response": {
              "response": {
                "neverError": true,
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -16,
          4160
        ],
        "id": "312ff9d9-2b9a-4c8e-b143-a73dbf776e09",
        "name": "HTTP Request2",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": false,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "cond-should-update",
                "leftValue": "={{ $json.updatedAt.toDateTime()}}",
                "rightValue": "={{ $('Filter & Tag Workflows3').item.json.updatedAt.toDateTime()}}",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {
            "ignoreCase": true
          }
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          208,
          4160
        ],
        "id": "427957c9-d9d0-41f0-aacd-5e609dd3547e",
        "name": "Should Update?6"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($('Filter & Tag Workflows3').item.json, null, 2) }}",
          "commitMessage": "=sync: updated {{ $json.name }} at {{ $now.toISO() }}",
          "additionalParameters": {
            "branch": {
              "branch": "dev"
            }
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          432,
          4016
        ],
        "id": "559bf9ac-f1fd-40e5-b330-870a450c1fcd",
        "name": "Edit Existing File6",
        "webhookId": "aebae5f6-7bdd-4d8c-b912-dcc02c1cf63b",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "={{ $json.name }}",
          "fileContent": "={{ JSON.stringify($('Filter & Tag Workflows3').item.json, null, 2) }}",
          "commitMessage": "=sync: created {{ $json.name }} at {{ $now.toISO() }}",
          "additionalParameters": {
            "branch": {
              "branch": "dev"
            }
          }
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -16,
          3952
        ],
        "id": "ff60e701-52dd-4a95-816f-32c9fb3303ce",
        "name": "Create New File6",
        "webhookId": "3dcb8158-779c-49fd-88c4-ddd17e880aa0",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/IAMVENEETH/n8n/git/trees/dev?recursive=1",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -976,
          4064
        ],
        "id": "8461b3b0-4c21-46b3-87d7-d6085fdeb30c",
        "name": "HTTP Request3",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      }
    ],
    "connections": {
      "If": {
        "main": [
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Workflows from GitHub1": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit a file": {
        "main": [
          []
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Filter1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter1": {
        "main": [
          [
            {
              "node": "Get Workflows from GitHub1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Active Workflows": {
        "main": [
          [
            {
              "node": "Combine Workflows + GitHub Map",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get GitHub File List": {
        "main": [
          [
            {
              "node": "Build GitHub File Map",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build GitHub File Map": {
        "main": [
          [
            {
              "node": "Combine Workflows + GitHub Map",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Combine Workflows + GitHub Map": {
        "main": [
          [
            {
              "node": "Check If File Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check If File Exists": {
        "main": [
          [
            {
              "node": "File Exists in GitHub?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Exists in GitHub?": {
        "main": [
          [
            {
              "node": "Fetch GitHub File Content",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch GitHub File Content": {
        "main": [
          [
            {
              "node": "Compare Timestamps",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Timestamps": {
        "main": [
          [
            {
              "node": "Should Update?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Update?": {
        "main": [
          [
            {
              "node": "Edit Existing File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger1": {
        "main": [
          [
            {
              "node": "Get many workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows1": {
        "main": [
          [
            {
              "node": "Filter Active Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All n8n Workflows": {
        "main": [
          [
            {
              "node": "Filter Active Workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch GitHub File List & Tag": {
        "main": [
          [
            {
              "node": "File Exists in GitHub?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger2": {
        "main": [
          [
            {
              "node": "Get All n8n Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Active Workflows1": {
        "main": [
          [
            {
              "node": "Fetch GitHub File List & Tag",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Exists in GitHub?1": {
        "main": [
          [
            {
              "node": "Compare Timestamps1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Timestamps1": {
        "main": [
          [
            {
              "node": "Should Update?1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Update?1": {
        "main": [
          [
            {
              "node": "Edit Existing File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tag Workflows with GitHub Info": {
        "main": [
          [
            {
              "node": "File Exists in GitHub?2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger3": {
        "main": [
          [
            {
              "node": "Get All n8n Workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All n8n Workflows1": {
        "main": [
          [
            {
              "node": "Filter Active Workflows2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Active Workflows2": {
        "main": [
          [
            {
              "node": "Get GitHub File List1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get GitHub File List1": {
        "main": [
          [
            {
              "node": "Build GitHub File Map1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build GitHub File Map1": {
        "main": [
          [
            {
              "node": "Tag Workflows with GitHub Info",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Exists in GitHub?2": {
        "main": [
          [
            {
              "node": "Fetch GitHub File Content1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New File2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch GitHub File Content1": {
        "main": [
          [
            {
              "node": "Compare Timestamps2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Timestamps2": {
        "main": [
          [
            {
              "node": "Should Update?2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Update?2": {
        "main": [
          [
            {
              "node": "Edit Existing File2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter & Tag Workflows": {
        "main": [
          [
            {
              "node": "File Exists in GitHub?3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger4": {
        "main": [
          [
            {
              "node": "Get All n8n Workflows2",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get GitHub File List2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get GitHub File List2": {
        "main": [
          [
            {
              "node": "Build GitHub File Map2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build GitHub File Map2": {
        "main": [
          [
            {
              "node": "Filter & Tag Workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Exists in GitHub?3": {
        "main": [
          [
            {
              "node": "Compare Timestamps3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New File3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Timestamps3": {
        "main": [
          [
            {
              "node": "Should Update?3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Update?3": {
        "main": [
          [
            {
              "node": "Edit Existing File3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger5": {
        "main": [
          [
            {
              "node": "Get All n8n Workflows3",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get GitHub File List3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get GitHub File List3": {
        "main": [
          [
            {
              "node": "Build GitHub File Map3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build GitHub File Map3": {
        "main": [
          [
            {
              "node": "Filter & Tag Workflows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter & Tag Workflows1": {
        "main": [
          [
            {
              "node": "File Exists in GitHub?4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Exists in GitHub?4": {
        "main": [
          [
            {
              "node": "Fetch GitHub File Content3",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New File4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Fetch GitHub File Content3": {
        "main": [
          [
            {
              "node": "Compare Timestamps4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Timestamps4": {
        "main": [
          [
            {
              "node": "Should Update?4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Update?4": {
        "main": [
          [
            {
              "node": "Edit Existing File4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter & Tag Workflows2": {
        "main": [
          [
            {
              "node": "File Exists in GitHub?5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger6": {
        "main": [
          [
            {
              "node": "Get All n8n Workflows4",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get GitHub File List4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get GitHub File List4": {
        "main": [
          [
            {
              "node": "Build GitHub File Map4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build GitHub File Map4": {
        "main": [
          [
            {
              "node": "Filter & Tag Workflows2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Exists in GitHub?5": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New File5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Compare Timestamps5": {
        "main": [
          [
            {
              "node": "Should Update?5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Update?5": {
        "main": [
          [
            {
              "node": "Edit Existing File5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Compare Timestamps5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter & Tag Workflows3": {
        "main": [
          [
            {
              "node": "File Exists in GitHub?6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger7": {
        "main": [
          [
            {
              "node": "Get All n8n Workflows5",
              "type": "main",
              "index": 0
            },
            {
              "node": "HTTP Request3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build GitHub File Map5": {
        "main": [
          [
            {
              "node": "Filter & Tag Workflows3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Exists in GitHub?6": {
        "main": [
          [
            {
              "node": "HTTP Request2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create New File6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request2": {
        "main": [
          [
            {
              "node": "Should Update?6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Update?6": {
        "main": [
          [
            {
              "node": "Edit Existing File6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request3": {
        "main": [
          [
            {
              "node": "Build GitHub File Map5",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Existing File6": {
        "main": [
          []
        ]
      }
    },
    "authors": "Veneeth Batchu",
    "name": "Version fc24041c",
    "description": "",
    "autosaved": true
  },
  "tags": [],
  "existsInGitHub": true,
  "githubDownloadUrl": "https://raw.githubusercontent.com/IAMVENEETH/n8n/main/GitHub%20Workflow%20Sync%20(v5)",
  "githubSha": "ca0217754f72c10aa21544a346df46b6959d768d",
  "shouldUpdate": true,
  "githubUpdatedAt": "2026-02-18T09:17:15.049Z"
}