workflows/.json
{"data":[{"updatedAt":"2026-02-19T10:02:54.907Z","createdAt":"2026-02-19T09:12:49.577Z","id":"BH3pWcX7z5c4LYG85rsNY","name":"sample_worflow","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"helo","formDescription":"sjakejfnmh","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-256,-144],"id":"32f61188-81db-4fdb-8f35-d300c44c9cef","name":"On form submission","webhookId":"eda5ff3b-466e-46f7-82a5-ace3f5aca52f"},{"parameters":{"events":["activate"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-160,112],"id":"72f6225c-78d6-439d-92a6-af711bd1f5b4","name":"n8n Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"zldKSgo2piglJZSn1T6ys","mode":"list","cachedResultUrl":"/workflow/zldKSgo2piglJZSn1T6ys","cachedResultName":"Backup workflows to GitHub (Direct Push)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[48,112],"id":"4fd62f6c-9f0a-497d-be98-e0a9733ac9eb","name":"Call 'Backup workflows to GitHub (Direct Push)'"}],"connections":{"n8n Trigger":{"main":[[{"node":"Call 'Backup workflows to GitHub (Direct Push)'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3e87d487-e997-4a9a-8ed7-65fba83c84d3","activeVersionId":"3e87d487-e997-4a9a-8ed7-65fba83c84d3","triggerCount":2,"shared":[{"updatedAt":"2026-02-19T09:12:49.582Z","createdAt":"2026-02-19T09:12:49.582Z","role":"workflow:owner","workflowId":"BH3pWcX7z5c4LYG85rsNY","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":{"updatedAt":"2026-02-19T10:03:10.000Z","createdAt":"2026-02-19T10:02:54.908Z","versionId":"3e87d487-e997-4a9a-8ed7-65fba83c84d3","workflowId":"BH3pWcX7z5c4LYG85rsNY","nodes":[{"parameters":{"formTitle":"helo","formDescription":"sjakejfnmh","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[-256,-144],"id":"32f61188-81db-4fdb-8f35-d300c44c9cef","name":"On form submission","webhookId":"eda5ff3b-466e-46f7-82a5-ace3f5aca52f"},{"parameters":{"events":["activate"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[-160,112],"id":"72f6225c-78d6-439d-92a6-af711bd1f5b4","name":"n8n Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"zldKSgo2piglJZSn1T6ys","mode":"list","cachedResultUrl":"/workflow/zldKSgo2piglJZSn1T6ys","cachedResultName":"Backup workflows to GitHub (Direct Push)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[48,112],"id":"4fd62f6c-9f0a-497d-be98-e0a9733ac9eb","name":"Call 'Backup workflows to GitHub (Direct Push)'"}],"connections":{"n8n Trigger":{"main":[[{"node":"Call 'Backup workflows to GitHub (Direct Push)'","type":"main","index":0}]]}},"authors":"Veneeth Batchu","name":"Version 3e87d487","description":"","autosaved":true},"tags":[]},{"updatedAt":"2026-02-19T03:03:32.365Z","createdAt":"2026-02-11T15:54:16.658Z","id":"DRkxG3Wzq9tqxVXr-AOhW","name":"GitHub Workflow Sync (v5)","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'GitHub Workflow Sync (v5)',\n  'Backup workflows to GitHub (Direct Push)',\n  'Import workflows from git'\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows5').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name + '.json'] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,4064],"id":"494b2baa-e6e9-46e8-971a-79833faa3c00","name":"Filter & Tag Workflows3","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1312,3968],"id":"7a9a7c85-e4d5-4b37-b87e-47f168f1a5f0","name":"Schedule Trigger7"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-976,3840],"id":"1910c34d-83f2-4bcf-9433-a1973924aadf","name":"Get All n8n Workflows5","credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"const fileMap = {};\n\nfor (const item of $input.all()) {\n  const tree = item.json.tree;\n  \n  if (Array.isArray(tree)) {\n    for (const file of tree) {\n      if (file.type === \"blob\") {\n        const fileName = file.path.split('/').pop();\n        fileMap[fileName] = {\n          sha: file.sha,\n          url: file.url,\n          size: file.size\n        };\n      }\n    }\n  }\n}\n\nreturn [{ json: { fileMap } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,4064],"id":"c0e87f0d-5bab-47db-991f-46d24a2e6e90","name":"Build GitHub File Map5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-exists","leftValue":"={{ $json.existsInGitHub }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-96,4144],"id":"9025c9c8-3b60-4520-b7ce-1c6cc67ae54f","name":"File Exists in GitHub?6"},{"parameters":{"url":"=https://raw.githubusercontent.com/IAMVENEETH/n8n/dev/{{ $json.name }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[416,4272],"id":"312ff9d9-2b9a-4c8e-b143-a73dbf776e09","name":"HTTP Request2","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-should-update","leftValue":"={{ $json.updatedAt.toDateTime()}}","rightValue":"={{ $('Filter & Tag Workflows3').item.json.updatedAt.toDateTime()}}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[640,4272],"id":"427957c9-d9d0-41f0-aacd-5e609dd3547e","name":"Should Update?6"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"IAMVENEETH","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/IAMVENEETH/n8n"},"filePath":"={{ $json.name }}","fileContent":"={{ JSON.stringify($('Filter & Tag Workflows3').item.json, null, 2) }}","commitMessage":"=sync: updated {{ $json.name }} at {{ $now.toISO() }}","additionalParameters":{"branch":{"branch":"dev"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[944,4256],"id":"559bf9ac-f1fd-40e5-b330-870a450c1fcd","name":"Edit Existing File6","webhookId":"aebae5f6-7bdd-4d8c-b912-dcc02c1cf63b","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"IAMVENEETH","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/IAMVENEETH/n8n"},"filePath":"={{ $json.name }}","fileContent":"={{ JSON.stringify($('Filter & Tag Workflows3').item.json, null, 2) }}","commitMessage":"=sync: created {{ $json.name }} at {{ $now.toISO() }}","additionalParameters":{"branch":{"branch":"dev"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[192,3952],"id":"ff60e701-52dd-4a95-816f-32c9fb3303ce","name":"Create New File6","webhookId":"3dcb8158-779c-49fd-88c4-ddd17e880aa0","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"url":"https://api.github.com/repos/IAMVENEETH/n8n/git/tree/dev?recursive=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-976,4064],"id":"8461b3b0-4c21-46b3-87d7-d6085fdeb30c","name":"HTTP Request3","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"batchSize":"={{ $input.all().length}}","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[144,4256],"id":"af4fd7f0-0b4a-433c-b037-87a6542165a3","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/IAMVENEETH/n8n/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"title\": \"Automated PR for dev\",\n\"body\": \"\",\n\"head\": \"dev\",\n\"base\": \"main\"\n}","options":{}},"id":"762be94f-c8bb-4ed1-93fe-5f840a25a2e9","name":"Create new PR via GitHub API1","type":"n8n-nodes-base.httpRequest","position":[496,4048],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"87bcdfe4-69de-4694-8a8a-c9ca94f0ff11","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-304,4064],"id":"8a404d61-e783-46fe-8572-5d9ed7bfa8e3","name":"If"}],"connections":{"Filter & Tag Workflows3":{"main":[[{"node":"If","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Get All n8n Workflows5","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0}]]},"Build GitHub File Map5":{"main":[[{"node":"Filter & Tag Workflows3","type":"main","index":0}]]},"File Exists in GitHub?6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Create New File6","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Should Update?6","type":"main","index":0}]]},"Should Update?6":{"main":[[{"node":"Edit Existing File6","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Build GitHub File Map5","type":"main","index":0}]]},"Edit Existing File6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Create new PR via GitHub API1","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"Create New File6":{"main":[[{"node":"Create new PR via GitHub API1","type":"main","index":0}]]},"If":{"main":[[{"node":"Create New File6","type":"main","index":0}],[{"node":"File Exists in GitHub?6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60be5187-5e39-47d2-ab6b-e8e4f569b917","activeVersionId":null,"triggerCount":8,"shared":[{"updatedAt":"2026-02-11T15:54:16.663Z","createdAt":"2026-02-11T15:54:16.663Z","role":"workflow:owner","workflowId":"DRkxG3Wzq9tqxVXr-AOhW","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-18T18:02:51.000Z","createdAt":"2026-02-18T10:53:40.213Z","id":"IUOPCctWrbZXzGIS","name":"My Sub-Workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{},"id":"b5942df6-0160-4ef7-965d-57583acdc8aa","name":"Replace me with your logic","type":"n8n-nodes-base.noOp","position":[528,352]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Replace me with your logic","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"d9d9e254-ed06-4049-94a7-65c743647e6d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T10:53:40.222Z","createdAt":"2026-02-18T10:53:40.222Z","role":"workflow:owner","workflowId":"IUOPCctWrbZXzGIS","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-19T10:25:15.057Z","createdAt":"2026-02-11T04:14:30.198Z","id":"NKSgZKDRvHVY9U9VBm5mz","name":"Extract_mail","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"=Task: Extract Load Details from the provided email {{ $json.text_content }}\n\nExtraction Requirements:\nPlease identify and extract the following fields. If a field is not mentioned in the text, return null.\n\nLoad_details:\n\nEmail Received Date (MM-DD-YYYY),\nEmail Received Time (HH:MM:SS),\n(if there are no email_received_date and email_recieved_time in text_content then extract information from alternative email timings{{ $json.email_timing }})\nLoad ID,\nShipper Name,\nTotal Miles,\nWeight,\nTruck Type(If there is no Truck type in the mail search for similar fields llike TM Equipment Type and etc),\nTeam Required (Yes if Total Miles >=500 else No),\nNumber of Stops,\nPickup Date and Time (MM-DD-YYYY HH:MM),\nDelivery Date and Time (MM-DD-YYYY HH:MM).\nOrigin (City, State, Zip, Location ID), \nDestination (City, State, Zip, Location ID).\n\nStop Details: > extract data of all stops\n\nStop number,\nType:(Pickup if stop1 elif stop3 Delivery else Stop),\nCity, \nState, \nZip, \nCountry.\n\nOutput Format: \nProvide the data in a clean,JSON format matching these headers.\nOutput should in the below format only, without the text field\nFollow this exact structure:\n[\n  {\n    \"text\": \"```\\n{\\n  \\\"load_details\\\": {\\n    \\\"email_received_date\\\": \\\"DATE\\\",\\n    \\\"email_received_time\\\": \\\"TIME\\\",\\n    \\\"load_id\\\": \\\"STRING\\\",\\n    \\\"shipper_name\\\": \\\"STRING\\\",\\n    \\\"total_miles\\\": FLOAT,\\n    \\\"weight\\\": FLOAT,\\n    \\\"truck_type\\\": \\\"STRING\\\",\\n    \\\"team_required\\\": \\\"Yes/No\\\",\\n    \\\"number_of_stops\\\": INT,\\n    \\\"pickup_date_time\\\": \\\"DATE AND TIME\\\",\\n    \\\"delivery_date_time\\\": \\\"DATE AND TIME\\\",\\n    \\\"origin_city\\\": \\\"STRING\\\",\\n    \\\"origin_state\\\": \\\"STRING\\\",\\n    \\\"origin_zip\\\": \\\"INT\\\",\\n    \\\"origin_location_id\\\": \\\"STRING\\\",\\n    \\\"destination_city\\\": \\\"STIRNG\\\",\\n    \\\"destination_state\\\": \\\"STRING\\\",\\n    \\\"destination_zip\\\": \\\"INT\\\",\\n    \\\"destination_location_id\\\": \\\"INT\\\"\\n  },\\n  \\\"all_stop_details\\\": [\\n    {\\n      \\\"stop_number\\\": INT,\\n      \\\"stop_type\\\": \\\"Pickup Or Stop OR Delivery\\\",\\n      \\\"city\\\": \\\"STRING\\\",\\n      \\\"state\\\": \\\"STRING\\\",\\n      \\\"zip\\\": \\\"INT\\\",\\n      \\\"country\\\": \\\"INT\\\"\\n    },\\n```\"\n  }\n]\n\nINSTRUCTIONS:\n\n*DO NOT CONSIDER THE Service Requirements,KEY PERFORMANCE METRICS, Work Requirements,VEHICLE REQUIREMENTS AND SPECIFICATIONS, and LICENSE IN THE MAIL.\n*DO NOT CONSIDER ANY EXTERNAL LINKS IN THE MAIL\n*DO NOT CONSIDER ANY ACKNOWLEDGEMENT MESSAGES AND INSTRUCTIONS IN THE MAIL.\n*DO CONSIDER THE FROM AND TO MESSAGES IN THE MAIL.","messages":{"messageValues":[{"message":"Role: You are a specialized Logistics Data Extraction Assistant.\n Your goal is to parse unstructured email text and extract \"Load Data\"  and \"Stops Data\" into a structured JSON format.\n  Instructions:  Identify Entities: Locate the Origin, Destination, Pickup Date, Delivery Date, Equipment Type, and Rate.  \nStandardization: Convert all dates to YYYY-MM-DD format. \nValidation: If a piece of information is missing, set the value to null. Do not guess.  \nOutput: Return only a valid JSON object. No conversational filler or prose."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-352,144],"id":"8980a887-46e7-4e6f-a7e8-e98a1a589a05","name":"Basic LLM Chain"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  try {\n    // 1. CLEAN THE DATA: Remove markdown backticks and the \"json\" label\n    // This regex looks for ```json (case insensitive) and the closing ```\n    const cleanedText = item.json.text\n      .replace(/```json/gi, \"\")\n      .replace(/```/g, \"\")\n      .trim();\n\n    // 2. Parse the now-clean string\n    const data = JSON.parse(cleanedText);\n    \n    // Note: In your example data, the object is NOT wrapped in an array [ ], \n    // it's a direct object { }. So we don't need rawData[0].\n    \n    // 3. Extract load and stop objects\n    const load = data.load_details || {};\n    const stopsArray = data.all_stop_details || [];\n\n    // 4. Map the stops\n    const formattedStops = stopsArray.map((stop) => ({\n      ...stop,\n      country: stop.country || \"USA\",\n      load_id: load.load_id \n    }));\n\n    return {\n      json: {\n        load_id: load.load_id,\n        load_details: load,\n        all_stop_details: formattedStops\n      }\n    };\n\n  } catch (e) {\n    return { \n      json: { \n        error: \"Parsing Failed\", \n        message: e.message, \n        original_data: item.json.text.substring(0, 50) + \"...\" \n      } \n    };\n  }\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,144],"id":"632cee62-19d1-47ba-8690-3cccb6e24c06","name":"Code in JavaScript"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"load_details","mode":"list","cachedResultName":"load_details"},"columns":{"mappingMode":"defineBelow","value":{"total_miles":"={{ $json.load_details.total_miles }}","weight":"={{ $json.load_details.weight }}","number_of_stops":"={{ $json.load_details.number_of_stops }}","load_id":"={{ $json.load_details.load_id }}","email_received_date":"={{ $json.load_details.email_received_date }}","email_received_time":"={{ $json.load_details.email_received_time }}","shipper_name":"={{ $json.load_details.shipper_name }}","truck_type":"={{ $json.load_details.truck_type }}","team_required":"={{ $json.load_details.team_required }}","pickup_date_time":"={{ $json.load_details.pickup_date_time }}","delivery_date_time":"={{ $json.load_details.delivery_date_time }}","origin_city":"={{ $json.load_details.origin_city }}","origin_state":"={{ $json.load_details.origin_state }}","origin_zip":"={{ $json.load_details.origin_zip }}","origin_location_id":"={{ $json.load_details.origin_location_id }}","destination_city":"={{ $json.load_details.destination_city }}","destination_state":"={{ $json.load_details.destination_state }}","destination_zip":"={{ $json.load_details.destination_zip }}","destination_location_id":"={{ $json.load_details.destination_location_id }}"},"matchingColumns":[],"schema":[{"id":"load_id","displayName":"load_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_received_date","displayName":"email_received_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"email_received_time","displayName":"email_received_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"shipper_name","displayName":"shipper_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_miles","displayName":"total_miles","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"weight","displayName":"weight","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"truck_type","displayName":"truck_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"team_required","displayName":"team_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"number_of_stops","displayName":"number_of_stops","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pickup_date_time","displayName":"pickup_date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"delivery_date_time","displayName":"delivery_date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"origin_city","displayName":"origin_city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origin_state","displayName":"origin_state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origin_zip","displayName":"origin_zip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origin_location_id","displayName":"origin_location_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destination_city","displayName":"destination_city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destination_state","displayName":"destination_state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destination_zip","displayName":"destination_zip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destination_location_id","displayName":"destination_location_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"skipOnConflict":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,240],"id":"18b03b34-8b34-4abb-8777-d128ea60b82b","name":"Insert rows in a table","credentials":{"postgres":{"id":"CnUfmV48bOkEYfhg","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"stop_details","mode":"list","cachedResultName":"stop_details"},"columns":{"mappingMode":"defineBelow","value":{"stop_number":"={{ $json.stop_number }}","city":"={{ $json.city }}","state":"={{ $json.state }}","zip":"={{ $json.zip }}","country":"={{ $json.country }}","load_id":"={{ $('Code in JavaScript').item.json.load_details.load_id }}","stop_type":"={{ $json.stop_type }}"},"matchingColumns":["id"],"schema":[{"id":"load_id","displayName":"load_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stop_number","displayName":"stop_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"stop_type","displayName":"stop_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"zip","displayName":"zip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"skipOnConflict":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,80],"id":"03bfecf4-ba94-4ea0-883c-599f5f9f8390","name":"Insert rows in a table1","executeOnce":false,"credentials":{"postgres":{"id":"CnUfmV48bOkEYfhg","name":"Postgres account"}}},{"parameters":{"content":"## Extracting the details from the mail\n1)Exttract the mail using gmail api\n2)Used LLM to filter the required info from the mail","height":656,"width":960,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-992,-48],"typeVersion":1,"id":"5a65e8a3-c325-4e2b-a652-423b818e4516","name":"Sticky Note"},{"parameters":{"content":"## Storing the details into Postgres db\n1)Processed the output by the LLM\n2)stored the details of loads and stops into different tables","height":656,"width":912,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,-48],"typeVersion":1,"id":"9c50cabd-d672-47d7-98c4-e71ecf2f41f8","name":"Sticky Note1"},{"parameters":{"jsCode":"// Get the first item from the input array\nreturn $input.all().map(item => {\n  const emailText = item.json.text;\n  // Note: item.json.date is the parsed ISO date from n8n's Gmail node\n  // item.json.headers.date is the raw string from the email header\n  const emailTime = item.json.headers.date;\n\n  return {\n    json: {\n      text_content: emailText,\n      email_timing: emailTime\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,144],"id":"2190447e-c028-47f9-b8c0-3f513df8fab5","name":"Code in JavaScript2"},{"parameters":{"fieldToSplitOut":"all_stop_details","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,80],"id":"7e7bb021-28e6-49da-951c-53dd8d24f9ce","name":"Split Out"},{"parameters":{"operation":"getAll","limit":1,"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-848,144],"id":"2bd7f2b6-165c-4628-9aaa-43365218fbae","name":"Get many messages","webhookId":"d9a4c553-8ed4-4ce7-a2d9-458aac08aaef","credentials":{"gmailOAuth2":{"id":"vwUPAWu522xp6Bny","name":"Gmail account"}}},{"parameters":{"path":"ad16361a-8392-4ad5-b27f-dd96b2e9cdc7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1136,144],"id":"30014ca4-ca3b-4fb6-acad-ab24fe7b0c0a","name":"Webhook","webhookId":"ad16361a-8392-4ad5-b27f-dd96b2e9cdc7"},{"parameters":{"events":["update","activate"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[80,688],"id":"dd762950-b855-4cfa-8a89-f3cc111f6dda","name":"n8n Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"zldKSgo2piglJZSn1T6ys","mode":"list","cachedResultUrl":"/workflow/zldKSgo2piglJZSn1T6ys","cachedResultName":"Backup workflows to GitHub (Direct Push)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[288,688],"id":"6ad7d37b-5b31-4a9a-8bd1-6814df8ceff3","name":"Call 'Backup workflows to GitHub (Direct Push)'"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-576,384],"id":"126f078a-ff22-41af-9f76-863ef04d7b66","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"QYLHsZYZCnpLyrql","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Basic LLM Chain":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert rows in a table","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Insert rows in a table1":{"main":[[]]},"Code in JavaScript2":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Insert rows in a table1","type":"main","index":0}]]},"Insert rows in a table":{"main":[[]]},"Get many messages":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"Call 'Backup workflows to GitHub (Direct Push)'","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"118e3452-ea65-4797-9a9b-8c2d57338a19","activeVersionId":"118e3452-ea65-4797-9a9b-8c2d57338a19","triggerCount":2,"shared":[{"updatedAt":"2026-02-11T04:14:30.204Z","createdAt":"2026-02-11T04:14:30.204Z","role":"workflow:owner","workflowId":"NKSgZKDRvHVY9U9VBm5mz","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":{"updatedAt":"2026-02-19T16:24:07.000Z","createdAt":"2026-02-19T10:25:15.058Z","versionId":"118e3452-ea65-4797-9a9b-8c2d57338a19","workflowId":"NKSgZKDRvHVY9U9VBm5mz","nodes":[{"parameters":{"promptType":"define","text":"=Task: Extract Load Details from the provided email {{ $json.text_content }}\n\nExtraction Requirements:\nPlease identify and extract the following fields. If a field is not mentioned in the text, return null.\n\nLoad_details:\n\nEmail Received Date (MM-DD-YYYY),\nEmail Received Time (HH:MM:SS),\n(if there are no email_received_date and email_recieved_time in text_content then extract information from alternative email timings{{ $json.email_timing }})\nLoad ID,\nShipper Name,\nTotal Miles,\nWeight,\nTruck Type(If there is no Truck type in the mail search for similar fields llike TM Equipment Type and etc),\nTeam Required (Yes if Total Miles >=500 else No),\nNumber of Stops,\nPickup Date and Time (MM-DD-YYYY HH:MM),\nDelivery Date and Time (MM-DD-YYYY HH:MM).\nOrigin (City, State, Zip, Location ID), \nDestination (City, State, Zip, Location ID).\n\nStop Details: > extract data of all stops\n\nStop number,\nType:(Pickup if stop1 elif stop3 Delivery else Stop),\nCity, \nState, \nZip, \nCountry.\n\nOutput Format: \nProvide the data in a clean,JSON format matching these headers.\nOutput should in the below format only, without the text field\nFollow this exact structure:\n[\n  {\n    \"text\": \"```\\n{\\n  \\\"load_details\\\": {\\n    \\\"email_received_date\\\": \\\"DATE\\\",\\n    \\\"email_received_time\\\": \\\"TIME\\\",\\n    \\\"load_id\\\": \\\"STRING\\\",\\n    \\\"shipper_name\\\": \\\"STRING\\\",\\n    \\\"total_miles\\\": FLOAT,\\n    \\\"weight\\\": FLOAT,\\n    \\\"truck_type\\\": \\\"STRING\\\",\\n    \\\"team_required\\\": \\\"Yes/No\\\",\\n    \\\"number_of_stops\\\": INT,\\n    \\\"pickup_date_time\\\": \\\"DATE AND TIME\\\",\\n    \\\"delivery_date_time\\\": \\\"DATE AND TIME\\\",\\n    \\\"origin_city\\\": \\\"STRING\\\",\\n    \\\"origin_state\\\": \\\"STRING\\\",\\n    \\\"origin_zip\\\": \\\"INT\\\",\\n    \\\"origin_location_id\\\": \\\"STRING\\\",\\n    \\\"destination_city\\\": \\\"STIRNG\\\",\\n    \\\"destination_state\\\": \\\"STRING\\\",\\n    \\\"destination_zip\\\": \\\"INT\\\",\\n    \\\"destination_location_id\\\": \\\"INT\\\"\\n  },\\n  \\\"all_stop_details\\\": [\\n    {\\n      \\\"stop_number\\\": INT,\\n      \\\"stop_type\\\": \\\"Pickup Or Stop OR Delivery\\\",\\n      \\\"city\\\": \\\"STRING\\\",\\n      \\\"state\\\": \\\"STRING\\\",\\n      \\\"zip\\\": \\\"INT\\\",\\n      \\\"country\\\": \\\"INT\\\"\\n    },\\n```\"\n  }\n]\n\nINSTRUCTIONS:\n\n*DO NOT CONSIDER THE Service Requirements,KEY PERFORMANCE METRICS, Work Requirements,VEHICLE REQUIREMENTS AND SPECIFICATIONS, and LICENSE IN THE MAIL.\n*DO NOT CONSIDER ANY EXTERNAL LINKS IN THE MAIL\n*DO NOT CONSIDER ANY ACKNOWLEDGEMENT MESSAGES AND INSTRUCTIONS IN THE MAIL.\n*DO CONSIDER THE FROM AND TO MESSAGES IN THE MAIL.","messages":{"messageValues":[{"message":"Role: You are a specialized Logistics Data Extraction Assistant.\n Your goal is to parse unstructured email text and extract \"Load Data\"  and \"Stops Data\" into a structured JSON format.\n  Instructions:  Identify Entities: Locate the Origin, Destination, Pickup Date, Delivery Date, Equipment Type, and Rate.  \nStandardization: Convert all dates to YYYY-MM-DD format. \nValidation: If a piece of information is missing, set the value to null. Do not guess.  \nOutput: Return only a valid JSON object. No conversational filler or prose."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[-352,144],"id":"8980a887-46e7-4e6f-a7e8-e98a1a589a05","name":"Basic LLM Chain"},{"parameters":{"jsCode":"return $input.all().map(item => {\n  try {\n    // 1. CLEAN THE DATA: Remove markdown backticks and the \"json\" label\n    // This regex looks for ```json (case insensitive) and the closing ```\n    const cleanedText = item.json.text\n      .replace(/```json/gi, \"\")\n      .replace(/```/g, \"\")\n      .trim();\n\n    // 2. Parse the now-clean string\n    const data = JSON.parse(cleanedText);\n    \n    // Note: In your example data, the object is NOT wrapped in an array [ ], \n    // it's a direct object { }. So we don't need rawData[0].\n    \n    // 3. Extract load and stop objects\n    const load = data.load_details || {};\n    const stopsArray = data.all_stop_details || [];\n\n    // 4. Map the stops\n    const formattedStops = stopsArray.map((stop) => ({\n      ...stop,\n      country: stop.country || \"USA\",\n      load_id: load.load_id \n    }));\n\n    return {\n      json: {\n        load_id: load.load_id,\n        load_details: load,\n        all_stop_details: formattedStops\n      }\n    };\n\n  } catch (e) {\n    return { \n      json: { \n        error: \"Parsing Failed\", \n        message: e.message, \n        original_data: item.json.text.substring(0, 50) + \"...\" \n      } \n    };\n  }\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[32,144],"id":"632cee62-19d1-47ba-8690-3cccb6e24c06","name":"Code in JavaScript"},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"load_details","mode":"list","cachedResultName":"load_details"},"columns":{"mappingMode":"defineBelow","value":{"total_miles":"={{ $json.load_details.total_miles }}","weight":"={{ $json.load_details.weight }}","number_of_stops":"={{ $json.load_details.number_of_stops }}","load_id":"={{ $json.load_details.load_id }}","email_received_date":"={{ $json.load_details.email_received_date }}","email_received_time":"={{ $json.load_details.email_received_time }}","shipper_name":"={{ $json.load_details.shipper_name }}","truck_type":"={{ $json.load_details.truck_type }}","team_required":"={{ $json.load_details.team_required }}","pickup_date_time":"={{ $json.load_details.pickup_date_time }}","delivery_date_time":"={{ $json.load_details.delivery_date_time }}","origin_city":"={{ $json.load_details.origin_city }}","origin_state":"={{ $json.load_details.origin_state }}","origin_zip":"={{ $json.load_details.origin_zip }}","origin_location_id":"={{ $json.load_details.origin_location_id }}","destination_city":"={{ $json.load_details.destination_city }}","destination_state":"={{ $json.load_details.destination_state }}","destination_zip":"={{ $json.load_details.destination_zip }}","destination_location_id":"={{ $json.load_details.destination_location_id }}"},"matchingColumns":[],"schema":[{"id":"load_id","displayName":"load_id","required":true,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"email_received_date","displayName":"email_received_date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"email_received_time","displayName":"email_received_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true},{"id":"shipper_name","displayName":"shipper_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"total_miles","displayName":"total_miles","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"weight","displayName":"weight","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"truck_type","displayName":"truck_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"team_required","displayName":"team_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"number_of_stops","displayName":"number_of_stops","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"pickup_date_time","displayName":"pickup_date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"delivery_date_time","displayName":"delivery_date_time","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true},{"id":"origin_city","displayName":"origin_city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origin_state","displayName":"origin_state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origin_zip","displayName":"origin_zip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"origin_location_id","displayName":"origin_location_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destination_city","displayName":"destination_city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destination_state","displayName":"destination_state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destination_zip","displayName":"destination_zip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"destination_location_id","displayName":"destination_location_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"skipOnConflict":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[304,240],"id":"18b03b34-8b34-4abb-8777-d128ea60b82b","name":"Insert rows in a table","credentials":{"postgres":{"id":"CnUfmV48bOkEYfhg","name":"Postgres account"}}},{"parameters":{"schema":{"__rl":true,"value":"public","mode":"list","cachedResultName":"public"},"table":{"__rl":true,"value":"stop_details","mode":"list","cachedResultName":"stop_details"},"columns":{"mappingMode":"defineBelow","value":{"stop_number":"={{ $json.stop_number }}","city":"={{ $json.city }}","state":"={{ $json.state }}","zip":"={{ $json.zip }}","country":"={{ $json.country }}","load_id":"={{ $('Code in JavaScript').item.json.load_details.load_id }}","stop_type":"={{ $json.stop_type }}"},"matchingColumns":["id"],"schema":[{"id":"load_id","displayName":"load_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"stop_number","displayName":"stop_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true},{"id":"stop_type","displayName":"stop_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"zip","displayName":"zip","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{"skipOnConflict":true}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[560,80],"id":"03bfecf4-ba94-4ea0-883c-599f5f9f8390","name":"Insert rows in a table1","executeOnce":false,"credentials":{"postgres":{"id":"CnUfmV48bOkEYfhg","name":"Postgres account"}}},{"parameters":{"content":"## Extracting the details from the mail\n1)Exttract the mail using gmail api\n2)Used LLM to filter the required info from the mail","height":656,"width":960,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-992,-48],"typeVersion":1,"id":"5a65e8a3-c325-4e2b-a652-423b818e4516","name":"Sticky Note"},{"parameters":{"content":"## Storing the details into Postgres db\n1)Processed the output by the LLM\n2)stored the details of loads and stops into different tables","height":656,"width":912,"color":6},"type":"n8n-nodes-base.stickyNote","position":[0,-48],"typeVersion":1,"id":"9c50cabd-d672-47d7-98c4-e71ecf2f41f8","name":"Sticky Note1"},{"parameters":{"jsCode":"// Get the first item from the input array\nreturn $input.all().map(item => {\n  const emailText = item.json.text;\n  // Note: item.json.date is the parsed ISO date from n8n's Gmail node\n  // item.json.headers.date is the raw string from the email header\n  const emailTime = item.json.headers.date;\n\n  return {\n    json: {\n      text_content: emailText,\n      email_timing: emailTime\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,144],"id":"2190447e-c028-47f9-b8c0-3f513df8fab5","name":"Code in JavaScript2"},{"parameters":{"fieldToSplitOut":"all_stop_details","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,80],"id":"7e7bb021-28e6-49da-951c-53dd8d24f9ce","name":"Split Out"},{"parameters":{"operation":"getAll","limit":1,"simple":false,"filters":{},"options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[-848,144],"id":"2bd7f2b6-165c-4628-9aaa-43365218fbae","name":"Get many messages","webhookId":"d9a4c553-8ed4-4ce7-a2d9-458aac08aaef","credentials":{"gmailOAuth2":{"id":"vwUPAWu522xp6Bny","name":"Gmail account"}}},{"parameters":{"path":"ad16361a-8392-4ad5-b27f-dd96b2e9cdc7","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-1136,144],"id":"30014ca4-ca3b-4fb6-acad-ab24fe7b0c0a","name":"Webhook","webhookId":"ad16361a-8392-4ad5-b27f-dd96b2e9cdc7"},{"parameters":{"events":["update","activate"]},"type":"n8n-nodes-base.n8nTrigger","typeVersion":1,"position":[80,688],"id":"dd762950-b855-4cfa-8a89-f3cc111f6dda","name":"n8n Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"zldKSgo2piglJZSn1T6ys","mode":"list","cachedResultUrl":"/workflow/zldKSgo2piglJZSn1T6ys","cachedResultName":"Backup workflows to GitHub (Direct Push)"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[288,688],"id":"6ad7d37b-5b31-4a9a-8bd1-6814df8ceff3","name":"Call 'Backup workflows to GitHub (Direct Push)'"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-576,384],"id":"126f078a-ff22-41af-9f76-863ef04d7b66","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"QYLHsZYZCnpLyrql","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Basic LLM Chain":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Insert rows in a table","type":"main","index":0},{"node":"Split Out","type":"main","index":0}]]},"Insert rows in a table1":{"main":[[]]},"Code in JavaScript2":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Insert rows in a table1","type":"main","index":0}]]},"Insert rows in a table":{"main":[[]]},"Get many messages":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Get many messages","type":"main","index":0}]]},"n8n Trigger":{"main":[[{"node":"Call 'Backup workflows to GitHub (Direct Push)'","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]}},"authors":"Veneeth Batchu","name":"Version 118e3452","description":"","autosaved":true},"tags":[]},{"updatedAt":"2026-02-12T05:23:45.000Z","createdAt":"2026-02-11T17:34:33.237Z","id":"NhQDVm2Eyi9JdZgo","name":"My Sub-Workflow 1","active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{},"id":"b5942df6-0160-4ef7-965d-57583acdc8aa","name":"Replace me with your logic","type":"n8n-nodes-base.noOp","position":[480,352]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Replace me with your logic","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"740dfdf2-8f74-4208-b2b8-44c54f310bdf","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-11T17:34:33.243Z","createdAt":"2026-02-11T17:34:33.243Z","role":"workflow:owner","workflowId":"NhQDVm2Eyi9JdZgo","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-18T18:02:56.000Z","createdAt":"2026-02-18T10:53:40.227Z","id":"RXGAsfiQ7NE2XRM4","name":"spreadsheet","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-160,240]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,240],"id":"a4f9b33b-cfe5-4917-b1d2-90928d8f5b95","name":"Append or update row in sheet"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"f20502ed-4b86-43ca-8752-5e1578ef15ec","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T10:53:40.229Z","createdAt":"2026-02-18T10:53:40.229Z","role":"workflow:owner","workflowId":"RXGAsfiQ7NE2XRM4","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-18T18:03:04.000Z","createdAt":"2026-02-16T05:55:19.911Z","id":"Vcv2xorT1gU-4kM0EcU0R","name":"monitoring_workflow","active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-560,-128],"id":"4b2bb418-3276-436e-ac8b-2acba75979c4","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-288,-128],"id":"faf64145-7d6b-425b-bed4-18d88ab218c0","name":"Get many workflows","credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"13963dda-3ac2-4074-a78e-68e97e95da2b","leftValue":"={{ $json.active }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"92aefa5f-ee23-41a6-8b82-3915d0e76478","leftValue":"={{ $json.updatedAt}}","rightValue":"={{ $now.toUTC().minus(60,'minutes')}}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"382f3b87-29ab-42e3-b425-0f0ba875355f","leftValue":"={{ $json.name }}","rightValue":"=\"git_push_sync\"","operator":{"type":"string","operation":"notEquals"}},{"id":"1341dfd3-efd5-4a53-99ca-9e01cd9ba508","leftValue":"={{ $json.name }}","rightValue":"=\"monitoring_workflow\"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[0,-128],"id":"165fbd26-cc43-4609-ac7b-35f03f1a080f","name":"Filter"},{"parameters":{"workflowId":{"__rl":true,"value":"DRkxG3Wzq9tqxVXr-AOhW","mode":"list","cachedResultUrl":"/workflow/DRkxG3Wzq9tqxVXr-AOhW","cachedResultName":"git_push_sync"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[320,-128],"id":"4834acd0-5c25-487f-b316-cd4ae543c1b6","name":"Call 'git_push_sync'","alwaysOutputData":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Call 'git_push_sync'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"acaf049b-131a-45b9-b54b-29a87ac7987c","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-16T05:55:19.916Z","createdAt":"2026-02-16T05:55:19.916Z","role":"workflow:owner","workflowId":"Vcv2xorT1gU-4kM0EcU0R","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-12T05:23:43.000Z","createdAt":"2026-02-12T02:46:53.753Z","id":"WxNmH2hb4RCin9Xp","name":"My Sub-Workflow 2","active":false,"isArchived":true,"nodes":[{"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[260,340],"parameters":{}},{"id":"b5942df6-0160-4ef7-965d-57583acdc8aa","name":"Replace me with your logic","type":"n8n-nodes-base.noOp","position":[520,340],"parameters":{}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Replace me with your logic","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"6ce95851-c270-44e8-816a-ff1ef9cc31b1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-12T02:46:53.767Z","createdAt":"2026-02-12T02:46:53.767Z","role":"workflow:owner","workflowId":"WxNmH2hb4RCin9Xp","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-18T12:34:57.531Z","createdAt":"2026-02-18T05:40:27.875Z","id":"X-wT_vtL2P-dm1bxgloN1","name":"Import workflows from git","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[352,-240],"id":"3eb22011-0f98-4385-b71e-fbb27fae592a","name":"Download Each Workflow File"},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}}},"id":"954b2d90-b4ec-486a-a487-3a0a2186ad1f","name":"Get All Existing Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-48],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Compare Git workflow names against existing n8n workflows\nconst items = $input.all();\n\nlet allWorkflows = [];\n\ntry {\n  const checkNode = $('Get All Existing Workflows').first();\n  \n  if (checkNode?.json?.data && Array.isArray(checkNode.json.data)) {\n    allWorkflows = checkNode.json.data;\n  } else if (Array.isArray(checkNode?.json)) {\n    allWorkflows = checkNode.json;\n  } else if (checkNode?.json?.workflows && Array.isArray(checkNode.json.workflows)) {\n    allWorkflows = checkNode.json.workflows;\n  } else {\n    const allItems = $('Get All Existing Workflows').all();\n    if (allItems.length > 0 && allItems[0].json?.data) {\n      allWorkflows = allItems[0].json.data;\n    }\n  }\n} catch (error) {\n  console.error('Error getting workflows:', error);\n}\n\nconsole.log(`Found ${allWorkflows.length} existing workflows in n8n`);\n\nreturn items.map(item => {\n  const workflowData = item.json;\n  const gitName = (workflowData?.name || '').trim();\n  \n  if (!gitName) {\n    return { \n      json: { \n        error: \"No workflow name\", \n        exists: false,\n        workflowData: workflowData \n      } \n    };\n  }\n  \n  const match = allWorkflows.find(wf => \n    (wf.name || '').trim().toLowerCase() === gitName.toLowerCase()\n  );\n  \n  return {\n    json: {\n      workflowName: gitName,\n      exists: !!match,\n      workflowId: match?.id || null,\n      workflowData: workflowData\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-144],"id":"e2f551a5-cae5-423e-8c33-27934b628136","name":"Compare With Existing Workflows","alwaysOutputData":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.exists }}","value2":true}]}},"id":"fbcff7aa-ce9a-4237-8d2a-0f80bf862604","name":"Does Workflow Already Exist?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1024,-144]},{"parameters":{"method":"PUT","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"02c398b4-6d0e-4440-a4ae-3a43ceb6dcca","name":"Update Existing Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,-240],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"40256be3-f2b6-4e2b-a475-c869f8f3fe98","name":"Create New Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,-48],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Merge results from both branches and build a summary\nconst allItems = $input.all();\n\nconst results = allItems.map(item => ({\n  name: item.json.name || 'Unknown',\n  id: item.json.id || null,\n  action: item.json._action || 'processed'\n}));\n\nconst created = results.filter(r => r.action === 'created');\nconst updated = results.filter(r => r.action === 'updated');\n\nreturn [{\n  json: {\n    success: true,\n    totalProcessed: results.length,\n    created: created.length,\n    updated: updated.length,\n    workflows: results,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"709937e5-f4fd-4ca3-9fe2-c7bc2df441ec","name":"Build Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,-144]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,-144],"id":"c8068c04-a77d-46db-80fd-46e43b7a14ee","name":"Merge"},{"parameters":{"url":"https://api.github.com/repos/IAMVENEETH/n8n/git/trees/dev?recursive=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-320,-240],"id":"b6ab6ccd-d130-408d-9248-a87e386b5d4e","name":"HTTP Request3","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,-48],"id":"0e7b1093-b7d6-43bd-870f-104628649b15","name":"Split Out1"},{"parameters":{"jsCode":"const items = $input.all();\nconst fileMap = {};\n\nfor (const item of items) {\n  const tree = item.json.tree;\n  \n  if (Array.isArray(tree)) {\n    for (const f of tree) {\n      if (f.type === \"blob\") {  // only files, skip folders\n        fileMap[f.path] = {\n          sha: f.sha,\n          url: f.url,\n          size: f.size\n        };\n      }\n    }\n  }\n}\n\nreturn [{ json: { fileMap } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-240],"id":"3bab0790-1dd1-428c-8be6-6b04adc7a1cb","name":"Build GitHub File Map5"},{"parameters":{"jsCode":"// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $('Build GitHub File Map5').json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Split Out1').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-240],"id":"58adb235-9b24-4259-879f-6290cadf70cb","name":"Filter & Tag Workflows3"},{"parameters":{"jsCode":"// FIX: GitHub blob API returns base64-encoded content — decode it to get the workflow JSON\n// Previously there was no decode step; the raw base64 was passed downstream which caused failures\n\nconst items = $input.all();\n\nreturn items.map((item, i) => {\n  // The HTTP node returns the blob response directly\n  const blobResponse = item.json;\n\n  // Grab passthrough fields from the previous node (Filter & Tag)\n  const prev = $('Filter & Tag Workflows').all()[i]?.json || {};\n\n  let workflowData = null;\n  let decodeError = null;\n\n  try {\n    if (blobResponse.encoding === 'base64' && blobResponse.content) {\n      // Remove newlines GitHub inserts into the base64 string\n      const clean = blobResponse.content.replace(/\\n/g, '');\n      const decoded = Buffer.from(clean, 'base64').toString('utf-8');\n      workflowData = JSON.parse(decoded);\n    } else {\n      decodeError = 'Unexpected response format: ' + JSON.stringify(Object.keys(blobResponse));\n    }\n  } catch (e) {\n    decodeError = e.message;\n  }\n\n  return {\n    json: {\n      workflowName: prev.workflowName,\n      exists: prev.exists,\n      workflowId: prev.workflowId,\n      githubSha: prev.githubSha,\n      workflowData: workflowData,\n      decodeError: decodeError\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,272],"id":"5f6ed653-f5c7-4b3b-8c68-0a0c0f03abfd","name":"Decode Base64 Content"},{"parameters":{"assignments":{"assignments":[{"name":"_action","value":"updated","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,176],"id":"e7d0699d-4902-432c-86d0-1f1ba98f1a04","name":"Tag as Updated"},{"parameters":{"assignments":{"assignments":[{"name":"_action","value":"created","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,368],"id":"ee679734-f3d3-4d27-9952-d4fb808402fe","name":"Tag as Created"},{"parameters":{"url":"https://api.github.com/repos/IAMVENEETH/n8n/git/trees/dev?recursive=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-544,272],"id":"bfa7a546-41f9-40a6-b09f-c3765d745ea5","name":"HTTP Request","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}}},"id":"1e69c49b-aafb-490d-8d3a-5292f72af76c","name":"Get All Existing Workflows1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,592],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Build a map of { filename -> { sha, url, size } } from the GitHub tree\nconst items = $input.all();\nconst fileMap = {};\n\nfor (const item of items) {\n  const tree = item.json.tree;\n  if (Array.isArray(tree)) {\n    for (const f of tree) {\n      if (f.type === 'blob') {\n        fileMap[f.path] = {\n          sha: f.sha,\n          url: f.url,   // GitHub blob API URL\n          size: f.size\n        };\n      }\n    }\n  }\n}\n\nreturn [{ json: { fileMap } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,272],"id":"16f66e0b-b019-4fb5-991a-a14d8175b05a","name":"Build GitHub File Map"},{"parameters":{"jsCode":"// FIX: Iterate GitHub files (fileMap) and check if each exists in n8n\n// Previously this was inverted — it iterated n8n workflows and checked GitHub\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow'\n];\n\nconst fileMap = $('Build GitHub File Map').first().json.fileMap || {};\n\n// Get all existing n8n workflows\nlet allWorkflows = [];\ntry {\n  const checkNode = $('Get All Existing Workflows1').first();\n  if (checkNode?.json?.data && Array.isArray(checkNode.json.data)) {\n    allWorkflows = checkNode.json.data;\n  } else if (Array.isArray(checkNode?.json)) {\n    allWorkflows = checkNode.json;\n  }\n} catch (e) {\n  console.error('Error fetching existing workflows:', e);\n}\n\nconst output = [];\n\nfor (const [filename, meta] of Object.entries(fileMap)) {\n  // Skip excluded files\n  if (excludeList.includes(filename)) continue;\n\n  // Check if this GitHub file already exists as an n8n workflow (match by name)\n  const match = allWorkflows.find(\n    wf => (wf.name || '').trim().toLowerCase() === filename.trim().toLowerCase()\n  );\n\n  output.push({\n    json: {\n      workflowName: filename,\n      githubBlobUrl: meta.url,   // FIX: was match.download_url (didn't exist); now using meta.url\n      githubSha: meta.sha,\n      exists: !!match,\n      workflowId: match?.id || null\n    }\n  });\n}\n\nconsole.log(`GitHub files to sync: ${output.length}`);\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,272],"id":"1d6393e7-c97d-4a11-ae11-f2dd384d1f9b","name":"Filter & Tag Workflows"},{"parameters":{"url":"={{ $json.githubBlobUrl }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,272],"id":"57656d32-3d4a-43e4-95ed-1a9e22b3ef3d","name":"Download Each Workflow File1","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.exists }}","value2":true}]}},"id":"b32fa338-9fbe-4d28-a4d6-bd6ad7c6682c","name":"Does Workflow Already Exist?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[576,272]},{"parameters":{"method":"PUT","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"b71e3694-7848-4386-9228-8c1717f6821b","name":"Update Existing Workflow1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,176],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{\"\"}}"}]},"options":{}},"id":"01f494d2-9551-48e2-a442-8d050df45e8f","name":"Create New Workflow1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,368],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// FIX: _action is now properly set by Tag as Updated / Tag as Created Set nodes\n// Previously _action was never set so counts were always 0\n\nconst allItems = $input.all();\n\nconst results = allItems.map(item => ({\n  name: item.json.name || item.json.workflowName || 'Unknown',\n  id: item.json.id || null,\n  action: item.json._action || 'unknown'\n}));\n\nconst created = results.filter(r => r.action === 'created');\nconst updated = results.filter(r => r.action === 'updated');\n\nreturn [{\n  json: {\n    success: true,\n    totalProcessed: results.length,\n    created: created.length,\n    updated: updated.length,\n    workflows: results,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"54b489bd-aa54-4420-b37d-7a190d9dee1a","name":"Build Summary1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,272]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"IAMVENEETH","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/IAMVENEETH/n8n"}},"id":"89f76ac8-6928-473a-9fd8-0e5e0567f45b","name":"List All Files in Repo","type":"n8n-nodes-base.github","typeVersion":1,"position":[112,1104],"alwaysOutputData":true,"webhookId":"635fe258-a94e-4dbb-811e-3a45d135a77e","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"url":"={{ $json.download_url }}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,1104],"id":"9f60c638-0004-4388-a025-9fa016247981","name":"Download Each Workflow File2"},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows/","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}}},"id":"4744f592-203a-433a-a8c8-b5fc675f1658","name":"Get All Existing Workflows2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,1376],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Compare Git workflow names against existing n8n workflows\nconst items = $input.all();\n\nlet allWorkflows = [];\n\ntry {\n  const checkNode = $('Get All Existing Workflows2').first();\n  \n  if (checkNode?.json?.data && Array.isArray(checkNode.json.data)) {\n    allWorkflows = checkNode.json.data;\n  } else if (Array.isArray(checkNode?.json)) {\n    allWorkflows = checkNode.json;\n  } else if (checkNode?.json?.workflows && Array.isArray(checkNode.json.workflows)) {\n    allWorkflows = checkNode.json.workflows;\n  } else {\n    const allItems = $('Get All Existing Workflows2').all();\n    if (allItems.length > 0 && allItems[0].json?.data) {\n      allWorkflows = allItems[0].json.data;\n    }\n  }\n} catch (error) {\n  console.error('Error getting workflows:', error);\n}\n\nconsole.log(`Found ${allWorkflows.length} existing workflows in n8n`);\n\nreturn items.map(item => {\n  const workflowData = item.json;\n  const gitName = (workflowData?.name || '').trim();\n  \n  if (!gitName) {\n    return { \n      json: { \n        error: \"No workflow name\", \n        exists: false,\n        workflowData: workflowData \n      } \n    };\n  }\n  \n  const match = allWorkflows.find(wf => \n    (wf.name || '').trim().toLowerCase() === gitName.toLowerCase()\n  );\n  \n  return {\n    json: {\n      workflowName: gitName,\n      exists: !!match,\n      workflowId: match?.id || null,\n      workflowData: workflowData\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,1248],"id":"3e03c7bf-9ef7-48eb-b941-fd7e55b1e0b4","name":"Compare With Existing Workflows1","alwaysOutputData":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.exists }}","value2":true}]}},"id":"a5fdf0cd-048a-48f5-a2c9-118fcfa82dc7","name":"Does Workflow Already Exist?2","type":"n8n-nodes-base.if","typeVersion":1,"position":[1232,1248]},{"parameters":{"method":"PUT","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"7153b28f-65af-408e-9990-aee325273c19","name":"Update Existing Workflow2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,1088],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"6604d4ed-e995-4aba-a027-9898353b2bec","name":"Create New Workflow2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,1328],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Merge results from both branches and build a summary\nconst allItems = $input.all();\n\nconst results = allItems.map(item => ({\n  name: item.json.name || 'Unknown',\n  id: item.json.id || null,\n  action: item.json._action || 'processed'\n}));\n\nconst created = results.filter(r => r.action === 'created');\nconst updated = results.filter(r => r.action === 'updated');\n\nreturn [{\n  json: {\n    success: true,\n    totalProcessed: results.length,\n    created: created.length,\n    updated: updated.length,\n    workflows: results,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"6e4c9b80-17cc-4e08-b5c4-978faaf74aa9","name":"Build Summary2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,1200]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[704,1248],"id":"06e6e3dc-c5a2-4570-a466-a2cf976b029c","name":"Merge1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,1376],"id":"af06f7ad-be7b-4c7c-802b-19d90a32b818","name":"Split Out"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-288,1232],"id":"91062f25-7b63-4285-9413-74a4ae598e74","name":"When Executed by Another Workflow"}],"connections":{"Download Each Workflow File":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get All Existing Workflows":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Compare With Existing Workflows":{"main":[[{"node":"Does Workflow Already Exist?","type":"main","index":0}]]},"Does Workflow Already Exist?":{"main":[[{"node":"Update Existing Workflow","type":"main","index":0}],[{"node":"Create New Workflow","type":"main","index":0}]]},"Update Existing Workflow":{"main":[[{"node":"Build Summary","type":"main","index":0}]]},"Create New Workflow":{"main":[[{"node":"Build Summary","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Compare With Existing Workflows","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Build GitHub File Map5","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Build GitHub File Map5":{"main":[[{"node":"Filter & Tag Workflows3","type":"main","index":0}]]},"Filter & Tag Workflows3":{"main":[[{"node":"Download Each Workflow File","type":"main","index":0}]]},"Decode Base64 Content":{"main":[[{"node":"Does Workflow Already Exist?1","type":"main","index":0}]]},"Tag as Updated":{"main":[[{"node":"Update Existing Workflow1","type":"main","index":0}]]},"Tag as Created":{"main":[[{"node":"Create New Workflow1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Build GitHub File Map","type":"main","index":0}]]},"Build GitHub File Map":{"main":[[{"node":"Filter & Tag Workflows","type":"main","index":0}]]},"Filter & Tag Workflows":{"main":[[{"node":"Download Each Workflow File1","type":"main","index":0}]]},"Download Each Workflow File1":{"main":[[{"node":"Decode Base64 Content","type":"main","index":0}]]},"Does Workflow Already Exist?1":{"main":[[{"node":"Tag as Updated","type":"main","index":0}],[{"node":"Tag as Created","type":"main","index":0}]]},"Update Existing Workflow1":{"main":[[{"node":"Build Summary1","type":"main","index":0}]]},"Create New Workflow1":{"main":[[{"node":"Build Summary1","type":"main","index":0}]]},"List All Files in Repo":{"main":[[{"node":"Download Each Workflow File2","type":"main","index":0}]]},"Download Each Workflow File2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get All Existing Workflows2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Compare With Existing Workflows1":{"main":[[{"node":"Does Workflow Already Exist?2","type":"main","index":0}]]},"Does Workflow Already Exist?2":{"main":[[{"node":"Update Existing Workflow2","type":"main","index":0}],[{"node":"Create New Workflow2","type":"main","index":0}]]},"Update Existing Workflow2":{"main":[[{"node":"Build Summary2","type":"main","index":0}]]},"Create New Workflow2":{"main":[[{"node":"Build Summary2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Compare With Existing Workflows1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"When Executed by Another Workflow":{"main":[[{"node":"List All Files in Repo","type":"main","index":0},{"node":"Get All Existing Workflows2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7ee850c6-e775-4ebd-94f5-70fba9ae568f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T05:40:27.881Z","createdAt":"2026-02-18T05:40:27.881Z","role":"workflow:owner","workflowId":"X-wT_vtL2P-dm1bxgloN1","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-18T18:03:00.000Z","createdAt":"2026-02-18T05:23:24.940Z","id":"Xf6LDtnYGZml6Iwz","name":"spreadsheet","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-160,240]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,240],"id":"a4f9b33b-cfe5-4917-b1d2-90928d8f5b95","name":"Append or update row in sheet"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":{},"versionId":"42855058-c98f-491d-b722-c2dee2a3a8a1","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T05:23:24.947Z","createdAt":"2026-02-18T05:23:24.947Z","role":"workflow:owner","workflowId":"Xf6LDtnYGZml6Iwz","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-17T10:54:03.580Z","createdAt":"2026-02-11T05:57:20.200Z","id":"Xjp8LENLHU_yCNSZXMhMm","name":"Basic RAG pipeline","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"systemMessage":"You are a retrieval-augmented assistant.\nAlways call the retrieval tool before answering document-based questions.\nDo not answer from general knowledge.\nIf retrieval returns nothing relevant, say so."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[1232,192],"id":"8e61dd40-3ed2-4b09-92e7-2a506228e06d","name":"AI Agent"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[1280,432],"id":"2817c39f-8c15-4636-ba2b-5da49e2b20b8","name":"Simple Memory"},{"parameters":{"formTitle":"Data Ingestion","formFields":{"values":[{"fieldLabel":"ingest file","fieldType":"file","acceptFileTypes":".pdf","requiredField":true}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.5,"position":[208,80],"id":"0df8aab1-978f-4de7-8959-69c576765bbe","name":"On form submission","webhookId":"dbb255ff-2a9b-4f53-8580-66843320990f"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[976,208],"id":"3adffa70-1547-4b8d-94fb-209d81056297","name":"When chat message received","webhookId":"9772aca0-d6be-42a4-92f3-9fc8be8bfddc"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"use this tool to retrieve knowledge from database","memoryKey":{"__rl":true,"value":"rag_chatbot","mode":"id"},"topK":5},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.3,"position":[1408,544],"id":"542d1afa-52a7-4372-92da-7a64c4c95687","name":"Simple Vector Store1"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"rag_chatbot","mode":"id"}},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.3,"position":[496,80],"id":"18717ed0-821b-403c-9e89-6a5fdaa93e61","name":"Simple Vector Store"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsCohere","typeVersion":1,"position":[320,272],"id":"7330e47a-4060-4366-8256-af7aa821597d","name":"Embeddings Cohere","credentials":{"cohereApi":{"id":"QVRi8lh0rJdPoKaI","name":"CohereApi account"}}},{"parameters":{"dataType":"binary","textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[464,400],"id":"bd373fb3-f529-4823-bc3b-48b78bd88c03","name":"Default Data Loader"},{"parameters":{"chunkSize":400,"chunkOverlap":100,"options":{}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[464,608],"id":"4295061d-9598-4d70-a60c-ff3b5de045c1","name":"Recursive Character Text Splitter"},{"parameters":{"content":"## RAG Data Ingestion\n**Upload files through form and store in the vector store","height":768,"width":848,"color":3},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"62693628-1117-47b7-a830-7ed0f5aa6e1b","name":"Sticky Note"},{"parameters":{"content":"## RAG workflow\nThe workflow triggered when new chat message is sent and retrieve the relevent chunks from vector store based on the embeddings,therefore use them to answer the user query","height":768,"width":960,"color":4},"type":"n8n-nodes-base.stickyNote","position":[912,-16],"typeVersion":1,"id":"12520767-91b3-41cc-8347-0e49c2441e1f","name":"Sticky Note1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[1104,416],"id":"98d00d94-fc8e-4d9b-8e07-f365dc867cf4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"QYLHsZYZCnpLyrql","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"On form submission":{"main":[[{"node":"Simple Vector Store","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Simple Vector Store1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings Cohere":{"ai_embedding":[[{"node":"Simple Vector Store","type":"ai_embedding","index":0},{"node":"Simple Vector Store1","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Simple Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"AI Agent":{"main":[[]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d16f4d4a-ff88-402b-9a03-565e115f9508","activeVersionId":null,"triggerCount":2,"shared":[{"updatedAt":"2026-02-11T05:57:20.208Z","createdAt":"2026-02-11T05:57:20.208Z","role":"workflow:owner","workflowId":"Xjp8LENLHU_yCNSZXMhMm","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-19T09:58:34.733Z","createdAt":"2026-02-18T10:26:22.909Z","id":"mAuJC5qo3Lqm86Nr","name":"spreadsheet","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-592,800]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,240],"id":"a4f9b33b-cfe5-4917-b1d2-90928d8f5b95","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items\n  .filter(item => item.json.commit && item.json.content)\n  .map(item => {\n    const commit = item.json.commit;\n    const content = item.json.content;\n    return {\n      json: {\n        file_name: content.name,\n        file_path: content.path,\n        commit_sha: commit.sha,\n        commit_message: commit.message,\n        committed_by: commit.author.name,\n        commit_email: commit.author.email,\n        committed_at: commit.author.date,\n        file_url: content.html_url,\n        commit_url: commit.html_url,\n        is_new: commit.message.startsWith('Add new workflow')\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,800],"id":"4ac762bc-7cbc-4c57-a7ce-f7fcf40ad00e","name":"Extract Commit Info"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-is-new","leftValue":"={{ $json.is_new }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,800],"id":"20674749-454e-497c-a279-bccd2126b345","name":"New or Updated?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"New Workflows","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"file_name":"={{ $json.file_name }}","file_path":"={{ $json.file_path }}","commit_sha":"={{ $json.commit_sha }}","commit_message":"={{ $json.commit_message }}","committed_by":"={{ $json.committed_by }}","commit_email":"={{ $json.commit_email }}","committed_at":"={{ $json.committed_at }}","file_url":"={{ $json.file_url }}","commit_url":"={{ $json.commit_url }}"},"matchingColumns":[],"schema":[{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_sha","displayName":"commit_sha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_message","displayName":"commit_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_by","displayName":"committed_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_email","displayName":"commit_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_at","displayName":"committed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_url","displayName":"file_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_url","displayName":"commit_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_new","displayName":"is_new","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,640],"id":"1c14a5f6-343b-4748-ab4d-052a285efd8b","name":"Append to New Workflows Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"Updated Workflows","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"file_name":"={{ $json.file_name }}","file_path":"={{ $json.file_path }}","commit_sha":"={{ $json.commit_sha }}","commit_message":"={{ $json.commit_message }}","committed_by":"={{ $json.committed_by }}","commit_email":"={{ $json.commit_email }}","committed_at":"={{ $json.committed_at }}","file_url":"={{ $json.file_url }}","commit_url":"={{ $json.commit_url }}"},"matchingColumns":["file_name"],"schema":[{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_sha","displayName":"commit_sha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_message","displayName":"commit_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_by","displayName":"committed_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_email","displayName":"commit_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_at","displayName":"committed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_url","displayName":"file_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_url","displayName":"commit_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_new","displayName":"is_new","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,960],"id":"16e25653-41d7-4254-b807-713a75f88cc4","name":"Append to Updated Workflows Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Extract Commit Info","type":"main","index":0}]]},"Extract Commit Info":{"main":[[{"node":"New or Updated?","type":"main","index":0}]]},"New or Updated?":{"main":[[{"node":"Append to New Workflows Sheet","type":"main","index":0}],[{"node":"Append to Updated Workflows Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"36c522b4-4bec-4b0b-be60-de5dfdc5ee1e","activeVersionId":"36c522b4-4bec-4b0b-be60-de5dfdc5ee1e","triggerCount":0,"shared":[{"updatedAt":"2026-02-18T10:26:22.914Z","createdAt":"2026-02-18T10:26:22.914Z","role":"workflow:owner","workflowId":"mAuJC5qo3Lqm86Nr","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":{"updatedAt":"2026-02-19T09:58:42.000Z","createdAt":"2026-02-19T09:40:08.111Z","versionId":"36c522b4-4bec-4b0b-be60-de5dfdc5ee1e","workflowId":"mAuJC5qo3Lqm86Nr","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-592,800]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,240],"id":"a4f9b33b-cfe5-4917-b1d2-90928d8f5b95","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items\n  .filter(item => item.json.commit && item.json.content)\n  .map(item => {\n    const commit = item.json.commit;\n    const content = item.json.content;\n    return {\n      json: {\n        file_name: content.name,\n        file_path: content.path,\n        commit_sha: commit.sha,\n        commit_message: commit.message,\n        committed_by: commit.author.name,\n        commit_email: commit.author.email,\n        committed_at: commit.author.date,\n        file_url: content.html_url,\n        commit_url: commit.html_url,\n        is_new: commit.message.startsWith('Add new workflow')\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,800],"id":"4ac762bc-7cbc-4c57-a7ce-f7fcf40ad00e","name":"Extract Commit Info"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-is-new","leftValue":"={{ $json.is_new }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,800],"id":"20674749-454e-497c-a279-bccd2126b345","name":"New or Updated?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"New Workflows","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"file_name":"={{ $json.file_name }}","file_path":"={{ $json.file_path }}","commit_sha":"={{ $json.commit_sha }}","commit_message":"={{ $json.commit_message }}","committed_by":"={{ $json.committed_by }}","commit_email":"={{ $json.commit_email }}","committed_at":"={{ $json.committed_at }}","file_url":"={{ $json.file_url }}","commit_url":"={{ $json.commit_url }}"},"matchingColumns":[],"schema":[{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_sha","displayName":"commit_sha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_message","displayName":"commit_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_by","displayName":"committed_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_email","displayName":"commit_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_at","displayName":"committed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_url","displayName":"file_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_url","displayName":"commit_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_new","displayName":"is_new","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,640],"id":"1c14a5f6-343b-4748-ab4d-052a285efd8b","name":"Append to New Workflows Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"Updated Workflows","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"file_name":"={{ $json.file_name }}","file_path":"={{ $json.file_path }}","commit_sha":"={{ $json.commit_sha }}","commit_message":"={{ $json.commit_message }}","committed_by":"={{ $json.committed_by }}","commit_email":"={{ $json.commit_email }}","committed_at":"={{ $json.committed_at }}","file_url":"={{ $json.file_url }}","commit_url":"={{ $json.commit_url }}"},"matchingColumns":["file_name"],"schema":[{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_sha","displayName":"commit_sha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_message","displayName":"commit_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_by","displayName":"committed_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_email","displayName":"commit_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_at","displayName":"committed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_url","displayName":"file_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_url","displayName":"commit_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_new","displayName":"is_new","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,960],"id":"16e25653-41d7-4254-b807-713a75f88cc4","name":"Append to Updated Workflows Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Extract Commit Info","type":"main","index":0}]]},"Extract Commit Info":{"main":[[{"node":"New or Updated?","type":"main","index":0}]]},"New or Updated?":{"main":[[{"node":"Append to New Workflows Sheet","type":"main","index":0}],[{"node":"Append to Updated Workflows Sheet","type":"main","index":0}]]}},"authors":"Veneeth Batchu","name":"Version 36c522b4","description":"","autosaved":true},"tags":[]},{"updatedAt":"2026-02-18T18:02:58.000Z","createdAt":"2026-02-18T10:26:22.895Z","id":"rRPxTLv4RWe9ejCy","name":"My Sub-Workflow 3","active":false,"isArchived":true,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[272,352]},{"parameters":{},"id":"b5942df6-0160-4ef7-965d-57583acdc8aa","name":"Replace me with your logic","type":"n8n-nodes-base.noOp","position":[528,352]}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Replace me with your logic","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":null,"pinData":null,"versionId":"e83e5b22-7329-4765-bb53-6e39a31eb81c","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T10:26:22.898Z","createdAt":"2026-02-18T10:26:22.898Z","role":"workflow:owner","workflowId":"rRPxTLv4RWe9ejCy","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]},{"updatedAt":"2026-02-19T16:28:33.141Z","createdAt":"2026-02-18T06:53:19.361Z","id":"zldKSgo2piglJZSn1T6ys","name":"Backup workflows to GitHub (Direct Push)","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## Setup\n1. GitHub credentials: Add your GitHub API credentials in n8n.\n2. Slack integration: Connect your Slack Bot token if you want PR notifications.\n3. Repository details: Update github_owner, repo_name, and workflow directory path in the “Define Local Variables” node.\n4. n8n API key - [Check this doc](https://docs.n8n.io/api/authentication/)","height":260,"width":280},"id":"166a950c-39ed-48b9-9f2b-edb871374d3d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-5312,-1520],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"2dcfd00e-7cc5-44b4-a4ba-b35d28e1630e","name":"n8n1","type":"n8n-nodes-base.n8n","position":[-4288,-3152],"typeVersion":1,"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"74046264-7ef7-4824-bd2f-e4ecb16c87c2","name":"Find new workflows1","type":"n8n-nodes-base.merge","position":[-3616,-2976],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{"mode":"combine","fieldsToMatchString":"id, updatedAt","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"a3fcda89-47c8-46b9-a99f-c80a27d36922","name":"Find updated workflows1","type":"n8n-nodes-base.merge","position":[-3616,-2736],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{},"id":"72deff1d-726c-4cc8-a5bf-0f72dd189891","name":"Wait for GitHub create/edit file finished1","type":"n8n-nodes-base.merge","position":[-1824,-2864],"typeVersion":3.1},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables1').item.json.github_owner }}/{{ $('Define Local Variables1').item.json.repo_name }}/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"title\": \"Automated PR for {{ $('Define Local Variables1').item.json.branch_name }}\",\n\"body\": \"\",\n\"head\": \"{{ $('Define Local Variables1').item.json.branch_name }}\",\n\"base\": \"main\"\n}","options":{}},"id":"42cfdc33-7e63-4495-ae6e-99fc97e4d1a2","name":"Create new PR via GitHub API1","type":"n8n-nodes-base.httpRequest","position":[-1600,-2864],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"575b2ca9-528f-421f-8352-073c916fcd63","name":"branch_name","type":"string","value":"dev"},{"id":"6f7a1168-1c55-4e50-b7d2-0868104ee1db","name":"github_owner","type":"string","value":"IAMVENEETH"},{"id":"9c8cf8ba-9e64-4fb5-ba38-8429264c84dd","name":"repo_name","type":"string","value":"n8n"}]},"options":{}},"id":"d4ffb3ba-4d61-4962-a008-75c3641efe4c","name":"Define Local Variables1","type":"n8n-nodes-base.set","position":[-4736,-3024],"typeVersion":3.4},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{"reference":"dev"}},"id":"55fbe919-a0de-4190-af25-0c1caa9821f1","name":"Get content for each workflow1","type":"n8n-nodes-base.github","position":[-4288,-2816],"webhookId":"bfb94e71-96eb-4fc3-9fe0-1b5255d48b53","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.content?.base64Decode() ?? '[]' }}","options":{}},"id":"9ce8c204-29d1-48ea-b0d2-f6b3cbfe3a72","name":"Base64decode workflow content1","type":"n8n-nodes-base.set","position":[-3840,-2576],"typeVersion":3.4},{"parameters":{"mode":"chooseBranch","output":"empty"},"id":"b61b71cf-93a4-43e4-8f58-4316f0cb1a87","name":"Wait for finished1","type":"n8n-nodes-base.merge","position":[-3392,-2864],"typeVersion":3.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"cec5563a-01dd-4372-882a-2114c8e476a7","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find updated workflows1').all() }}","rightValue":""},{"id":"fb800963-acc7-495f-8bf2-c29c3b3d0450","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find new workflows1').all() }}","rightValue":""}]},"options":{}},"id":"9a391601-6cac-4f6f-a522-2a9fbaef19c6","name":"If there are any changes in workflows1","type":"n8n-nodes-base.if","position":[-3168,-2864],"typeVersion":2.2},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"id":"625a58d1-0819-4c7b-9500-b89006b6d7da","name":"Wait until branch created2","type":"n8n-nodes-base.merge","position":[-2496,-2672],"typeVersion":3.1,"alwaysOutputData":false,"disabled":true},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"id":"b119bdf9-2c0f-43e7-bda9-6a747ded3be3","name":"Wait until branch created3","type":"n8n-nodes-base.merge","position":[-2496,-3072],"typeVersion":3.1,"alwaysOutputData":false,"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"835f2dab-de42-4c97-a747-47b23d55c990","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"aa58aaa4-8fd8-461a-a1db-58dba2b8f045","name":"Filter empty data2","type":"n8n-nodes-base.filter","position":[-2272,-3072],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find new workflows' always output data"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1d8312fd-5157-4058-823c-35f7574541fa","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"a1522724-848e-4cf0-9817-18d216273d7b","name":"Filter empty data3","type":"n8n-nodes-base.filter","position":[-2272,-2672],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find updated workflows' always output data"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Add new workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables1').item.json.branch_name }}"}}},"id":"2898f553-c184-416f-91dc-d3bc6ce55b34","name":"Create new commit to add new workflow1","type":"n8n-nodes-base.github","position":[-2048,-3072],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Update workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables1').item.json.branch_name }}"}}},"id":"8c47a6fb-9d54-4cf2-ad2c-82306183d75a","name":"Create new commit to update changed workflow1","type":"n8n-nodes-base.github","position":[-2048,-2672],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"adc1f3af-4535-421c-93cd-8bd8518ecaa2","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4064,-2816],"id":"68668ad5-54eb-4e22-8709-5f6a47245b31","name":"If1"},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables1').item.json.github_owner }}/{{ $('Define Local Variables1').item.json.repo_name }}/contents/?ref={{ $('Define Local Variables1').item.json.branch_name }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4512,-2816],"id":"2c7dd3ac-b2ff-4fbd-8a8a-6f19785e2aea","name":"HTTP Request","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a96e28ff-37c6-4cfd-b321-6c03215e1ad2","leftValue":"={{ $json.isArchived }}","rightValue":"=false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"7642896e-c061-4996-b275-39c7a1dee596","leftValue":"={{$json.name}}","rightValue":"Backup workflows to GitHub (Direct Push)","operator":{"type":"string","operation":"notEquals"}},{"id":"fa727491-ed2d-4ddd-ad74-f7697da746da","leftValue":"={{ $json.name}}","rightValue":"Import workflows from git","operator":{"type":"string","operation":"notEquals"}},{"id":"b67c27c5-82aa-4809-a884-2e7b0225c7a4","leftValue":"={{$json.name}}","rightValue":"GitHub Workflow Sync (v5)","operator":{"type":"string","operation":"notEquals"}},{"id":"b2de024d-0409-46ce-a661-27d9e2030923","leftValue":"={{ $json.name }}","rightValue":"monitoring_workflow","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":"","options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-4064,-3152],"id":"43ec1659-c401-43ee-9662-2031bea5c92d","name":"Filter"},{"parameters":{"jsCode":"const seen = new Map();\n\nfor (const item of $input.all()) {\n  const name = item.json.name;\n  const existing = seen.get(name);\n  \n  if (!existing || new Date(item.json.updatedAt) > new Date(existing.json.updatedAt)) {\n    seen.set(name, item);\n  }\n}\n\nreturn Array.from(seen.values());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3840,-3152],"id":"f4316cf5-596c-46a8-94ce-532c407688af","name":"Code in JavaScript"},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables1').item.json.github_owner }}/{{ $('Define Local Variables1').item.json.repo_name }}/git/ref/heads/dev","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"c7bbaa6f-985b-46ef-a2a6-8acad0a21c18","name":"Get latest commit SHA on main  via GitHub API1","type":"n8n-nodes-base.httpRequest","position":[-2944,-2960],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables1').item.json.github_owner }}/{{ $('Define Local Variables1').item.json.repo_name }}/git/refs","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ref\": \"refs/heads/{{ $('Define Local Variables1').item.json.branch_name }}\",\n  \"sha\": \"{{ $json.object.sha }}\"\n}","options":{}},"id":"f1bdf736-7e55-4136-9baa-e99780fae8ee","name":"Create new branch via GitHub API1","type":"n8n-nodes-base.httpRequest","position":[-2720,-2960],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"continueOnFail":true},{"parameters":{},"id":"71ac90d8-805d-41a7-ad26-6f860ec70386","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[-2944,-2768],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"41da1098-1981-46d5-921e-4425b008b387","name":"n8n","type":"n8n-nodes-base.n8n","position":[-3872,-688],"typeVersion":1,"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"2ebbda5f-8086-4081-bcaa-17e1682cd2f9","name":"Find new workflows","type":"n8n-nodes-base.merge","position":[-3200,-496],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{"mode":"combine","fieldsToMatchString":"id, updatedAt","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"92b3d67d-7ec9-42d7-95d8-1d12fa3b47d1","name":"Find updated workflows","type":"n8n-nodes-base.merge","position":[-3200,-256],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{},"id":"363a9a68-3e32-46f6-bc87-65f7c85968ad","name":"Wait for GitHub create/edit file finished","type":"n8n-nodes-base.merge","position":[-2080,-384],"typeVersion":3.1},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"title\": \"Automated PR for {{ $('Define Local Variables').item.json.branch_name }}\",\n\"body\": \"\",\n\"head\": \"{{ $('Define Local Variables').item.json.branch_name }}\",\n\"base\": \"main\"\n}","options":{}},"id":"f9c1d9f4-d538-4596-abe9-bcf15b39e023","name":"Create new PR via GitHub API","type":"n8n-nodes-base.httpRequest","position":[-1568,-384],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"575b2ca9-528f-421f-8352-073c916fcd63","name":"branch_name","type":"string","value":"dev"},{"id":"6f7a1168-1c55-4e50-b7d2-0868104ee1db","name":"github_owner","type":"string","value":"IAMVENEETH"},{"id":"9c8cf8ba-9e64-4fb5-ba38-8429264c84dd","name":"repo_name","type":"string","value":"n8n"}]},"options":{}},"id":"12078bbc-1d90-48bc-8b79-eb510c4fc496","name":"Define Local Variables","type":"n8n-nodes-base.set","position":[-4320,-576],"typeVersion":3.4},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{"reference":"dev"}},"id":"62c7c6bd-73a1-49b7-a61a-fd782dfd74e9","name":"Get content for each workflow","type":"n8n-nodes-base.github","position":[-3872,-336],"webhookId":"bfb94e71-96eb-4fc3-9fe0-1b5255d48b53","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.content?.base64Decode() ?? '[]' }}","options":{}},"id":"8e586b09-0e0b-4493-abec-7d651b966e45","name":"Base64decode workflow content","type":"n8n-nodes-base.set","position":[-3456,-128],"typeVersion":3.4},{"parameters":{"mode":"chooseBranch","output":"empty"},"id":"fc404e18-5880-4ccb-bc52-05e04f37abac","name":"Wait for finished","type":"n8n-nodes-base.merge","position":[-2976,-384],"typeVersion":3.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"cec5563a-01dd-4372-882a-2114c8e476a7","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find updated workflows').all() }}","rightValue":""},{"id":"fb800963-acc7-495f-8bf2-c29c3b3d0450","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find new workflows').all() }}","rightValue":""}]},"options":{}},"id":"43ae0ed9-f2e1-4f72-add7-f2f1d8e3de37","name":"If there are any changes in workflows","type":"n8n-nodes-base.if","position":[-2752,-384],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"835f2dab-de42-4c97-a747-47b23d55c990","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"234845a5-f52c-4d4f-bb59-4841a56717e5","name":"Filter empty data","type":"n8n-nodes-base.filter","position":[-2528,-592],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find new workflows' always output data"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1d8312fd-5157-4058-823c-35f7574541fa","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"815e9a72-fe8f-4be2-a6ca-21c3127dc8a4","name":"Filter empty data4","type":"n8n-nodes-base.filter","position":[-2528,-160],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find updated workflows' always output data"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Add new workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables').item.json.branch_name }}"}}},"id":"fb3d9c1b-7969-4cd8-ace9-9d393ae44ac2","name":"Create new commit to add new workflow","type":"n8n-nodes-base.github","position":[-2304,-592],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Update workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables').item.json.branch_name }}"}}},"id":"e1633fe3-eb52-4c0f-b3ce-cc1aaf4d8e01","name":"Create new commit to update changed workflow","type":"n8n-nodes-base.github","position":[-2304,-160],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"adc1f3af-4535-421c-93cd-8bd8518ecaa2","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3648,-336],"id":"077c7313-3c4a-4f05-aea5-4269d86ce2fc","name":"If"},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/contents/?ref={{ $('Define Local Variables').item.json.branch_name }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4096,-336],"id":"08785d41-15ae-4425-9c44-61a3c957aea7","name":"HTTP Request1","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a96e28ff-37c6-4cfd-b321-6c03215e1ad2","leftValue":"={{ $json.isArchived }}","rightValue":"=false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"7642896e-c061-4996-b275-39c7a1dee596","leftValue":"={{$json.name}}","rightValue":"Backup workflows to GitHub (Direct Push)","operator":{"type":"string","operation":"notEquals"}},{"id":"fa727491-ed2d-4ddd-ad74-f7697da746da","leftValue":"={{ $json.name}}","rightValue":"Import workflows from git","operator":{"type":"string","operation":"notEquals"}},{"id":"b67c27c5-82aa-4809-a884-2e7b0225c7a4","leftValue":"={{$json.name}}","rightValue":"GitHub Workflow Sync (v5)","operator":{"type":"string","operation":"notEquals"}},{"id":"b2de024d-0409-46ce-a661-27d9e2030923","leftValue":"={{ $json.name }}","rightValue":"monitoring_workflow","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":"","options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3648,-688],"id":"f204f0bd-dfd2-4378-b118-2b745dd40861","name":"Filter1"},{"parameters":{"jsCode":"const seen = new Map();\n\nfor (const item of $input.all()) {\n  const name = item.json.name;\n  const existing = seen.get(name);\n  \n  if (!existing || new Date(item.json.updatedAt) > new Date(existing.json.updatedAt)) {\n    seen.set(name, item);\n  }\n}\n\nreturn Array.from(seen.values());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3424,-688],"id":"571c7259-6b8d-47f7-9753-4e0a9eb129aa","name":"Code in JavaScript1"},{"parameters":{},"id":"ea740d3e-005e-4591-a05c-1a068c88c31b","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[-2528,-384],"typeVersion":1},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4624,736],"id":"2c5c3574-5c24-42aa-883f-8f87750dca1c","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"mAuJC5qo3Lqm86Nr","mode":"list","cachedResultUrl":"/workflow/mAuJC5qo3Lqm86Nr","cachedResultName":"spreadsheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1808,-384],"id":"02813d7c-6ff4-408d-9b8f-0776cf6857b2","name":"Call 'spreadsheet'"},{"parameters":{"url":"={{ $('Define Local Variables2').item.json.n8n_base_url }}/api/v1/workflows/{{ $('Define Local Variables2').item.json.workflow_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{}},"id":"aa5dbebb-8f87-48f0-b028-eb6e1e3f1997","name":"Get Triggered Workflow from n8n","type":"n8n-nodes-base.httpRequest","position":[-4112,736],"typeVersion":4.2,"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}},"notes":"Fetches ONLY the triggered workflow by ID from n8n REST API"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a96e28ff-0001-0001-0001-000000000001","leftValue":"={{ $json.isArchived }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"a96e28ff-0001-0001-0001-000000000002","leftValue":"={{ $json.name }}","rightValue":"Backup workflows to GitHub (Direct Push)","operator":{"type":"string","operation":"notEquals"}},{"id":"a96e28ff-0001-0001-0001-000000000003","leftValue":"={{ $json.name }}","rightValue":"Import workflows from git","operator":{"type":"string","operation":"notEquals"}},{"id":"a96e28ff-0001-0001-0001-000000000004","leftValue":"={{ $json.name }}","rightValue":"GitHub Workflow Sync (v5)","operator":{"type":"string","operation":"notEquals"}},{"id":"a96e28ff-0001-0001-0001-000000000005","leftValue":"={{ $json.name }}","rightValue":"monitoring_workflow","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"c7eab803-aba6-4f7c-a739-03a2144cb081","name":"Should this workflow be synced?","type":"n8n-nodes-base.filter","position":[-3888,736],"typeVersion":2.3,"notes":"Skips internal/excluded workflows — same exclusion list as before"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","asBinaryProperty":false,"additionalParameters":{"reference":"={{ $('Define Local Variables2').item.json.branch_name }}"}},"id":"c6c238bf-22ca-479c-9569-80c11c408e2a","name":"Try Get GitHub File","type":"n8n-nodes-base.github","position":[-3664,736],"typeVersion":1.1,"webhookId":"7451fbea-05a3-4b3b-8833-f797066c14bd","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput","notes":"Tries to fetch the specific workflow file from GitHub. If 404, outputs error and continues."},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"adc1f3af-0001-0001-0001-000000000001","leftValue":"={{ $json.sha }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e58dfada-6c76-40cd-ad07-7cddd3355218","name":"File Exists in GitHub?","type":"n8n-nodes-base.if","position":[-3440,736],"typeVersion":2.3,"notes":"True = file exists → UPDATE. False = file missing → CREATE."},{"parameters":{"assignments":{"assignments":[{"id":"575b2ca9-528f-421f-8352-073c916fcd63","name":"branch_name","type":"string","value":"dev"},{"id":"6f7a1168-1c55-4e50-b7d2-0868104ee1db","name":"github_owner","type":"string","value":"IAMVENEETH"},{"id":"9c8cf8ba-9e64-4fb5-ba38-8429264c84dd","name":"repo_name","type":"string","value":"n8n"},{"id":"a1b2c3d4-0001-0001-0001-000000000001","name":"workflow_id","type":"string","value":"={{ $json.item.workflowId }}"},{"id":"a1b2c3d4-0001-0001-0001-000000000002","name":"n8n_base_url","type":"string","value":"http://localhost:5678"}]},"options":{}},"id":"9a5e3cb5-d104-40cf-94fd-e46625f5404e","name":"Define Local Variables2","type":"n8n-nodes-base.set","position":[-4336,736],"typeVersion":3.4,"notes":"Added workflow_id (from trigger) and n8n_base_url. Update n8n_base_url if your instance runs elsewhere."},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.repo_name }}"},"filePath":"=workflows/{{ $('Get Triggered Workflow from n8n').item.json.name }}.json","fileContent":"={{ $('Get Triggered Workflow from n8n').item.json.toJsonString() }}","commitMessage":"=Add new workflow {{ $('Get Triggered Workflow from n8n').item.json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables2').item.json.branch_name }}"}}},"id":"e49d807d-e74e-4207-a8b0-bcce656cdda1","name":"Create new commit to add new workflow2","type":"n8n-nodes-base.github","position":[-3216,608],"typeVersion":1.1,"webhookId":"a364c2d0-8d79-4a43-996f-bb2e0b5fc783","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput","notes":"File does NOT exist in GitHub — creates it fresh"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.repo_name }}"},"filePath":"=workflows/{{ $('Get Triggered Workflow from n8n').item.json.name }}.json","fileContent":"={{ $('Get Triggered Workflow from n8n').item.json.toJsonString() }}","commitMessage":"=Update workflow {{ $('Get Triggered Workflow from n8n').item.json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables2').item.json.branch_name }}"}}},"id":"1f9948bd-28dd-4579-ba5c-0dd23c538240","name":"Create new commit to update changed workflow2","type":"n8n-nodes-base.github","position":[-3216,864],"typeVersion":1.1,"webhookId":"44602167-8f4e-4017-b06a-f310b3dd8cf9","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput","notes":"File EXISTS in GitHub — updates it. SHA comes from 'Try Get GitHub File' response (required by GitHub API for edits)."},{"parameters":{},"id":"2f656bee-3d30-4a12-bdbc-40c87a7328c2","name":"Wait for GitHub create/edit file finished2","type":"n8n-nodes-base.merge","position":[-2992,736],"typeVersion":3.1,"notes":"Waits for whichever branch (create OR update) completes before continuing"},{"parameters":{"workflowId":{"__rl":true,"value":"mAuJC5qo3Lqm86Nr","mode":"list","cachedResultUrl":"/workflow/mAuJC5qo3Lqm86Nr","cachedResultName":"spreadsheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-2768,736],"id":"ad0de84b-3c28-469c-a776-f53faea5144d","name":"Call 'spreadsheet'1"},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables2').item.json.github_owner }}/{{ $('Define Local Variables2').item.json.repo_name }}/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"title\": \"Automated PR for {{ $('Define Local Variables2').item.json.branch_name }}\",\n\"body\": \"\",\n\"head\": \"{{ $('Define Local Variables2').item.json.branch_name }}\",\n\"base\": \"main\"\n}","options":{}},"id":"c5082e0e-31ac-47ca-afd2-36a3c0b7c5b6","name":"Create new PR via GitHub API2","type":"n8n-nodes-base.httpRequest","position":[-2544,736],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"}],"connections":{"n8n1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Find new workflows1":{"main":[[{"node":"Wait for finished1","type":"main","index":0},{"node":"Wait until branch created3","type":"main","index":1}]]},"Find updated workflows1":{"main":[[{"node":"Wait for finished1","type":"main","index":1},{"node":"Wait until branch created2","type":"main","index":1}]]},"Wait for GitHub create/edit file finished1":{"main":[[{"node":"Create new PR via GitHub API1","type":"main","index":0}]]},"Create new PR via GitHub API1":{"main":[[]]},"Define Local Variables1":{"main":[[{"node":"n8n1","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Get content for each workflow1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Base64decode workflow content1":{"main":[[{"node":"Find updated workflows1","type":"main","index":1},{"node":"Find new workflows1","type":"main","index":1}]]},"Wait for finished1":{"main":[[{"node":"If there are any changes in workflows1","type":"main","index":0}]]},"If there are any changes in workflows1":{"main":[[{"node":"Get latest commit SHA on main  via GitHub API1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Wait until branch created2":{"main":[[{"node":"Filter empty data3","type":"main","index":0}]]},"Wait until branch created3":{"main":[[{"node":"Filter empty data2","type":"main","index":0}]]},"Filter empty data2":{"main":[[{"node":"Create new commit to add new workflow1","type":"main","index":0}]]},"Filter empty data3":{"main":[[{"node":"Create new commit to update changed workflow1","type":"main","index":0}]]},"Create new commit to add new workflow1":{"main":[[{"node":"Wait for GitHub create/edit file finished1","type":"main","index":0}]]},"Create new commit to update changed workflow1":{"main":[[{"node":"Wait for GitHub create/edit file finished1","type":"main","index":1}]]},"If1":{"main":[[{"node":"Base64decode workflow content1","type":"main","index":0}],[{"node":"Find updated workflows1","type":"main","index":1},{"node":"Find new workflows1","type":"main","index":1}]]},"HTTP Request":{"main":[[{"node":"Get content for each workflow1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Find new workflows1","type":"main","index":0},{"node":"Find updated workflows1","type":"main","index":0}]]},"Get latest commit SHA on main  via GitHub API1":{"main":[[{"node":"Create new branch via GitHub API1","type":"main","index":0}]]},"Create new branch via GitHub API1":{"main":[[{"node":"Wait until branch created2","type":"main","index":0},{"node":"Wait until branch created3","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Find new workflows":{"main":[[{"node":"Wait for finished","type":"main","index":0},{"node":"Filter empty data","type":"main","index":0}]]},"Find updated workflows":{"main":[[{"node":"Wait for finished","type":"main","index":1},{"node":"Filter empty data4","type":"main","index":0}]]},"Wait for GitHub create/edit file finished":{"main":[[{"node":"Call 'spreadsheet'","type":"main","index":0}]]},"Define Local Variables":{"main":[[{"node":"n8n","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"Get content for each workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"Base64decode workflow content":{"main":[[{"node":"Find updated workflows","type":"main","index":1},{"node":"Find new workflows","type":"main","index":1}]]},"Wait for finished":{"main":[[{"node":"If there are any changes in workflows","type":"main","index":0}]]},"If there are any changes in workflows":{"main":[[{"node":"Filter empty data","type":"main","index":0},{"node":"Filter empty data4","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Filter empty data":{"main":[[{"node":"Create new commit to add new workflow","type":"main","index":0}]]},"Filter empty data4":{"main":[[{"node":"Create new commit to update changed workflow","type":"main","index":0}]]},"Create new commit to add new workflow":{"main":[[{"node":"Wait for GitHub create/edit file finished","type":"main","index":0}]]},"Create new commit to update changed workflow":{"main":[[{"node":"Wait for GitHub create/edit file finished","type":"main","index":1}]]},"If":{"main":[[{"node":"Base64decode workflow content","type":"main","index":0}],[{"node":"Find updated workflows","type":"main","index":1},{"node":"Find new workflows","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"Get content for each workflow","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Find new workflows","type":"main","index":0},{"node":"Find updated workflows","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Define Local Variables2","type":"main","index":0}]]},"Call 'spreadsheet'":{"main":[[{"node":"Create new PR via GitHub API","type":"main","index":0}]]},"Get Triggered Workflow from n8n":{"main":[[{"node":"Should this workflow be synced?","type":"main","index":0}]]},"Should this workflow be synced?":{"main":[[{"node":"Try Get GitHub File","type":"main","index":0}]]},"Try Get GitHub File":{"main":[[{"node":"File Exists in GitHub?","type":"main","index":0}]]},"File Exists in GitHub?":{"main":[[{"node":"Create new commit to update changed workflow2","type":"main","index":0}],[{"node":"Create new commit to add new workflow2","type":"main","index":0}]]},"Define Local Variables2":{"main":[[{"node":"Get Triggered Workflow from n8n","type":"main","index":0}]]},"Create new commit to add new workflow2":{"main":[[{"node":"Wait for GitHub create/edit file finished2","type":"main","index":0}]]},"Create new commit to update changed workflow2":{"main":[[{"node":"Wait for GitHub create/edit file finished2","type":"main","index":1}]]},"Wait for GitHub create/edit file finished2":{"main":[[{"node":"Call 'spreadsheet'1","type":"main","index":0}]]},"Call 'spreadsheet'1":{"main":[[{"node":"Create new PR via GitHub API2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"event":"Workflow updated","timestamp":"2026-02-19T16:24:07.734Z","workflow_id":"NKSgZKDRvHVY9U9VBm5mz"}}]},"versionId":"b582613d-2e62-4ea5-84bd-73ec02cf7238","activeVersionId":"7c242292-4592-450b-b24d-1d43921f35bf","triggerCount":0,"shared":[{"updatedAt":"2026-02-18T06:53:19.364Z","createdAt":"2026-02-18T06:53:19.364Z","role":"workflow:owner","workflowId":"zldKSgo2piglJZSn1T6ys","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":{"updatedAt":"2026-02-19T16:24:02.000Z","createdAt":"2026-02-19T16:21:48.681Z","versionId":"7c242292-4592-450b-b24d-1d43921f35bf","workflowId":"zldKSgo2piglJZSn1T6ys","nodes":[{"parameters":{"content":"## Setup\n1. GitHub credentials: Add your GitHub API credentials in n8n.\n2. Slack integration: Connect your Slack Bot token if you want PR notifications.\n3. Repository details: Update github_owner, repo_name, and workflow directory path in the “Define Local Variables” node.\n4. n8n API key - [Check this doc](https://docs.n8n.io/api/authentication/)","height":260,"width":280},"id":"166a950c-39ed-48b9-9f2b-edb871374d3d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-5312,-1520],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"2dcfd00e-7cc5-44b4-a4ba-b35d28e1630e","name":"n8n1","type":"n8n-nodes-base.n8n","position":[-4288,-3152],"typeVersion":1,"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"74046264-7ef7-4824-bd2f-e4ecb16c87c2","name":"Find new workflows1","type":"n8n-nodes-base.merge","position":[-3616,-2976],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{"mode":"combine","fieldsToMatchString":"id, updatedAt","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"a3fcda89-47c8-46b9-a99f-c80a27d36922","name":"Find updated workflows1","type":"n8n-nodes-base.merge","position":[-3616,-2736],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{},"id":"72deff1d-726c-4cc8-a5bf-0f72dd189891","name":"Wait for GitHub create/edit file finished1","type":"n8n-nodes-base.merge","position":[-1824,-2864],"typeVersion":3.1},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables1').item.json.github_owner }}/{{ $('Define Local Variables1').item.json.repo_name }}/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"title\": \"Automated PR for {{ $('Define Local Variables1').item.json.branch_name }}\",\n\"body\": \"\",\n\"head\": \"{{ $('Define Local Variables1').item.json.branch_name }}\",\n\"base\": \"main\"\n}","options":{}},"id":"42cfdc33-7e63-4495-ae6e-99fc97e4d1a2","name":"Create new PR via GitHub API1","type":"n8n-nodes-base.httpRequest","position":[-1600,-2864],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"575b2ca9-528f-421f-8352-073c916fcd63","name":"branch_name","type":"string","value":"dev"},{"id":"6f7a1168-1c55-4e50-b7d2-0868104ee1db","name":"github_owner","type":"string","value":"IAMVENEETH"},{"id":"9c8cf8ba-9e64-4fb5-ba38-8429264c84dd","name":"repo_name","type":"string","value":"n8n"}]},"options":{}},"id":"d4ffb3ba-4d61-4962-a008-75c3641efe4c","name":"Define Local Variables1","type":"n8n-nodes-base.set","position":[-4736,-3024],"typeVersion":3.4},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{"reference":"dev"}},"id":"55fbe919-a0de-4190-af25-0c1caa9821f1","name":"Get content for each workflow1","type":"n8n-nodes-base.github","position":[-4288,-2816],"webhookId":"bfb94e71-96eb-4fc3-9fe0-1b5255d48b53","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.content?.base64Decode() ?? '[]' }}","options":{}},"id":"9ce8c204-29d1-48ea-b0d2-f6b3cbfe3a72","name":"Base64decode workflow content1","type":"n8n-nodes-base.set","position":[-3840,-2576],"typeVersion":3.4},{"parameters":{"mode":"chooseBranch","output":"empty"},"id":"b61b71cf-93a4-43e4-8f58-4316f0cb1a87","name":"Wait for finished1","type":"n8n-nodes-base.merge","position":[-3392,-2864],"typeVersion":3.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"cec5563a-01dd-4372-882a-2114c8e476a7","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find updated workflows1').all() }}","rightValue":""},{"id":"fb800963-acc7-495f-8bf2-c29c3b3d0450","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find new workflows1').all() }}","rightValue":""}]},"options":{}},"id":"9a391601-6cac-4f6f-a522-2a9fbaef19c6","name":"If there are any changes in workflows1","type":"n8n-nodes-base.if","position":[-3168,-2864],"typeVersion":2.2},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"id":"625a58d1-0819-4c7b-9500-b89006b6d7da","name":"Wait until branch created2","type":"n8n-nodes-base.merge","position":[-2496,-2672],"typeVersion":3.1,"alwaysOutputData":false,"disabled":true},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"id":"b119bdf9-2c0f-43e7-bda9-6a747ded3be3","name":"Wait until branch created3","type":"n8n-nodes-base.merge","position":[-2496,-3072],"typeVersion":3.1,"alwaysOutputData":false,"disabled":true},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"835f2dab-de42-4c97-a747-47b23d55c990","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"aa58aaa4-8fd8-461a-a1db-58dba2b8f045","name":"Filter empty data2","type":"n8n-nodes-base.filter","position":[-2272,-3072],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find new workflows' always output data"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1d8312fd-5157-4058-823c-35f7574541fa","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"a1522724-848e-4cf0-9817-18d216273d7b","name":"Filter empty data3","type":"n8n-nodes-base.filter","position":[-2272,-2672],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find updated workflows' always output data"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Add new workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables1').item.json.branch_name }}"}}},"id":"2898f553-c184-416f-91dc-d3bc6ce55b34","name":"Create new commit to add new workflow1","type":"n8n-nodes-base.github","position":[-2048,-3072],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Update workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables1').item.json.branch_name }}"}}},"id":"8c47a6fb-9d54-4cf2-ad2c-82306183d75a","name":"Create new commit to update changed workflow1","type":"n8n-nodes-base.github","position":[-2048,-2672],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"adc1f3af-4535-421c-93cd-8bd8518ecaa2","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-4064,-2816],"id":"68668ad5-54eb-4e22-8709-5f6a47245b31","name":"If1"},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables1').item.json.github_owner }}/{{ $('Define Local Variables1').item.json.repo_name }}/contents/?ref={{ $('Define Local Variables1').item.json.branch_name }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4512,-2816],"id":"2c7dd3ac-b2ff-4fbd-8a8a-6f19785e2aea","name":"HTTP Request","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a96e28ff-37c6-4cfd-b321-6c03215e1ad2","leftValue":"={{ $json.isArchived }}","rightValue":"=false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"7642896e-c061-4996-b275-39c7a1dee596","leftValue":"={{$json.name}}","rightValue":"Backup workflows to GitHub (Direct Push)","operator":{"type":"string","operation":"notEquals"}},{"id":"fa727491-ed2d-4ddd-ad74-f7697da746da","leftValue":"={{ $json.name}}","rightValue":"Import workflows from git","operator":{"type":"string","operation":"notEquals"}},{"id":"b67c27c5-82aa-4809-a884-2e7b0225c7a4","leftValue":"={{$json.name}}","rightValue":"GitHub Workflow Sync (v5)","operator":{"type":"string","operation":"notEquals"}},{"id":"b2de024d-0409-46ce-a661-27d9e2030923","leftValue":"={{ $json.name }}","rightValue":"monitoring_workflow","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":"","options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-4064,-3152],"id":"43ec1659-c401-43ee-9662-2031bea5c92d","name":"Filter"},{"parameters":{"jsCode":"const seen = new Map();\n\nfor (const item of $input.all()) {\n  const name = item.json.name;\n  const existing = seen.get(name);\n  \n  if (!existing || new Date(item.json.updatedAt) > new Date(existing.json.updatedAt)) {\n    seen.set(name, item);\n  }\n}\n\nreturn Array.from(seen.values());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3840,-3152],"id":"f4316cf5-596c-46a8-94ce-532c407688af","name":"Code in JavaScript"},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables1').item.json.github_owner }}/{{ $('Define Local Variables1').item.json.repo_name }}/git/ref/heads/dev","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"c7bbaa6f-985b-46ef-a2a6-8acad0a21c18","name":"Get latest commit SHA on main  via GitHub API1","type":"n8n-nodes-base.httpRequest","position":[-2944,-2960],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables1').item.json.github_owner }}/{{ $('Define Local Variables1').item.json.repo_name }}/git/refs","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ref\": \"refs/heads/{{ $('Define Local Variables1').item.json.branch_name }}\",\n  \"sha\": \"{{ $json.object.sha }}\"\n}","options":{}},"id":"f1bdf736-7e55-4136-9baa-e99780fae8ee","name":"Create new branch via GitHub API1","type":"n8n-nodes-base.httpRequest","position":[-2720,-2960],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"continueOnFail":true},{"parameters":{},"id":"71ac90d8-805d-41a7-ad26-6f860ec70386","name":"No Operation, do nothing1","type":"n8n-nodes-base.noOp","position":[-2944,-2768],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"41da1098-1981-46d5-921e-4425b008b387","name":"n8n","type":"n8n-nodes-base.n8n","position":[-3872,-688],"typeVersion":1,"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"2ebbda5f-8086-4081-bcaa-17e1682cd2f9","name":"Find new workflows","type":"n8n-nodes-base.merge","position":[-3200,-496],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{"mode":"combine","fieldsToMatchString":"id, updatedAt","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"92b3d67d-7ec9-42d7-95d8-1d12fa3b47d1","name":"Find updated workflows","type":"n8n-nodes-base.merge","position":[-3200,-256],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{},"id":"363a9a68-3e32-46f6-bc87-65f7c85968ad","name":"Wait for GitHub create/edit file finished","type":"n8n-nodes-base.merge","position":[-2080,-384],"typeVersion":3.1},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"title\": \"Automated PR for {{ $('Define Local Variables').item.json.branch_name }}\",\n\"body\": \"\",\n\"head\": \"{{ $('Define Local Variables').item.json.branch_name }}\",\n\"base\": \"main\"\n}","options":{}},"id":"f9c1d9f4-d538-4596-abe9-bcf15b39e023","name":"Create new PR via GitHub API","type":"n8n-nodes-base.httpRequest","position":[-1568,-384],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"assignments":{"assignments":[{"id":"575b2ca9-528f-421f-8352-073c916fcd63","name":"branch_name","type":"string","value":"dev"},{"id":"6f7a1168-1c55-4e50-b7d2-0868104ee1db","name":"github_owner","type":"string","value":"IAMVENEETH"},{"id":"9c8cf8ba-9e64-4fb5-ba38-8429264c84dd","name":"repo_name","type":"string","value":"n8n"}]},"options":{}},"id":"12078bbc-1d90-48bc-8b79-eb510c4fc496","name":"Define Local Variables","type":"n8n-nodes-base.set","position":[-4320,-576],"typeVersion":3.4},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{"reference":"dev"}},"id":"62c7c6bd-73a1-49b7-a61a-fd782dfd74e9","name":"Get content for each workflow","type":"n8n-nodes-base.github","position":[-3872,-336],"webhookId":"bfb94e71-96eb-4fc3-9fe0-1b5255d48b53","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.content?.base64Decode() ?? '[]' }}","options":{}},"id":"8e586b09-0e0b-4493-abec-7d651b966e45","name":"Base64decode workflow content","type":"n8n-nodes-base.set","position":[-3456,-128],"typeVersion":3.4},{"parameters":{"mode":"chooseBranch","output":"empty"},"id":"fc404e18-5880-4ccb-bc52-05e04f37abac","name":"Wait for finished","type":"n8n-nodes-base.merge","position":[-2976,-384],"typeVersion":3.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"cec5563a-01dd-4372-882a-2114c8e476a7","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find updated workflows').all() }}","rightValue":""},{"id":"fb800963-acc7-495f-8bf2-c29c3b3d0450","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find new workflows').all() }}","rightValue":""}]},"options":{}},"id":"43ae0ed9-f2e1-4f72-add7-f2f1d8e3de37","name":"If there are any changes in workflows","type":"n8n-nodes-base.if","position":[-2752,-384],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"835f2dab-de42-4c97-a747-47b23d55c990","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"234845a5-f52c-4d4f-bb59-4841a56717e5","name":"Filter empty data","type":"n8n-nodes-base.filter","position":[-2528,-592],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find new workflows' always output data"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1d8312fd-5157-4058-823c-35f7574541fa","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"815e9a72-fe8f-4be2-a6ca-21c3127dc8a4","name":"Filter empty data4","type":"n8n-nodes-base.filter","position":[-2528,-160],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find updated workflows' always output data"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Add new workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables').item.json.branch_name }}"}}},"id":"fb3d9c1b-7969-4cd8-ace9-9d393ae44ac2","name":"Create new commit to add new workflow","type":"n8n-nodes-base.github","position":[-2304,-592],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Update workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables').item.json.branch_name }}"}}},"id":"e1633fe3-eb52-4c0f-b3ce-cc1aaf4d8e01","name":"Create new commit to update changed workflow","type":"n8n-nodes-base.github","position":[-2304,-160],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"adc1f3af-4535-421c-93cd-8bd8518ecaa2","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-3648,-336],"id":"077c7313-3c4a-4f05-aea5-4269d86ce2fc","name":"If"},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/contents/?ref={{ $('Define Local Variables').item.json.branch_name }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-4096,-336],"id":"08785d41-15ae-4425-9c44-61a3c957aea7","name":"HTTP Request1","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a96e28ff-37c6-4cfd-b321-6c03215e1ad2","leftValue":"={{ $json.isArchived }}","rightValue":"=false","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"7642896e-c061-4996-b275-39c7a1dee596","leftValue":"={{$json.name}}","rightValue":"Backup workflows to GitHub (Direct Push)","operator":{"type":"string","operation":"notEquals"}},{"id":"fa727491-ed2d-4ddd-ad74-f7697da746da","leftValue":"={{ $json.name}}","rightValue":"Import workflows from git","operator":{"type":"string","operation":"notEquals"}},{"id":"b67c27c5-82aa-4809-a884-2e7b0225c7a4","leftValue":"={{$json.name}}","rightValue":"GitHub Workflow Sync (v5)","operator":{"type":"string","operation":"notEquals"}},{"id":"b2de024d-0409-46ce-a661-27d9e2030923","leftValue":"={{ $json.name }}","rightValue":"monitoring_workflow","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":"","options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[-3648,-688],"id":"f204f0bd-dfd2-4378-b118-2b745dd40861","name":"Filter1"},{"parameters":{"jsCode":"const seen = new Map();\n\nfor (const item of $input.all()) {\n  const name = item.json.name;\n  const existing = seen.get(name);\n  \n  if (!existing || new Date(item.json.updatedAt) > new Date(existing.json.updatedAt)) {\n    seen.set(name, item);\n  }\n}\n\nreturn Array.from(seen.values());"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3424,-688],"id":"571c7259-6b8d-47f7-9753-4e0a9eb129aa","name":"Code in JavaScript1"},{"parameters":{},"id":"ea740d3e-005e-4591-a05c-1a068c88c31b","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[-2528,-384],"typeVersion":1},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4624,736],"id":"2c5c3574-5c24-42aa-883f-8f87750dca1c","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"mAuJC5qo3Lqm86Nr","mode":"list","cachedResultUrl":"/workflow/mAuJC5qo3Lqm86Nr","cachedResultName":"spreadsheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-1808,-384],"id":"02813d7c-6ff4-408d-9b8f-0776cf6857b2","name":"Call 'spreadsheet'"},{"parameters":{"url":"={{ $('Define Local Variables2').item.json.n8n_base_url }}/api/v1/workflows/{{ $('Define Local Variables2').item.json.workflow_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{}},"id":"aa5dbebb-8f87-48f0-b028-eb6e1e3f1997","name":"Get Triggered Workflow from n8n","type":"n8n-nodes-base.httpRequest","position":[-4112,736],"typeVersion":4.2,"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}},"notes":"Fetches ONLY the triggered workflow by ID from n8n REST API"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"a96e28ff-0001-0001-0001-000000000001","leftValue":"={{ $json.isArchived }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"a96e28ff-0001-0001-0001-000000000002","leftValue":"={{ $json.name }}","rightValue":"Backup workflows to GitHub (Direct Push)","operator":{"type":"string","operation":"notEquals"}},{"id":"a96e28ff-0001-0001-0001-000000000003","leftValue":"={{ $json.name }}","rightValue":"Import workflows from git","operator":{"type":"string","operation":"notEquals"}},{"id":"a96e28ff-0001-0001-0001-000000000004","leftValue":"={{ $json.name }}","rightValue":"GitHub Workflow Sync (v5)","operator":{"type":"string","operation":"notEquals"}},{"id":"a96e28ff-0001-0001-0001-000000000005","leftValue":"={{ $json.name }}","rightValue":"monitoring_workflow","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"c7eab803-aba6-4f7c-a739-03a2144cb081","name":"Should this workflow be synced?","type":"n8n-nodes-base.filter","position":[-3888,736],"typeVersion":2.3,"notes":"Skips internal/excluded workflows — same exclusion list as before"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.name }}.json","asBinaryProperty":false,"additionalParameters":{"reference":"={{ $('Define Local Variables2').item.json.branch_name }}"}},"id":"c6c238bf-22ca-479c-9569-80c11c408e2a","name":"Try Get GitHub File","type":"n8n-nodes-base.github","position":[-3664,736],"typeVersion":1.1,"webhookId":"7451fbea-05a3-4b3b-8833-f797066c14bd","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput","notes":"Tries to fetch the specific workflow file from GitHub. If 404, outputs error and continues."},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"adc1f3af-0001-0001-0001-000000000001","leftValue":"={{ $json.sha }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"e58dfada-6c76-40cd-ad07-7cddd3355218","name":"File Exists in GitHub?","type":"n8n-nodes-base.if","position":[-3440,736],"typeVersion":2.3,"notes":"True = file exists → UPDATE. False = file missing → CREATE."},{"parameters":{"assignments":{"assignments":[{"id":"575b2ca9-528f-421f-8352-073c916fcd63","name":"branch_name","type":"string","value":"dev"},{"id":"6f7a1168-1c55-4e50-b7d2-0868104ee1db","name":"github_owner","type":"string","value":"IAMVENEETH"},{"id":"9c8cf8ba-9e64-4fb5-ba38-8429264c84dd","name":"repo_name","type":"string","value":"n8n"},{"id":"a1b2c3d4-0001-0001-0001-000000000001","name":"workflow_id","type":"string","value":"={{ $json.workflowId }}"},{"id":"a1b2c3d4-0001-0001-0001-000000000002","name":"n8n_base_url","type":"string","value":"http://localhost:5678"}]},"options":{}},"id":"9a5e3cb5-d104-40cf-94fd-e46625f5404e","name":"Define Local Variables2","type":"n8n-nodes-base.set","position":[-4336,736],"typeVersion":3.4,"notes":"Added workflow_id (from trigger) and n8n_base_url. Update n8n_base_url if your instance runs elsewhere."},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.repo_name }}"},"filePath":"=workflows/{{ $('Get Triggered Workflow from n8n').item.json.name }}.json","fileContent":"={{ $('Get Triggered Workflow from n8n').item.json.toJsonString() }}","commitMessage":"=Add new workflow {{ $('Get Triggered Workflow from n8n').item.json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables2').item.json.branch_name }}"}}},"id":"e49d807d-e74e-4207-a8b0-bcce656cdda1","name":"Create new commit to add new workflow2","type":"n8n-nodes-base.github","position":[-3216,608],"typeVersion":1.1,"webhookId":"a364c2d0-8d79-4a43-996f-bb2e0b5fc783","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput","notes":"File does NOT exist in GitHub — creates it fresh"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables2').item.json.repo_name }}"},"filePath":"=workflows/{{ $('Get Triggered Workflow from n8n').item.json.name }}.json","fileContent":"={{ $('Get Triggered Workflow from n8n').item.json.toJsonString() }}","commitMessage":"=Update workflow {{ $('Get Triggered Workflow from n8n').item.json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables2').item.json.branch_name }}"}}},"id":"1f9948bd-28dd-4579-ba5c-0dd23c538240","name":"Create new commit to update changed workflow2","type":"n8n-nodes-base.github","position":[-3216,864],"typeVersion":1.1,"webhookId":"44602167-8f4e-4017-b06a-f310b3dd8cf9","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput","notes":"File EXISTS in GitHub — updates it. SHA comes from 'Try Get GitHub File' response (required by GitHub API for edits)."},{"parameters":{},"id":"2f656bee-3d30-4a12-bdbc-40c87a7328c2","name":"Wait for GitHub create/edit file finished2","type":"n8n-nodes-base.merge","position":[-2992,736],"typeVersion":3.1,"notes":"Waits for whichever branch (create OR update) completes before continuing"},{"parameters":{"workflowId":{"__rl":true,"value":"mAuJC5qo3Lqm86Nr","mode":"list","cachedResultUrl":"/workflow/mAuJC5qo3Lqm86Nr","cachedResultName":"spreadsheet"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-2768,736],"id":"ad0de84b-3c28-469c-a776-f53faea5144d","name":"Call 'spreadsheet'1"},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables2').item.json.github_owner }}/{{ $('Define Local Variables2').item.json.repo_name }}/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"title\": \"Automated PR for {{ $('Define Local Variables2').item.json.branch_name }}\",\n\"body\": \"\",\n\"head\": \"{{ $('Define Local Variables2').item.json.branch_name }}\",\n\"base\": \"main\"\n}","options":{}},"id":"c5082e0e-31ac-47ca-afd2-36a3c0b7c5b6","name":"Create new PR via GitHub API2","type":"n8n-nodes-base.httpRequest","position":[-2544,736],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"}],"connections":{"n8n1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Find new workflows1":{"main":[[{"node":"Wait for finished1","type":"main","index":0},{"node":"Wait until branch created3","type":"main","index":1}]]},"Find updated workflows1":{"main":[[{"node":"Wait for finished1","type":"main","index":1},{"node":"Wait until branch created2","type":"main","index":1}]]},"Wait for GitHub create/edit file finished1":{"main":[[{"node":"Create new PR via GitHub API1","type":"main","index":0}]]},"Create new PR via GitHub API1":{"main":[[]]},"Define Local Variables1":{"main":[[{"node":"n8n1","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0}]]},"Get content for each workflow1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Base64decode workflow content1":{"main":[[{"node":"Find updated workflows1","type":"main","index":1},{"node":"Find new workflows1","type":"main","index":1}]]},"Wait for finished1":{"main":[[{"node":"If there are any changes in workflows1","type":"main","index":0}]]},"If there are any changes in workflows1":{"main":[[{"node":"Get latest commit SHA on main  via GitHub API1","type":"main","index":0}],[{"node":"No Operation, do nothing1","type":"main","index":0}]]},"Wait until branch created2":{"main":[[{"node":"Filter empty data3","type":"main","index":0}]]},"Wait until branch created3":{"main":[[{"node":"Filter empty data2","type":"main","index":0}]]},"Filter empty data2":{"main":[[{"node":"Create new commit to add new workflow1","type":"main","index":0}]]},"Filter empty data3":{"main":[[{"node":"Create new commit to update changed workflow1","type":"main","index":0}]]},"Create new commit to add new workflow1":{"main":[[{"node":"Wait for GitHub create/edit file finished1","type":"main","index":0}]]},"Create new commit to update changed workflow1":{"main":[[{"node":"Wait for GitHub create/edit file finished1","type":"main","index":1}]]},"If1":{"main":[[{"node":"Base64decode workflow content1","type":"main","index":0}],[{"node":"Find updated workflows1","type":"main","index":1},{"node":"Find new workflows1","type":"main","index":1}]]},"HTTP Request":{"main":[[{"node":"Get content for each workflow1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Find new workflows1","type":"main","index":0},{"node":"Find updated workflows1","type":"main","index":0}]]},"Get latest commit SHA on main  via GitHub API1":{"main":[[{"node":"Create new branch via GitHub API1","type":"main","index":0}]]},"Create new branch via GitHub API1":{"main":[[{"node":"Wait until branch created2","type":"main","index":0},{"node":"Wait until branch created3","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Find new workflows":{"main":[[{"node":"Wait for finished","type":"main","index":0},{"node":"Filter empty data","type":"main","index":0}]]},"Find updated workflows":{"main":[[{"node":"Wait for finished","type":"main","index":1},{"node":"Filter empty data4","type":"main","index":0}]]},"Wait for GitHub create/edit file finished":{"main":[[{"node":"Call 'spreadsheet'","type":"main","index":0}]]},"Define Local Variables":{"main":[[{"node":"n8n","type":"main","index":0},{"node":"HTTP Request1","type":"main","index":0}]]},"Get content for each workflow":{"main":[[{"node":"If","type":"main","index":0}]]},"Base64decode workflow content":{"main":[[{"node":"Find updated workflows","type":"main","index":1},{"node":"Find new workflows","type":"main","index":1}]]},"Wait for finished":{"main":[[{"node":"If there are any changes in workflows","type":"main","index":0}]]},"If there are any changes in workflows":{"main":[[{"node":"Filter empty data","type":"main","index":0},{"node":"Filter empty data4","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Filter empty data":{"main":[[{"node":"Create new commit to add new workflow","type":"main","index":0}]]},"Filter empty data4":{"main":[[{"node":"Create new commit to update changed workflow","type":"main","index":0}]]},"Create new commit to add new workflow":{"main":[[{"node":"Wait for GitHub create/edit file finished","type":"main","index":0}]]},"Create new commit to update changed workflow":{"main":[[{"node":"Wait for GitHub create/edit file finished","type":"main","index":1}]]},"If":{"main":[[{"node":"Base64decode workflow content","type":"main","index":0}],[{"node":"Find updated workflows","type":"main","index":1},{"node":"Find new workflows","type":"main","index":1}]]},"HTTP Request1":{"main":[[{"node":"Get content for each workflow","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Find new workflows","type":"main","index":0},{"node":"Find updated workflows","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Define Local Variables2","type":"main","index":0}]]},"Call 'spreadsheet'":{"main":[[{"node":"Create new PR via GitHub API","type":"main","index":0}]]},"Get Triggered Workflow from n8n":{"main":[[{"node":"Should this workflow be synced?","type":"main","index":0}]]},"Should this workflow be synced?":{"main":[[{"node":"Try Get GitHub File","type":"main","index":0}]]},"Try Get GitHub File":{"main":[[{"node":"File Exists in GitHub?","type":"main","index":0}]]},"File Exists in GitHub?":{"main":[[{"node":"Create new commit to update changed workflow2","type":"main","index":0}],[{"node":"Create new commit to add new workflow2","type":"main","index":0}]]},"Define Local Variables2":{"main":[[{"node":"Get Triggered Workflow from n8n","type":"main","index":0}]]},"Create new commit to add new workflow2":{"main":[[{"node":"Wait for GitHub create/edit file finished2","type":"main","index":0}]]},"Create new commit to update changed workflow2":{"main":[[{"node":"Wait for GitHub create/edit file finished2","type":"main","index":1}]]},"Wait for GitHub create/edit file finished2":{"main":[[{"node":"Call 'spreadsheet'1","type":"main","index":0}]]},"Call 'spreadsheet'1":{"main":[[{"node":"Create new PR via GitHub API2","type":"main","index":0}]]}},"authors":"Veneeth Batchu","name":"Version 7c242292","description":"","autosaved":true},"tags":[]}],"nextCursor":null}