workflows/DRkxG3Wzq9tqxVXr-AOhW.json
{"updatedAt":"2026-02-19T03:03:32.365Z","createdAt":"2026-02-11T15:54:16.658Z","id":"DRkxG3Wzq9tqxVXr-AOhW","name":"GitHub Workflow Sync (v5)","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'GitHub Workflow Sync (v5)',\n  'Backup workflows to GitHub (Direct Push)',\n  'Import workflows from git'\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $input.first().json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Get All n8n Workflows5').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name + '.json'] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,4064],"id":"494b2baa-e6e9-46e8-971a-79833faa3c00","name":"Filter & Tag Workflows3","alwaysOutputData":true,"onError":"continueRegularOutput"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-1312,3968],"id":"7a9a7c85-e4d5-4b37-b87e-47f168f1a5f0","name":"Schedule Trigger7"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-976,3840],"id":"1910c34d-83f2-4bcf-9433-a1973924aadf","name":"Get All n8n Workflows5","credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"const fileMap = {};\n\nfor (const item of $input.all()) {\n  const tree = item.json.tree;\n  \n  if (Array.isArray(tree)) {\n    for (const file of tree) {\n      if (file.type === \"blob\") {\n        const fileName = file.path.split('/').pop();\n        fileMap[fileName] = {\n          sha: file.sha,\n          url: file.url,\n          size: file.size\n        };\n      }\n    }\n  }\n}\n\nreturn [{ json: { fileMap } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-736,4064],"id":"c0e87f0d-5bab-47db-991f-46d24a2e6e90","name":"Build GitHub File Map5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-exists","leftValue":"={{ $json.existsInGitHub }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-96,4144],"id":"9025c9c8-3b60-4520-b7ce-1c6cc67ae54f","name":"File Exists in GitHub?6"},{"parameters":{"url":"=https://raw.githubusercontent.com/IAMVENEETH/n8n/dev/{{ $json.name }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[416,4272],"id":"312ff9d9-2b9a-4c8e-b143-a73dbf776e09","name":"HTTP Request2","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-should-update","leftValue":"={{ $json.updatedAt.toDateTime()}}","rightValue":"={{ $('Filter & Tag Workflows3').item.json.updatedAt.toDateTime()}}","operator":{"type":"dateTime","operation":"before"}}],"combinator":"and"},"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[640,4272],"id":"427957c9-d9d0-41f0-aacd-5e609dd3547e","name":"Should Update?6"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"IAMVENEETH","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/IAMVENEETH/n8n"},"filePath":"={{ $json.name }}","fileContent":"={{ JSON.stringify($('Filter & Tag Workflows3').item.json, null, 2) }}","commitMessage":"=sync: updated {{ $json.name }} at {{ $now.toISO() }}","additionalParameters":{"branch":{"branch":"dev"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[944,4256],"id":"559bf9ac-f1fd-40e5-b330-870a450c1fcd","name":"Edit Existing File6","webhookId":"aebae5f6-7bdd-4d8c-b912-dcc02c1cf63b","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"IAMVENEETH","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/IAMVENEETH/n8n"},"filePath":"={{ $json.name }}","fileContent":"={{ JSON.stringify($('Filter & Tag Workflows3').item.json, null, 2) }}","commitMessage":"=sync: created {{ $json.name }} at {{ $now.toISO() }}","additionalParameters":{"branch":{"branch":"dev"}}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[192,3952],"id":"ff60e701-52dd-4a95-816f-32c9fb3303ce","name":"Create New File6","webhookId":"3dcb8158-779c-49fd-88c4-ddd17e880aa0","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"url":"https://api.github.com/repos/IAMVENEETH/n8n/git/tree/dev?recursive=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-976,4064],"id":"8461b3b0-4c21-46b3-87d7-d6085fdeb30c","name":"HTTP Request3","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"batchSize":"={{ $input.all().length}}","options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[144,4256],"id":"af4fd7f0-0b4a-433c-b037-87a6542165a3","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/IAMVENEETH/n8n/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"title\": \"Automated PR for dev\",\n\"body\": \"\",\n\"head\": \"dev\",\n\"base\": \"main\"\n}","options":{}},"id":"762be94f-c8bb-4ed1-93fe-5f840a25a2e9","name":"Create new PR via GitHub API1","type":"n8n-nodes-base.httpRequest","position":[496,4048],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"87bcdfe4-69de-4694-8a8a-c9ca94f0ff11","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-304,4064],"id":"8a404d61-e783-46fe-8572-5d9ed7bfa8e3","name":"If"}],"connections":{"Filter & Tag Workflows3":{"main":[[{"node":"If","type":"main","index":0}]]},"Schedule Trigger7":{"main":[[{"node":"Get All n8n Workflows5","type":"main","index":0},{"node":"HTTP Request3","type":"main","index":0}]]},"Build GitHub File Map5":{"main":[[{"node":"Filter & Tag Workflows3","type":"main","index":0}]]},"File Exists in GitHub?6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Create New File6","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Should Update?6","type":"main","index":0}]]},"Should Update?6":{"main":[[{"node":"Edit Existing File6","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Build GitHub File Map5","type":"main","index":0}]]},"Edit Existing File6":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Create new PR via GitHub API1","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"Create New File6":{"main":[[{"node":"Create new PR via GitHub API1","type":"main","index":0}]]},"If":{"main":[[{"node":"Create New File6","type":"main","index":0}],[{"node":"File Exists in GitHub?6","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60be5187-5e39-47d2-ab6b-e8e4f569b917","activeVersionId":null,"triggerCount":8,"shared":[{"updatedAt":"2026-02-11T15:54:16.663Z","createdAt":"2026-02-11T15:54:16.663Z","role":"workflow:owner","workflowId":"DRkxG3Wzq9tqxVXr-AOhW","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]}