workflows/spreadsheet.json
{"updatedAt":"2026-02-19T09:58:34.733Z","createdAt":"2026-02-18T10:26:22.909Z","id":"mAuJC5qo3Lqm86Nr","name":"spreadsheet","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-592,800]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,240],"id":"a4f9b33b-cfe5-4917-b1d2-90928d8f5b95","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items\n  .filter(item => item.json.commit && item.json.content)\n  .map(item => {\n    const commit = item.json.commit;\n    const content = item.json.content;\n    return {\n      json: {\n        file_name: content.name,\n        file_path: content.path,\n        commit_sha: commit.sha,\n        commit_message: commit.message,\n        committed_by: commit.author.name,\n        commit_email: commit.author.email,\n        committed_at: commit.author.date,\n        file_url: content.html_url,\n        commit_url: commit.html_url,\n        is_new: commit.message.startsWith('Add new workflow')\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,800],"id":"4ac762bc-7cbc-4c57-a7ce-f7fcf40ad00e","name":"Extract Commit Info"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-is-new","leftValue":"={{ $json.is_new }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,800],"id":"20674749-454e-497c-a279-bccd2126b345","name":"New or Updated?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"New Workflows","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"file_name":"={{ $json.file_name }}","file_path":"={{ $json.file_path }}","commit_sha":"={{ $json.commit_sha }}","commit_message":"={{ $json.commit_message }}","committed_by":"={{ $json.committed_by }}","commit_email":"={{ $json.commit_email }}","committed_at":"={{ $json.committed_at }}","file_url":"={{ $json.file_url }}","commit_url":"={{ $json.commit_url }}"},"matchingColumns":[],"schema":[{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_sha","displayName":"commit_sha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_message","displayName":"commit_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_by","displayName":"committed_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_email","displayName":"commit_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_at","displayName":"committed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_url","displayName":"file_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_url","displayName":"commit_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_new","displayName":"is_new","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,640],"id":"1c14a5f6-343b-4748-ab4d-052a285efd8b","name":"Append to New Workflows Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"Updated Workflows","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"file_name":"={{ $json.file_name }}","file_path":"={{ $json.file_path }}","commit_sha":"={{ $json.commit_sha }}","commit_message":"={{ $json.commit_message }}","committed_by":"={{ $json.committed_by }}","commit_email":"={{ $json.commit_email }}","committed_at":"={{ $json.committed_at }}","file_url":"={{ $json.file_url }}","commit_url":"={{ $json.commit_url }}"},"matchingColumns":["file_name"],"schema":[{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_sha","displayName":"commit_sha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_message","displayName":"commit_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_by","displayName":"committed_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_email","displayName":"commit_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_at","displayName":"committed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_url","displayName":"file_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_url","displayName":"commit_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_new","displayName":"is_new","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,960],"id":"16e25653-41d7-4254-b807-713a75f88cc4","name":"Append to Updated Workflows Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Extract Commit Info","type":"main","index":0}]]},"Extract Commit Info":{"main":[[{"node":"New or Updated?","type":"main","index":0}]]},"New or Updated?":{"main":[[{"node":"Append to New Workflows Sheet","type":"main","index":0}],[{"node":"Append to Updated Workflows Sheet","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"36c522b4-4bec-4b0b-be60-de5dfdc5ee1e","activeVersionId":"36c522b4-4bec-4b0b-be60-de5dfdc5ee1e","triggerCount":0,"shared":[{"updatedAt":"2026-02-18T10:26:22.914Z","createdAt":"2026-02-18T10:26:22.914Z","role":"workflow:owner","workflowId":"mAuJC5qo3Lqm86Nr","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":{"updatedAt":"2026-02-19T09:58:42.000Z","createdAt":"2026-02-19T09:40:08.111Z","versionId":"36c522b4-4bec-4b0b-be60-de5dfdc5ee1e","workflowId":"mAuJC5qo3Lqm86Nr","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-592,800]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[160,240],"id":"a4f9b33b-cfe5-4917-b1d2-90928d8f5b95","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const items = $input.all();\n\nreturn items\n  .filter(item => item.json.commit && item.json.content)\n  .map(item => {\n    const commit = item.json.commit;\n    const content = item.json.content;\n    return {\n      json: {\n        file_name: content.name,\n        file_path: content.path,\n        commit_sha: commit.sha,\n        commit_message: commit.message,\n        committed_by: commit.author.name,\n        commit_email: commit.author.email,\n        committed_at: commit.author.date,\n        file_url: content.html_url,\n        commit_url: commit.html_url,\n        is_new: commit.message.startsWith('Add new workflow')\n      }\n    };\n  });"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-368,800],"id":"4ac762bc-7cbc-4c57-a7ce-f7fcf40ad00e","name":"Extract Commit Info"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-is-new","leftValue":"={{ $json.is_new }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-144,800],"id":"20674749-454e-497c-a279-bccd2126b345","name":"New or Updated?"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"New Workflows","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"file_name":"={{ $json.file_name }}","file_path":"={{ $json.file_path }}","commit_sha":"={{ $json.commit_sha }}","commit_message":"={{ $json.commit_message }}","committed_by":"={{ $json.committed_by }}","commit_email":"={{ $json.commit_email }}","committed_at":"={{ $json.committed_at }}","file_url":"={{ $json.file_url }}","commit_url":"={{ $json.commit_url }}"},"matchingColumns":[],"schema":[{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_sha","displayName":"commit_sha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_message","displayName":"commit_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_by","displayName":"committed_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_email","displayName":"commit_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_at","displayName":"committed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_url","displayName":"file_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_url","displayName":"commit_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_new","displayName":"is_new","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,640],"id":"1c14a5f6-343b-4748-ab4d-052a285efd8b","name":"Append to New Workflows Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk","mode":"list","cachedResultName":"Github commits-info","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k4nbyUdt14SqjhL2_DOWD6IFk5iUilJBlCtihyQtnnk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"Updated Workflows","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"file_name":"={{ $json.file_name }}","file_path":"={{ $json.file_path }}","commit_sha":"={{ $json.commit_sha }}","commit_message":"={{ $json.commit_message }}","committed_by":"={{ $json.committed_by }}","commit_email":"={{ $json.commit_email }}","committed_at":"={{ $json.committed_at }}","file_url":"={{ $json.file_url }}","commit_url":"={{ $json.commit_url }}"},"matchingColumns":["file_name"],"schema":[{"id":"file_name","displayName":"file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_path","displayName":"file_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_sha","displayName":"commit_sha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_message","displayName":"commit_message","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_by","displayName":"committed_by","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_email","displayName":"commit_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"committed_at","displayName":"committed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"file_url","displayName":"file_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"commit_url","displayName":"commit_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_new","displayName":"is_new","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,960],"id":"16e25653-41d7-4254-b807-713a75f88cc4","name":"Append to Updated Workflows Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"8HIsQg12fVh1kd34","name":"Google Sheets account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Extract Commit Info","type":"main","index":0}]]},"Extract Commit Info":{"main":[[{"node":"New or Updated?","type":"main","index":0}]]},"New or Updated?":{"main":[[{"node":"Append to New Workflows Sheet","type":"main","index":0}],[{"node":"Append to Updated Workflows Sheet","type":"main","index":0}]]}},"authors":"Veneeth Batchu","name":"Version 36c522b4","description":"","autosaved":true},"tags":[]}