workflows/Vcv2xorT1gU-4kM0EcU0R.json
{"updatedAt":"2026-02-16T10:47:10.105Z","createdAt":"2026-02-16T05:55:19.911Z","id":"Vcv2xorT1gU-4kM0EcU0R","name":"monitoring_workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-560,-128],"id":"4b2bb418-3276-436e-ac8b-2acba75979c4","name":"Schedule Trigger"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-288,-128],"id":"faf64145-7d6b-425b-bed4-18d88ab218c0","name":"Get many workflows","credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":3},"conditions":[{"id":"13963dda-3ac2-4074-a78e-68e97e95da2b","leftValue":"={{ $json.active }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"92aefa5f-ee23-41a6-8b82-3915d0e76478","leftValue":"={{ $json.updatedAt}}","rightValue":"={{ $now.toUTC().minus(60,'minutes')}}","operator":{"type":"dateTime","operation":"afterOrEquals"}},{"id":"382f3b87-29ab-42e3-b425-0f0ba875355f","leftValue":"={{ $json.name }}","rightValue":"=\"git_push_sync\"","operator":{"type":"string","operation":"notEquals"}},{"id":"1341dfd3-efd5-4a53-99ca-9e01cd9ba508","leftValue":"={{ $json.name }}","rightValue":"=\"monitoring_workflow\"","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":false}},"type":"n8n-nodes-base.filter","typeVersion":2.3,"position":[0,-128],"id":"165fbd26-cc43-4609-ac7b-35f03f1a080f","name":"Filter"},{"parameters":{"workflowId":{"__rl":true,"value":"DRkxG3Wzq9tqxVXr-AOhW","mode":"list","cachedResultUrl":"/workflow/DRkxG3Wzq9tqxVXr-AOhW","cachedResultName":"git_push_sync"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{"waitForSubWorkflow":false}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[320,-128],"id":"4834acd0-5c25-487f-b316-cd4ae543c1b6","name":"Call 'git_push_sync'","alwaysOutputData":true}],"connections":{"Schedule Trigger":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Call 'git_push_sync'","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"44782570-7296-4a0a-96d4-e34baf9f7efb","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-16T05:55:19.916Z","createdAt":"2026-02-16T05:55:19.916Z","role":"workflow:owner","workflowId":"Vcv2xorT1gU-4kM0EcU0R","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[]}