workflows/X-wT_vtL2P-dm1bxgloN1.json
{"updatedAt":"2026-02-18T12:34:57.531Z","createdAt":"2026-02-18T05:40:27.875Z","id":"X-wT_vtL2P-dm1bxgloN1","name":"Import workflows from git","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"fullResponse":true,"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[352,-240],"id":"3eb22011-0f98-4385-b71e-fbb27fae592a","name":"Download Each Workflow File"},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}}},"id":"954b2d90-b4ec-486a-a487-3a0a2186ad1f","name":"Get All Existing Workflows","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[128,-48],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Compare Git workflow names against existing n8n workflows\nconst items = $input.all();\n\nlet allWorkflows = [];\n\ntry {\n  const checkNode = $('Get All Existing Workflows').first();\n  \n  if (checkNode?.json?.data && Array.isArray(checkNode.json.data)) {\n    allWorkflows = checkNode.json.data;\n  } else if (Array.isArray(checkNode?.json)) {\n    allWorkflows = checkNode.json;\n  } else if (checkNode?.json?.workflows && Array.isArray(checkNode.json.workflows)) {\n    allWorkflows = checkNode.json.workflows;\n  } else {\n    const allItems = $('Get All Existing Workflows').all();\n    if (allItems.length > 0 && allItems[0].json?.data) {\n      allWorkflows = allItems[0].json.data;\n    }\n  }\n} catch (error) {\n  console.error('Error getting workflows:', error);\n}\n\nconsole.log(`Found ${allWorkflows.length} existing workflows in n8n`);\n\nreturn items.map(item => {\n  const workflowData = item.json;\n  const gitName = (workflowData?.name || '').trim();\n  \n  if (!gitName) {\n    return { \n      json: { \n        error: \"No workflow name\", \n        exists: false,\n        workflowData: workflowData \n      } \n    };\n  }\n  \n  const match = allWorkflows.find(wf => \n    (wf.name || '').trim().toLowerCase() === gitName.toLowerCase()\n  );\n  \n  return {\n    json: {\n      workflowName: gitName,\n      exists: !!match,\n      workflowId: match?.id || null,\n      workflowData: workflowData\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,-144],"id":"e2f551a5-cae5-423e-8c33-27934b628136","name":"Compare With Existing Workflows","alwaysOutputData":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.exists }}","value2":true}]}},"id":"fbcff7aa-ce9a-4237-8d2a-0f80bf862604","name":"Does Workflow Already Exist?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1024,-144]},{"parameters":{"method":"PUT","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"02c398b4-6d0e-4440-a4ae-3a43ceb6dcca","name":"Update Existing Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,-240],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"40256be3-f2b6-4e2b-a475-c869f8f3fe98","name":"Create New Workflow","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,-48],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Merge results from both branches and build a summary\nconst allItems = $input.all();\n\nconst results = allItems.map(item => ({\n  name: item.json.name || 'Unknown',\n  id: item.json.id || null,\n  action: item.json._action || 'processed'\n}));\n\nconst created = results.filter(r => r.action === 'created');\nconst updated = results.filter(r => r.action === 'updated');\n\nreturn [{\n  json: {\n    success: true,\n    totalProcessed: results.length,\n    created: created.length,\n    updated: updated.length,\n    workflows: results,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"709937e5-f4fd-4ca3-9fe2-c7bc2df441ec","name":"Build Summary","type":"n8n-nodes-base.code","typeVersion":2,"position":[1472,-144]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[576,-144],"id":"c8068c04-a77d-46db-80fd-46e43b7a14ee","name":"Merge"},{"parameters":{"url":"https://api.github.com/repos/IAMVENEETH/n8n/git/trees/dev?recursive=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-320,-240],"id":"b6ab6ccd-d130-408d-9248-a87e386b5d4e","name":"HTTP Request3","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[352,-48],"id":"0e7b1093-b7d6-43bd-870f-104628649b15","name":"Split Out1"},{"parameters":{"jsCode":"const items = $input.all();\nconst fileMap = {};\n\nfor (const item of items) {\n  const tree = item.json.tree;\n  \n  if (Array.isArray(tree)) {\n    for (const f of tree) {\n      if (f.type === \"blob\") {  // only files, skip folders\n        fileMap[f.path] = {\n          sha: f.sha,\n          url: f.url,\n          size: f.size\n        };\n      }\n    }\n  }\n}\n\nreturn [{ json: { fileMap } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,-240],"id":"3bab0790-1dd1-428c-8be6-6b04adc7a1cb","name":"Build GitHub File Map5"},{"parameters":{"jsCode":"// ─────────────────────────────────────────────────────────────\n// Runs ONCE. Pulls:\n//   - all n8n workflows from 'Get All n8n Workflows'\n//   - the fileMap from 'Build GitHub File Map' (this node's input)\n// Filters out inactive + excluded workflows, then annotates\n// each with its GitHub match. Outputs one item per workflow.\n// ─────────────────────────────────────────────────────────────\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow',\n];\n\n// fileMap comes in as this node's single input item\nconst fileMap = $('Build GitHub File Map5').json.fileMap || {};\n\n// All n8n workflows from the earlier node\nconst allWorkflows = $('Split Out1').all();\n\nconst output = [];\nfor (const item of allWorkflows) {\n  const wf = item.json;\n\n  // Apply filters\n  if (!wf.active) continue;\n  if (excludeList.includes(wf.name)) continue;\n\n  // Annotate with GitHub match info\n  const match = fileMap[wf.name] || null;\n  output.push({\n    json: {\n      ...wf,\n      existsInGitHub: !!match,\n      githubDownloadUrl: match ? match.download_url : null,\n      githubSha: match ? match.sha : null\n    }\n  });\n}\n\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[128,-240],"id":"58adb235-9b24-4259-879f-6290cadf70cb","name":"Filter & Tag Workflows3"},{"parameters":{"jsCode":"// FIX: GitHub blob API returns base64-encoded content — decode it to get the workflow JSON\n// Previously there was no decode step; the raw base64 was passed downstream which caused failures\n\nconst items = $input.all();\n\nreturn items.map((item, i) => {\n  // The HTTP node returns the blob response directly\n  const blobResponse = item.json;\n\n  // Grab passthrough fields from the previous node (Filter & Tag)\n  const prev = $('Filter & Tag Workflows').all()[i]?.json || {};\n\n  let workflowData = null;\n  let decodeError = null;\n\n  try {\n    if (blobResponse.encoding === 'base64' && blobResponse.content) {\n      // Remove newlines GitHub inserts into the base64 string\n      const clean = blobResponse.content.replace(/\\n/g, '');\n      const decoded = Buffer.from(clean, 'base64').toString('utf-8');\n      workflowData = JSON.parse(decoded);\n    } else {\n      decodeError = 'Unexpected response format: ' + JSON.stringify(Object.keys(blobResponse));\n    }\n  } catch (e) {\n    decodeError = e.message;\n  }\n\n  return {\n    json: {\n      workflowName: prev.workflowName,\n      exists: prev.exists,\n      workflowId: prev.workflowId,\n      githubSha: prev.githubSha,\n      workflowData: workflowData,\n      decodeError: decodeError\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[352,272],"id":"5f6ed653-f5c7-4b3b-8c68-0a0c0f03abfd","name":"Decode Base64 Content"},{"parameters":{"assignments":{"assignments":[{"name":"_action","value":"updated","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,176],"id":"e7d0699d-4902-432c-86d0-1f1ba98f1a04","name":"Tag as Updated"},{"parameters":{"assignments":{"assignments":[{"name":"_action","value":"created","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,368],"id":"ee679734-f3d3-4d27-9952-d4fb808402fe","name":"Tag as Created"},{"parameters":{"url":"https://api.github.com/repos/IAMVENEETH/n8n/git/trees/dev?recursive=1","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-544,272],"id":"bfa7a546-41f9-40a6-b09f-c3765d745ea5","name":"HTTP Request","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}}},"id":"1e69c49b-aafb-490d-8d3a-5292f72af76c","name":"Get All Existing Workflows1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-544,592],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Build a map of { filename -> { sha, url, size } } from the GitHub tree\nconst items = $input.all();\nconst fileMap = {};\n\nfor (const item of items) {\n  const tree = item.json.tree;\n  if (Array.isArray(tree)) {\n    for (const f of tree) {\n      if (f.type === 'blob') {\n        fileMap[f.path] = {\n          sha: f.sha,\n          url: f.url,   // GitHub blob API URL\n          size: f.size\n        };\n      }\n    }\n  }\n}\n\nreturn [{ json: { fileMap } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-320,272],"id":"16f66e0b-b019-4fb5-991a-a14d8175b05a","name":"Build GitHub File Map"},{"parameters":{"jsCode":"// FIX: Iterate GitHub files (fileMap) and check if each exists in n8n\n// Previously this was inverted — it iterated n8n workflows and checked GitHub\n\nconst excludeList = [\n  'git_push_sync',\n  'monitoring_workflow'\n];\n\nconst fileMap = $('Build GitHub File Map').first().json.fileMap || {};\n\n// Get all existing n8n workflows\nlet allWorkflows = [];\ntry {\n  const checkNode = $('Get All Existing Workflows1').first();\n  if (checkNode?.json?.data && Array.isArray(checkNode.json.data)) {\n    allWorkflows = checkNode.json.data;\n  } else if (Array.isArray(checkNode?.json)) {\n    allWorkflows = checkNode.json;\n  }\n} catch (e) {\n  console.error('Error fetching existing workflows:', e);\n}\n\nconst output = [];\n\nfor (const [filename, meta] of Object.entries(fileMap)) {\n  // Skip excluded files\n  if (excludeList.includes(filename)) continue;\n\n  // Check if this GitHub file already exists as an n8n workflow (match by name)\n  const match = allWorkflows.find(\n    wf => (wf.name || '').trim().toLowerCase() === filename.trim().toLowerCase()\n  );\n\n  output.push({\n    json: {\n      workflowName: filename,\n      githubBlobUrl: meta.url,   // FIX: was match.download_url (didn't exist); now using meta.url\n      githubSha: meta.sha,\n      exists: !!match,\n      workflowId: match?.id || null\n    }\n  });\n}\n\nconsole.log(`GitHub files to sync: ${output.length}`);\nreturn output;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,272],"id":"1d6393e7-c97d-4a11-ae11-f2dd384d1f9b","name":"Filter & Tag Workflows"},{"parameters":{"url":"={{ $json.githubBlobUrl }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,272],"id":"57656d32-3d4a-43e4-95ed-1a9e22b3ef3d","name":"Download Each Workflow File1","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.exists }}","value2":true}]}},"id":"b32fa338-9fbe-4d28-a4d6-bd6ad7c6682c","name":"Does Workflow Already Exist?1","type":"n8n-nodes-base.if","typeVersion":1,"position":[576,272]},{"parameters":{"method":"PUT","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"b71e3694-7848-4386-9228-8c1717f6821b","name":"Update Existing Workflow1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,176],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{\"\"}}"}]},"options":{}},"id":"01f494d2-9551-48e2-a442-8d050df45e8f","name":"Create New Workflow1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,368],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// FIX: _action is now properly set by Tag as Updated / Tag as Created Set nodes\n// Previously _action was never set so counts were always 0\n\nconst allItems = $input.all();\n\nconst results = allItems.map(item => ({\n  name: item.json.name || item.json.workflowName || 'Unknown',\n  id: item.json.id || null,\n  action: item.json._action || 'unknown'\n}));\n\nconst created = results.filter(r => r.action === 'created');\nconst updated = results.filter(r => r.action === 'updated');\n\nreturn [{\n  json: {\n    success: true,\n    totalProcessed: results.length,\n    created: created.length,\n    updated: updated.length,\n    workflows: results,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"54b489bd-aa54-4420-b37d-7a190d9dee1a","name":"Build Summary1","type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,272]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"IAMVENEETH","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/IAMVENEETH/n8n"}},"id":"89f76ac8-6928-473a-9fd8-0e5e0567f45b","name":"List All Files in Repo","type":"n8n-nodes-base.github","typeVersion":1,"position":[112,1104],"alwaysOutputData":true,"webhookId":"635fe258-a94e-4dbb-811e-3a45d135a77e","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"url":"={{ $json.download_url }}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[400,1104],"id":"9f60c638-0004-4388-a025-9fa016247981","name":"Download Each Workflow File2"},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows/","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","options":{"response":{"response":{"neverError":true,"responseFormat":"json"}}}},"id":"4744f592-203a-433a-a8c8-b5fc675f1658","name":"Get All Existing Workflows2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,1376],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Compare Git workflow names against existing n8n workflows\nconst items = $input.all();\n\nlet allWorkflows = [];\n\ntry {\n  const checkNode = $('Get All Existing Workflows2').first();\n  \n  if (checkNode?.json?.data && Array.isArray(checkNode.json.data)) {\n    allWorkflows = checkNode.json.data;\n  } else if (Array.isArray(checkNode?.json)) {\n    allWorkflows = checkNode.json;\n  } else if (checkNode?.json?.workflows && Array.isArray(checkNode.json.workflows)) {\n    allWorkflows = checkNode.json.workflows;\n  } else {\n    const allItems = $('Get All Existing Workflows2').all();\n    if (allItems.length > 0 && allItems[0].json?.data) {\n      allWorkflows = allItems[0].json.data;\n    }\n  }\n} catch (error) {\n  console.error('Error getting workflows:', error);\n}\n\nconsole.log(`Found ${allWorkflows.length} existing workflows in n8n`);\n\nreturn items.map(item => {\n  const workflowData = item.json;\n  const gitName = (workflowData?.name || '').trim();\n  \n  if (!gitName) {\n    return { \n      json: { \n        error: \"No workflow name\", \n        exists: false,\n        workflowData: workflowData \n      } \n    };\n  }\n  \n  const match = allWorkflows.find(wf => \n    (wf.name || '').trim().toLowerCase() === gitName.toLowerCase()\n  );\n  \n  return {\n    json: {\n      workflowName: gitName,\n      exists: !!match,\n      workflowId: match?.id || null,\n      workflowData: workflowData\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,1248],"id":"3e03c7bf-9ef7-48eb-b941-fd7e55b1e0b4","name":"Compare With Existing Workflows1","alwaysOutputData":true},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.exists }}","value2":true}]}},"id":"a5fdf0cd-048a-48f5-a2c9-118fcfa82dc7","name":"Does Workflow Already Exist?2","type":"n8n-nodes-base.if","typeVersion":1,"position":[1232,1248]},{"parameters":{"method":"PUT","url":"=http://localhost:5678/api/v1/workflows/{{ $json.workflowId }}","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"7153b28f-65af-408e-9990-aee325273c19","name":"Update Existing Workflow2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,1088],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"method":"POST","url":"=http://localhost:5678/api/v1/workflows/","authentication":"predefinedCredentialType","nodeCredentialType":"n8nApi","sendBody":true,"bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.workflowData.name }}"},{"name":"nodes","value":"={{ $json.workflowData.nodes }}"},{"name":"connections","value":"={{ $json.workflowData.connections }}"},{"name":"settings","value":"={{ $json.workflowData.settings }}"}]},"options":{}},"id":"6604d4ed-e995-4aba-a027-9898353b2bec","name":"Create New Workflow2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1504,1328],"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"jsCode":"// Merge results from both branches and build a summary\nconst allItems = $input.all();\n\nconst results = allItems.map(item => ({\n  name: item.json.name || 'Unknown',\n  id: item.json.id || null,\n  action: item.json._action || 'processed'\n}));\n\nconst created = results.filter(r => r.action === 'created');\nconst updated = results.filter(r => r.action === 'updated');\n\nreturn [{\n  json: {\n    success: true,\n    totalProcessed: results.length,\n    created: created.length,\n    updated: updated.length,\n    workflows: results,\n    timestamp: new Date().toISOString()\n  }\n}];"},"id":"6e4c9b80-17cc-4e08-b5c4-978faaf74aa9","name":"Build Summary2","type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,1200]},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[704,1248],"id":"06e6e3dc-c5a2-4570-a466-a2cf976b029c","name":"Merge1"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[400,1376],"id":"af06f7ad-be7b-4c7c-802b-19d90a32b818","name":"Split Out"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-288,1232],"id":"91062f25-7b63-4285-9413-74a4ae598e74","name":"When Executed by Another Workflow"}],"connections":{"Download Each Workflow File":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get All Existing Workflows":{"main":[[{"node":"Split Out1","type":"main","index":0}]]},"Compare With Existing Workflows":{"main":[[{"node":"Does Workflow Already Exist?","type":"main","index":0}]]},"Does Workflow Already Exist?":{"main":[[{"node":"Update Existing Workflow","type":"main","index":0}],[{"node":"Create New Workflow","type":"main","index":0}]]},"Update Existing Workflow":{"main":[[{"node":"Build Summary","type":"main","index":0}]]},"Create New Workflow":{"main":[[{"node":"Build Summary","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Compare With Existing Workflows","type":"main","index":0}]]},"HTTP Request3":{"main":[[{"node":"Build GitHub File Map5","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Build GitHub File Map5":{"main":[[{"node":"Filter & Tag Workflows3","type":"main","index":0}]]},"Filter & Tag Workflows3":{"main":[[{"node":"Download Each Workflow File","type":"main","index":0}]]},"Decode Base64 Content":{"main":[[{"node":"Does Workflow Already Exist?1","type":"main","index":0}]]},"Tag as Updated":{"main":[[{"node":"Update Existing Workflow1","type":"main","index":0}]]},"Tag as Created":{"main":[[{"node":"Create New Workflow1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Build GitHub File Map","type":"main","index":0}]]},"Build GitHub File Map":{"main":[[{"node":"Filter & Tag Workflows","type":"main","index":0}]]},"Filter & Tag Workflows":{"main":[[{"node":"Download Each Workflow File1","type":"main","index":0}]]},"Download Each Workflow File1":{"main":[[{"node":"Decode Base64 Content","type":"main","index":0}]]},"Does Workflow Already Exist?1":{"main":[[{"node":"Tag as Updated","type":"main","index":0}],[{"node":"Tag as Created","type":"main","index":0}]]},"Update Existing Workflow1":{"main":[[{"node":"Build Summary1","type":"main","index":0}]]},"Create New Workflow1":{"main":[[{"node":"Build Summary1","type":"main","index":0}]]},"List All Files in Repo":{"main":[[{"node":"Download Each Workflow File2","type":"main","index":0}]]},"Download Each Workflow File2":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get All Existing Workflows2":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Compare With Existing Workflows1":{"main":[[{"node":"Does Workflow Already Exist?2","type":"main","index":0}]]},"Does Workflow Already Exist?2":{"main":[[{"node":"Update Existing Workflow2","type":"main","index":0}],[{"node":"Create New Workflow2","type":"main","index":0}]]},"Update Existing Workflow2":{"main":[[{"node":"Build Summary2","type":"main","index":0}]]},"Create New Workflow2":{"main":[[{"node":"Build Summary2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Compare With Existing Workflows1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"When Executed by Another Workflow":{"main":[[{"node":"List All Files in Repo","type":"main","index":0},{"node":"Get All Existing Workflows2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7ee850c6-e775-4ebd-94f5-70fba9ae568f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T05:40:27.881Z","createdAt":"2026-02-18T05:40:27.881Z","role":"workflow:owner","workflowId":"X-wT_vtL2P-dm1bxgloN1","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[],"_source":"input1"}