workflows/zldKSgo2piglJZSn1T6ys.json
{"updatedAt":"2026-02-18T16:03:21.004Z","createdAt":"2026-02-18T06:53:19.361Z","id":"zldKSgo2piglJZSn1T6ys","name":"Backup workflows to GitHub (Direct Push)","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"fe970051-26b9-4e1d-88d2-baa36c3c51b6","leftValue":"={{ $json.ref }}","rightValue":"=ref/heads/dev","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-368,-64],"id":"c2ba2356-802a-49be-ba68-340a07450803","name":"If"},{"parameters":{"method":"POST","url":"https://api.github.com/repos/IAMVENEETH/n8n/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"title\": \"\",\n  \"body\": \"A description of the changes you are proposing.\",\n  \"head\": \"the-source-branch-name\",\n  \"base\": \"the-destination-branch-name\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-96,-240],"id":"44b2511a-4be4-451d-a675-f44cfc900426","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"w8gU6BRtznP8aBbR","name":"Header Auth account"},"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"owner":{"__rl":true,"value":"IAMVENEETH","mode":"name"},"repository":{"__rl":true,"value":"n8n","mode":"name"},"events":["push"],"options":{}},"type":"n8n-nodes-base.githubTrigger","typeVersion":1,"position":[-592,-64],"id":"c6fea973-686b-4e1b-86f8-50d8b2d7ecd0","name":"Github Trigger","webhookId":"f58ae177-5f55-4b8f-956d-85b4e098f613","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"filters":{},"requestOptions":{}},"id":"53360a2d-67de-4717-ac6b-b181ee666f3a","name":"n8n","type":"n8n-nodes-base.n8n","position":[-1856,928],"typeVersion":1,"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"4e51bdb5-f111-4a4f-8a0a-835a39056ee0","name":"Find new workflows","type":"n8n-nodes-base.merge","position":[-1632,976],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{"mode":"combine","fieldsToMatchString":"id, updatedAt","joinMode":"keepNonMatches","outputDataFrom":"input1","options":{}},"id":"df542fc3-c70c-452b-8207-2c97460d3526","name":"Find updated workflows","type":"n8n-nodes-base.merge","position":[-1632,1232],"typeVersion":3.1,"alwaysOutputData":true},{"parameters":{},"id":"69984e56-f091-45aa-8307-13e68b7cd749","name":"Wait for GitHub create/edit file finished","type":"n8n-nodes-base.merge","position":[176,1088],"typeVersion":3.1},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n\"title\": \"Automated PR for {{ $('Define Local Variables').item.json.branch_name }}\",\n\"body\": \"\",\n\"head\": \"{{ $('Define Local Variables').item.json.branch_name }}\",\n\"base\": \"main\"\n}","options":{}},"id":"c13d8f07-e3dc-4d21-bce6-49e20e6c48d4","name":"Create new PR via GitHub API","type":"n8n-nodes-base.httpRequest","position":[400,1088],"executeOnce":true,"typeVersion":4.2,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"575b2ca9-528f-421f-8352-073c916fcd63","name":"branch_name","type":"string","value":"=workflows_{{ $now.format('yyyy-MM-dd-hh-mm-ss')}}"},{"id":"6f7a1168-1c55-4e50-b7d2-0868104ee1db","name":"github_owner","type":"string","value":"duynb92"},{"id":"9c8cf8ba-9e64-4fb5-ba38-8429264c84dd","name":"repo_name","type":"string","value":"n8n-workflows"}]},"options":{}},"id":"9c95cc23-75c5-4cc5-94f6-cc5fccf563e6","name":"Define Local Variables","type":"n8n-nodes-base.set","position":[-2464,1072],"typeVersion":3.4},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"workflows"},"id":"77f27562-3a4b-4f3e-932f-e600826658bf","name":"Get all workflows on GitHub","type":"n8n-nodes-base.github","position":[-2288,1280],"webhookId":"481a47c9-57bf-4c5f-a9c8-7246190c4b3c","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"2d615e7f-c0ab-4ed2-9fb3-15bc8de93d22","name":"Get content for each workflow","type":"n8n-nodes-base.github","position":[-2064,1280],"webhookId":"bfb94e71-96eb-4fc3-9fe0-1b5255d48b53","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.content.base64Decode() }}","options":{}},"id":"647ba723-96c0-4a4f-ab6f-24520ad02bc2","name":"Base64decode workflow content","type":"n8n-nodes-base.set","position":[-1856,1280],"typeVersion":3.4},{"parameters":{"mode":"chooseBranch","output":"empty"},"id":"2209eac3-046f-4e21-ad29-e9e64c132976","name":"Wait for finished","type":"n8n-nodes-base.merge","position":[-1408,1104],"typeVersion":3.1},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"cec5563a-01dd-4372-882a-2114c8e476a7","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find updated workflows').all() }}","rightValue":""},{"id":"fb800963-acc7-495f-8bf2-c29c3b3d0450","operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find new workflows').all() }}","rightValue":""}]},"options":{}},"id":"fa2a12f3-5bc6-429e-b8f6-99378f3a7a2f","name":"If there are any changes in workflows","type":"n8n-nodes-base.if","position":[-1184,1104],"typeVersion":2.2},{"parameters":{},"id":"db41537c-b4c6-4978-a218-ea1e9b54f1d6","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","position":[-1008,1440],"typeVersion":1},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/git/refs","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"ref\": \"refs/heads/{{ $('Define Local Variables').item.json.branch_name }}\",\n  \"sha\": \"{{ $json.object.sha }}\"\n}","options":{}},"id":"d2f48e67-6359-4996-83ec-f48cb3a0d31c","name":"Create new branch via GitHub API","type":"n8n-nodes-base.httpRequest","position":[-752,1104],"executeOnce":true,"typeVersion":4.2},{"parameters":{"url":"=https://api.github.com/repos/{{ $('Define Local Variables').item.json.github_owner }}/{{ $('Define Local Variables').item.json.repo_name }}/git/ref/heads/main","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"id":"089bb2e5-42b7-405c-a18c-819fc373a329","name":"Get latest commit SHA on main  via GitHub API","type":"n8n-nodes-base.httpRequest","position":[-976,1104],"executeOnce":true,"typeVersion":4.2},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"id":"2836377c-7ea2-4578-9a9a-56f0a4ed946b","name":"Wait until branch created","type":"n8n-nodes-base.merge","position":[-528,1232],"typeVersion":3.1,"alwaysOutputData":false},{"parameters":{"mode":"chooseBranch","useDataOfInput":2},"id":"23d26478-1621-4cd0-9102-a57e4c11bc31","name":"Wait until branch created1","type":"n8n-nodes-base.merge","position":[-528,976],"typeVersion":3.1,"alwaysOutputData":false},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"835f2dab-de42-4c97-a747-47b23d55c990","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"a86d3494-e270-463d-95d6-afdee6f743bc","name":"Filter empty data","type":"n8n-nodes-base.filter","position":[-304,976],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find new workflows' always output data"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"1d8312fd-5157-4058-823c-35f7574541fa","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}","rightValue":""}]},"options":{}},"id":"d8913be0-9bdf-46bb-9de7-95a6ff2d1f6d","name":"Filter empty data1","type":"n8n-nodes-base.filter","position":[-304,1232],"notesInFlow":true,"typeVersion":2.2,"notes":"Empty data can happen because 'Find updated workflows' always output data"},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.id }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Add new workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables').item.json.branch_name }}"}}},"id":"b9e9c5bb-da85-44c3-a7ff-513aeb7c9611","name":"Create new commit to add new workflow","type":"n8n-nodes-base.github","position":[-96,976],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.id }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Update workflow {{ $json.id }}","additionalParameters":{"branch":{"branch":"={{ $('Define Local Variables').item.json.branch_name }}"}}},"id":"d105abca-17cb-4f8f-b2a9-e96164008bd5","name":"Create new commit to update changed workflow","type":"n8n-nodes-base.github","position":[-96,1232],"webhookId":"843c09e3-953a-40c4-a208-38acdd2ea466","typeVersion":1.1,"credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"mode":"list","value":"C08NZ6D9CRF","cachedResultName":"n8n-notifications"},"text":"=:firework: {{ $workflow.name }} executed succesfully. \nIt created a new <{{ $json.html_url }}|GitHub PR>.","otherOptions":{}},"id":"57d19ce8-76c5-441c-8d1e-909d9a5ad2c5","name":"Slack","type":"n8n-nodes-base.slack","position":[624,1088],"webhookId":"799530a9-9c2f-482e-9265-a2d58663223e","typeVersion":2.3,"credentials":{"slackApi":{"id":"fFNKv5BSkiTGxABH","name":"Slack account"}}},{"parameters":{},"id":"eb3fb580-6612-4ee8-b8fc-091a8789ad72","name":"Click me to trigger","type":"n8n-nodes-base.manualTrigger","position":[-2336,2112],"typeVersion":1},{"parameters":{"content":"## Setup\n1. GitHub credentials: Add your GitHub API credentials in n8n.\n2. Slack integration: Connect your Slack Bot token if you want PR notifications.\n3. Repository details: Update github_owner, repo_name, and workflow directory path in the “Define Local Variables” node.\n4. n8n API key - [Check this doc](https://docs.n8n.io/api/authentication/)","height":260,"width":280},"id":"166a950c-39ed-48b9-9f2b-edb871374d3d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[-2784,720],"typeVersion":1},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find updated workflows1').all() }}","id":"57b97256-76b7-435c-b691-2fc563ec92ac"},{"operator":{"type":"array","operation":"notEmpty","singleValue":true},"leftValue":"={{ $('Find new workflows1').all() }}","id":"1124dd1f-33ec-4189-9dbb-b9225c9e61ef"}],"combinator":"or"},"options":{}},"id":"eac94372-a813-47ef-9d22-1e603449f11d","name":"If there are any changes","type":"n8n-nodes-base.if","position":[-592,2128],"typeVersion":2.2},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.id }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Add new workflow {{ $json.id }}","additionalParameters":{"branch":{}}},"id":"67e49415-55b6-4118-97ef-918f8cefffb8","name":"Commit new workflow","type":"n8n-nodes-base.github","position":[208,2000],"typeVersion":1.1,"webhookId":"dbac1ddc-cbcb-4a58-875e-9f8eae1e079e","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"},"filePath":"=workflows/{{ $json.id }}.json","fileContent":"={{ $json.toJsonString() }}","commitMessage":"=Update workflow {{ $json.id }}","additionalParameters":{"branch":{}}},"id":"2b4f2a39-2065-4700-81a9-05348ce45bcd","name":"Commit updated workflow","type":"n8n-nodes-base.github","position":[208,2256],"typeVersion":1.1,"webhookId":"4948d3a1-6c4f-4d67-835b-c13941a64558","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"mode":"combine","options":{}},"id":"fb7a1a4f-572d-44eb-a1ed-dfe924be4d41","name":"Merge for Slack","type":"n8n-nodes-base.merge","position":[608,2128],"typeVersion":3.1},{"parameters":{"assignments":{"assignments":[{"id":"575b2ca9-528f-421f-8352-073c916fcd63","name":"branch_name","type":"string","value":"main"},{"id":"6f7a1168-1c55-4e50-b7d2-0868104ee1db","name":"github_owner","type":"string","value":"IAMVENEETH"},{"id":"9c8cf8ba-9e64-4fb5-ba38-8429264c84dd","name":"repo_name","type":"string","value":"n8n"}]},"options":{}},"id":"f561d0ea-de88-4f35-9ae4-8a6eeb46a309","name":"Define Local Variables1","type":"n8n-nodes-base.set","position":[-1968,2096],"typeVersion":3.4},{"parameters":{"filters":{},"requestOptions":{}},"id":"76bae799-bc4c-46b1-8230-cc7b01cbd952","name":"n8n1","type":"n8n-nodes-base.n8n","position":[-1360,1952],"typeVersion":1,"credentials":{"n8nApi":{"id":"K4Gqcoe79LwYQSN3","name":"n8n account"}}},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"}},"id":"dfd4dcac-b45d-473e-a270-a9544aa760f3","name":"Get all workflows on GitHub1","type":"n8n-nodes-base.github","position":[-1792,2304],"typeVersion":1.1,"webhookId":"5f51febf-2824-492e-ac2e-4393094771bc","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.github_owner }}"},"repository":{"__rl":true,"mode":"name","value":"={{ $('Define Local Variables1').item.json.repo_name }}"},"filePath":"={{ $json.path }}","asBinaryProperty":false,"additionalParameters":{}},"id":"8a47a242-6587-433c-ade1-11782f38d939","name":"Get content for each workflow1","type":"n8n-nodes-base.github","position":[-1568,2304],"typeVersion":1.1,"webhookId":"e604df27-728b-453d-81c8-49c8eb28a539","credentials":{"githubApi":{"id":"1bf24bS8EbVstfQv","name":"GitHub account"}}},{"parameters":{"mode":"raw","jsonOutput":"={{ $json.content.base64Decode() }}","options":{}},"id":"957308a1-ee0d-4a4c-94d4-bc27c214a173","name":"Base64decode workflow content1","type":"n8n-nodes-base.set","position":[-1360,2304],"typeVersion":3.4},{"parameters":{"mode":"combine","fieldsToMatchString":"id","joinMode":"keepNonMatches","options":{}},"id":"68f187d6-7fb1-498e-a525-16c860c3433d","name":"Find new workflows1","type":"n8n-nodes-base.merge","position":[-1136,2000],"typeVersion":3.1},{"parameters":{"mode":"combine","fieldsToMatchString":"id, updatedAt","joinMode":"keepNonMatches","options":{}},"id":"fa41f54d-669b-482e-8c6a-0b320f11e993","name":"Find updated workflows1","type":"n8n-nodes-base.merge","position":[-1136,2256],"typeVersion":3.1},{"parameters":{"mode":"chooseBranch","output":"empty"},"id":"3d917e57-3f3b-4bcb-a677-a991f72d6fde","name":"Wait for finished1","type":"n8n-nodes-base.merge","position":[-912,2128],"typeVersion":3.1},{"parameters":{"conditions":{"conditions":[{"id":"835f2dab-de42-4c97-a747-47b23d55c990","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}"}]},"options":{}},"id":"dc0068de-e674-4a50-ade4-e205435e758c","name":"Filter empty data2","type":"n8n-nodes-base.filter","position":[-48,2000],"typeVersion":2.2},{"parameters":{"conditions":{"conditions":[{"id":"1d8312fd-5157-4058-823c-35f7574541fa","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.id }}"}]},"options":{}},"id":"7372409e-5337-4628-a5af-beb85625008c","name":"Filter empty data3","type":"n8n-nodes-base.filter","position":[-48,2256],"typeVersion":2.2},{"parameters":{"select":"user","user":{"__rl":true,"value":"RAPETI DHEEKSHIT","mode":"username"},"text":"=:firework: {{ $workflow.name }} executed successfully. Workflows backed up to branch: {{ $('Define Local Variables1').item.json.branch_name }}.","otherOptions":{}},"id":"28a71249-80be-4448-99cb-e7aa5ffb99de","name":"Slack1","type":"n8n-nodes-base.slack","position":[848,2128],"typeVersion":2.3,"webhookId":"c22209da-2d41-423e-8447-61d6f31f6525","credentials":{"slackApi":{"id":"fFNKv5BSkiTGxABH","name":"Slack account"}}}],"connections":{"If":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Github Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Find new workflows","type":"main","index":0},{"node":"Find updated workflows","type":"main","index":0}]]},"Filter empty data":{"main":[[{"node":"Create new commit to add new workflow","type":"main","index":0}]]},"Wait for finished":{"main":[[{"node":"If there are any changes in workflows","type":"main","index":0}]]},"Filter empty data1":{"main":[[{"node":"Create new commit to update changed workflow","type":"main","index":0}]]},"Find new workflows":{"main":[[{"node":"Wait until branch created1","type":"main","index":1},{"node":"Wait for finished","type":"main","index":0}]]},"Click me to trigger":{"main":[[{"node":"Define Local Variables1","type":"main","index":0}]]},"Define Local Variables":{"main":[[{"node":"n8n","type":"main","index":0},{"node":"Get all workflows on GitHub","type":"main","index":0}]]},"Find updated workflows":{"main":[[{"node":"Wait for finished","type":"main","index":1},{"node":"Wait until branch created","type":"main","index":1}]]},"Wait until branch created":{"main":[[{"node":"Filter empty data1","type":"main","index":0}]]},"Wait until branch created1":{"main":[[{"node":"Filter empty data","type":"main","index":0}]]},"Get all workflows on GitHub":{"main":[[{"node":"Get content for each workflow","type":"main","index":0}]]},"Create new PR via GitHub API":{"main":[[{"node":"Slack","type":"main","index":0}]]},"Base64decode workflow content":{"main":[[{"node":"Find updated workflows","type":"main","index":1},{"node":"Find new workflows","type":"main","index":1}]]},"Get content for each workflow":{"main":[[{"node":"Base64decode workflow content","type":"main","index":0}]]},"Create new branch via GitHub API":{"main":[[{"node":"Wait until branch created1","type":"main","index":0},{"node":"Wait until branch created","type":"main","index":0}]]},"Create new commit to add new workflow":{"main":[[{"node":"Wait for GitHub create/edit file finished","type":"main","index":0}]]},"If there are any changes in workflows":{"main":[[{"node":"Get latest commit SHA on main  via GitHub API","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Wait for GitHub create/edit file finished":{"main":[[{"node":"Create new PR via GitHub API","type":"main","index":0}]]},"Create new commit to update changed workflow":{"main":[[{"node":"Wait for GitHub create/edit file finished","type":"main","index":1}]]},"Get latest commit SHA on main  via GitHub API":{"main":[[{"node":"Create new branch via GitHub API","type":"main","index":0}]]},"Commit new workflow":{"main":[[{"node":"Merge for Slack","type":"main","index":0}]]},"Commit updated workflow":{"main":[[{"node":"Merge for Slack","type":"main","index":1}]]},"Merge for Slack":{"main":[[{"node":"Slack1","type":"main","index":0}]]},"Define Local Variables1":{"main":[[{"node":"n8n1","type":"main","index":0},{"node":"Get all workflows on GitHub1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"Find new workflows1","type":"main","index":0},{"node":"Find updated workflows1","type":"main","index":0}]]},"Get all workflows on GitHub1":{"main":[[{"node":"Get content for each workflow1","type":"main","index":0}]]},"Get content for each workflow1":{"main":[[{"node":"Base64decode workflow content1","type":"main","index":0}]]},"Base64decode workflow content1":{"main":[[{"node":"Find new workflows1","type":"main","index":1},{"node":"Find updated workflows1","type":"main","index":1}]]},"Find new workflows1":{"main":[[{"node":"Wait for finished1","type":"main","index":0},{"node":"Filter empty data2","type":"main","index":0}]]},"Find updated workflows1":{"main":[[{"node":"Wait for finished1","type":"main","index":1},{"node":"Filter empty data3","type":"main","index":0}]]},"Wait for finished1":{"main":[[{"node":"If there are any changes","type":"main","index":0}]]},"Filter empty data2":{"main":[[{"node":"Commit new workflow","type":"main","index":0}]]},"Filter empty data3":{"main":[[{"node":"Commit updated workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"fdcb511a-21ae-4fe1-bab4-de8ea4a2c6a7","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T06:53:19.364Z","createdAt":"2026-02-18T06:53:19.364Z","role":"workflow:owner","workflowId":"zldKSgo2piglJZSn1T6ys","projectId":"xYFaUA8eDj6pQBYB"}],"activeVersion":null,"tags":[],"_source":"input1"}