worflows/Extract_mail
{
  "updatedAt": "2026-02-16T09:26:47.035Z",
  "createdAt": "2026-02-11T15:54:16.658Z",
  "id": "DRkxG3Wzq9tqxVXr-AOhW",
  "name": "git sync",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1280,
        -688
      ],
      "id": "2afaddfd-00b4-45f1-a6db-ce571f680970",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/IAMVENEETH",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "=worflows/{{ $('If').item.json.name}}",
        "fileContent": "={{ JSON.stringify($node[\"When Executed by Another Workflow\"].json, null, 2) }}",
        "commitMessage": "=edited {{ $('If').item.json.name}} file "
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        176,
        -832
      ],
      "id": "7ef75e71-2270-413e-9230-5dcd416927ed",
      "name": "Edit a file",
      "webhookId": "ed9f3689-631c-4e1f-a578-307818c2e424",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "914c1dca-2c8d-4f96-9f07-52d36f35e275",
              "leftValue": "={{ $('If1').item.json.updatedAt }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.updatedAt }}",
              "operator": {
                "type": "dateTime",
                "operation": "before"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        -816
      ],
      "id": "6542dd8a-49ec-4fc4-aaeb-ee9ed9e8c783",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f520e750-f468-4ad7-a0cc-411e84dec5d5",
              "leftValue": "={{ $json.id}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        -688
      ],
      "id": "1d91067b-5e05-4cb3-995d-31686f198ca1",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "IAMVENEETH",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
        },
        "filePath": "=worflows/{{ $('When Executed by Another Workflow').item.json.name }}",
        "fileContent": "={{ JSON.stringify($node[\"When Executed by Another Workflow\"].json, null, 2) }}",
        "commitMessage": "=\"created a new file-{{ $('When Executed by Another Workflow').item.json.name }}\""
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -144,
        -576
      ],
      "id": "bf0f6520-11eb-4ba7-b49a-b06757599bc7",
      "name": "Create a file",
      "webhookId": "4a9249cb-5830-4a05-80f8-c46c76afe071",
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents/worflows",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "d1c3f480-3012-46ab-8b8e-54f8891a7f71",
      "name": "Get Workflows from GitHub1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1040,
        -688
      ],
      "credentials": {
        "githubApi": {
          "id": "1bf24bS8EbVstfQv",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -624,
        -688
      ],
      "id": "4645b03d-1669-4133-8f39-6864892aee1b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4904dcba-7ea8-4d9b-b9cd-af04b20a2068",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('When Executed by Another Workflow').item.json.name }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -832,
        -688
      ],
      "id": "a5f186d7-8afa-4794-9fef-f586bff7af60",
      "name": "Filter"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Get Workflows from GitHub1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflows from GitHub1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c028a798-0168-46a2-9b38-ace3d885ce3d",
  "activeVersionId": "c028a798-0168-46a2-9b38-ace3d885ce3d",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-11T15:54:16.663Z",
      "createdAt": "2026-02-11T15:54:16.663Z",
      "role": "workflow:owner",
      "workflowId": "DRkxG3Wzq9tqxVXr-AOhW",
      "projectId": "xYFaUA8eDj6pQBYB"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-16T09:31:03.000Z",
    "createdAt": "2026-02-16T09:26:47.036Z",
    "versionId": "c028a798-0168-46a2-9b38-ace3d885ce3d",
    "workflowId": "DRkxG3Wzq9tqxVXr-AOhW",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -1280,
          -688
        ],
        "id": "2afaddfd-00b4-45f1-a6db-ce571f680970",
        "name": "When Executed by Another Workflow"
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "https://github.com/IAMVENEETH",
            "mode": "url"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "=worflows/{{ $('If').item.json.name}}",
          "fileContent": "={{ JSON.stringify($node[\"When Executed by Another Workflow\"].json, null, 2) }}",
          "commitMessage": "=edited {{ $('If').item.json.name}} file "
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          176,
          -832
        ],
        "id": "7ef75e71-2270-413e-9230-5dcd416927ed",
        "name": "Edit a file",
        "webhookId": "ed9f3689-631c-4e1f-a578-307818c2e424",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "914c1dca-2c8d-4f96-9f07-52d36f35e275",
                "leftValue": "={{ $('If1').item.json.updatedAt }}",
                "rightValue": "={{ $('When Executed by Another Workflow').item.json.updatedAt }}",
                "operator": {
                  "type": "dateTime",
                  "operation": "before"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -160,
          -816
        ],
        "id": "6542dd8a-49ec-4fc4-aaeb-ee9ed9e8c783",
        "name": "If"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "f520e750-f468-4ad7-a0cc-411e84dec5d5",
                "leftValue": "={{ $json.id}}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -400,
          -688
        ],
        "id": "1d91067b-5e05-4cb3-995d-31686f198ca1",
        "name": "If1"
      },
      {
        "parameters": {
          "resource": "file",
          "owner": {
            "__rl": true,
            "value": "IAMVENEETH",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "n8n",
            "mode": "list",
            "cachedResultName": "n8n",
            "cachedResultUrl": "https://github.com/IAMVENEETH/n8n"
          },
          "filePath": "=worflows/{{ $('When Executed by Another Workflow').item.json.name }}",
          "fileContent": "={{ JSON.stringify($node[\"When Executed by Another Workflow\"].json, null, 2) }}",
          "commitMessage": "=\"created a new file-{{ $('When Executed by Another Workflow').item.json.name }}\""
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1.1,
        "position": [
          -144,
          -576
        ],
        "id": "bf0f6520-11eb-4ba7-b49a-b06757599bc7",
        "name": "Create a file",
        "webhookId": "4a9249cb-5830-4a05-80f8-c46c76afe071",
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.github.com/repos/IAMVENEETH/n8n/contents/worflows",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "id": "d1c3f480-3012-46ab-8b8e-54f8891a7f71",
        "name": "Get Workflows from GitHub1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1040,
          -688
        ],
        "credentials": {
          "githubApi": {
            "id": "1bf24bS8EbVstfQv",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.download_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "json"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -624,
          -688
        ],
        "id": "4645b03d-1669-4133-8f39-6864892aee1b",
        "name": "HTTP Request1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4904dcba-7ea8-4d9b-b9cd-af04b20a2068",
                "leftValue": "={{ $json.name }}",
                "rightValue": "={{ $('When Executed by Another Workflow').item.json.name }}",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.3,
        "position": [
          -832,
          -688
        ],
        "id": "a5f186d7-8afa-4794-9fef-f586bff7af60",
        "name": "Filter"
      }
    ],
    "connections": {
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Get Workflows from GitHub1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Edit a file",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "If1": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create a file",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Workflows from GitHub1": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request1": {
        "main": [
          [
            {
              "node": "If1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "HTTP Request1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Veneeth Batchu",
    "name": "Version c028a798",
    "description": "",
    "autosaved": true
  },
  "tags": []
}